{% extends '../base.html' %}
{% block content %} <!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'学生管理'}]) }}

<div id="Anchor" class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa  fa-table fa-fw mr-5"></i>学生管理</h3>
        <div class="w-base-ext" style="margin: 8px 0 0 20px">
            <!-- <div class="t-del-homework" style="padding-left: 20px; height: 60px">-->
            <select id="teacher-list" class="">
                <option value="">选择教师</option>
                {% for teacher in teachers %}
                <option value="{{teacher._id.toString()}}">
                    {{teacher.displayName}}
                </option>
                {% endfor %}
            </select>
            <!-- </div>-->
        </div>
        <div class="w-base-ext" style="margin: 8px 0 0 20px; display: none" id="class-list-frame">
            <!-- <div class="t-del-homework" style="padding-left: 20px; height: 60px">-->
            <select id="class-list" disabled="true">
                <option value="">选择班级</option>
            </select>
            <!-- </div>-->
        </div>
        <div class="w-base-right w-base-right-ext">
            <a class="v-add-student btn-middle solid-btn-green" href="/school/students/noneClass">未分班学生</a>
        </div>
    </div>

    <div class="w-base-container">

        <!-- TABLE STARTS -->
        <div class="t-del-homework" style="padding-left: 16px; padding-top: 0px">
            <table id="students-list" class="display" width="100%" cellspacing="0" style="border-color: gray;">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>密码</th>
                    <th>性别</th>
                    <th>学校</th>
                    <th>年级</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- TABLE ENDS-->
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
    requirejs(['/js/app/school/manager/list-students.js']);
</script>

{% endblock %}
