{% extends '../base.html' %}
{% block content %} <!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'班级管理'},{'url':'','title':'班级详情'}]) }}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-info-circle fa-fw m-r-xs"></i>班级信息</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班级名称:</label>

                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="className" value="{{clazz.className}}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">管理教师:</label>

                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="ownerDisplayName"
                                   value="{{clazz.ownerDisplayName}}" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="studentCount">学生数量:</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="studentCount" value="{{students.length}}" disabled/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-table fa-fw m-r-xxs"></i>学生列表</h4>
            </div>
            <div class="panel-body">
                <table id="students-list" class="display" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>密码</th>
                        <th>性别</th>
                        <th>学校</th>
                        <th>年级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{student.displayName}}</td>
                        <td>{{student.username}}</td>
                        <td>{{student.password}}</td>
                        <td>{{student.gender}}</td>
                        <td>{{student.onSchool.schoolName}}</td>
                        <td>{{student.onSchool.grade}}</td>
                        <td>
                            <a class="btn btn-info btn-xs btn-custom"
                               href="/school/students/{{student._id.toString()}}">查看</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="/js/entries/school.manager.view-class.js"></script>

{% endblock %}
