{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<input type="hidden" id="homeworkId" value="">
<div class="row">
    <div class="col-xs-24 m-t-lg m-b-lg text-center p-h-xs">
        <p class="f-s-24 f-gray">选择活动类型</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <a class="" href="/school/events/post/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/events-articles.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">发文章</p>

                <p class="m-t-xs f-gray no-m">
                    教育、资讯、亲子、艺术
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/activities/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/events-activties.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">办活动</p>

                <p class="m-t-xs f-gray no-m">
                    适用于各种招生活动类型
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/audition/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/events-audition.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">试听课</p>

                <p class="m-t-xs f-gray no-m">
                    试听邀请、在线报名
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/classroom/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/events-classroom.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">在线课堂</p>

                <p class="m-t-xs f-gray no-m">
                    微课秀、视频课堂
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/photowall/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/events-photo.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">照片墙</p>

                <p class="m-t-xs f-gray no-m">
                    作品展示、学生风采
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/events-zhuanpan.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">大转盘</p>

                <p class="m-t-xs f-gray no-m">
                    抽奖促销、引流吸粉
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/events-grow.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">成长日志</p>

                <p class="m-t-xs f-gray no-m">
                    全面展示学生情况
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/events-vote.png" width="230"></p>

                <p class="f-s-16 f-black m-t-xs">微投票</p>

                <p class="m-t-xs f-gray no-m">
                    吸粉神器、品牌传播
                </p>
            </div>
        </a>
    </div>

</div>

{% endblock %}
{% block javascript %}

{% endblock %}
