{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<input type="hidden" id="homeworkId" value="">
<div class="row">
    <div class="col-xs-24 m-t-lg m-b-lg text-center p-h-xs">
        <p class="f-s-24 f-gray">选择活动类型</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <a class="" href="/school/events/post/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/ls1.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">发文章</p>

                <p class="m-t-xs f-gray">
                    教育、资讯、亲子、艺术
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/audition/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/ls2.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">试听课</p>

                <p class="m-t-xs f-gray">
                    试听邀请、在线报名
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/ls3.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">在线课堂</p>

                <p class="m-t-xs f-gray">
                    微课秀、视频课堂
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="/school/events/activities/edit">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm">
                <p><img src="/images/ls4.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">办活动</p>

                <p class="m-t-xs f-gray">
                    适用于各种招生活动类型
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/ls5.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">照片墙</p>

                <p class="m-t-xs f-gray">
                    作品展示、学生风采
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/ls6.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">微投票</p>

                <p class="m-t-xs f-gray">
                    吸粉神器、品牌传播
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/ls7.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">大转盘</p>

                <p class="m-t-xs f-gray">
                    抽奖促销、引流吸粉
                </p>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a class="" href="">
            <div class="shadow shadow-hover bg-white center-block text-center p-v-sm p-h-sm m-t-md">
                <p><img src="/images/ls8.jpg" width="230"></p>

                <p class="f-s-16 f-black m-t-lg">成长日志</p>

                <p class="m-t-xs f-gray">
                    全面展示学生情况
                </p>
            </div>
        </a>
    </div>
</div>

{% endblock %}
{% block javascript %}

{% endblock %}
