{% extends '../../layout.html' %}
{% block content %}
<!-- 面包屑 -->
<!-- END OF BREADCRUMBS -->
<div id="eventList">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel shadow">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title"><i class="fa fa-bookmark m-r-xs"></i>{{templateName}}&nbsp;&nbsp;({{total}})</h4>
                    <div class="panel-control">
                        <a class="btn btn-info btn-sm pull-right" href="/school/events">
                            <i class="fa fa-plus m-r-xxs"></i>活动发布
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <Loading :loading="loading"></Loading>
        </div>
        <div class="col-xs-10">
            <div v-show="!loading">
                <div class="events-item">
                    <ul class="list-unstyled">
                        <event-item v-for="event in events" :event="event"></event-item>
                    </ul>
                    <div class="tips" v-show="events.length === 0">
                        <img class="center-block" src="/images/tips-ku.png">
                        <p class="m-t-lg">当前分类没有活动</p>
                        <p>赶快去<a class="f-info" href="/school/events">发布</a>吧！</p>
                    </div>
                </div>
                <Pagination v-show="events.length > 0"
                            :total="total"
                            :limit="limit"
                            @page-change="pageChange">
                </Pagination>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="category-sidebar shadow">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <p class="b-b p-v-sm p-h-xs no-m f-gray">活动类型</p>
                    </li>
                    <li v-bind:class="{'active': template === 'all'}">
                        <a href="javascript:void(0)" @click="template = 'all'">全部活动</a>
                    </li>
                    <li v-bind:class="{'active': template === 'article'}">
                        <a href="javascript:void(0)" @click="template = 'article'">文章</a>
                    </li>
                    <li v-bind:class="{'active': template === 'activity'}">
                        <a href="javascript:void(0)" @click="template = 'activity'">活动</a>
                    </li>
                    <li v-bind:class="{'active': template === 'audition'}">
                        <a href="javascript:void(0)" @click="template = 'audition'">试听课</a>
                    </li>
                    <li v-bind:class="{'active': template === 'classroom'}">
                        <a href="javascript:void(0)" @click="template = 'classroom'">在线课堂</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<template id="eventItem">
    <li>
        <div class="media">
            <div class="media-left">
                <a href="/school/events/manage/{{event._id}}">
                    <img :src="event.coverImage | visit" width="200px" height="140px">
                    <span class="label label-info label-{{event.template}}">{{templateName}}</span>
                </a>
            </div>
            <div class="media-body">
                <div class="m-l-xxs">
                    <a href="/school/events/manage/{{event._id}}" class="post-item-title">
                        <p class="media-heading event-title m-t-xxs">{{event.title}}</p>
                        <div class="task-tag">
                            <span class="label label-light-info" v-for="tag in event.tags">{{tag}}</span>
                        </div>
                    </a>
                    <div class="f-gray m-t-xxs">
                        <p><span class="m-t-md">发布时间：</span>
                            {{event.createdTime | date}}
                        </p>
                        <p class="m-t-sm">
                            <span>所属分类：</span>
                            {{templateName}}
                        </p>
                        <div class="m-t-sm">
                            <span class="m-r-md">阅读：{{event.visit || 0}}</span>
                            <span>赞：{{event.like}}</span>
                            <div class="pull-right m-r-xs m-t-n-xxs">
                                <a class="f-gray m-r-lg" href="/school/events/manage/{{event._id}}"><i
                                        class="icon icon-shezhi m-r-xxs"></i>管理</a>
                                <a class="f-gray" href="/school/events/edit/{{event._id}}"><i
                                        class="icon icon-xiugai m-r-xxs"></i>编辑</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>

{% endblock %}


{% block javascript %}
<script src="/js/entries/common/events/list-events.js"></script>
{% endblock %}


