{% extends '../../layout.html' %}
{% block content %}
<!-- 面包屑 -->
<!-- END OF BREADCRUMBS -->
<div id="eventList">
    <div class="row m-b-md">
        <div class="col-xs-10">
            <p class="f-s-18 no-m m-t-xxs m-l-xs f-gray"><i class="glyphicon glyphicon-bookmark m-r-xs"></i>{{currentCategory}}</p>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-default btn-sm btn-block" href="/school/events">
                <i class="glyphicon glyphicon-plus m-r-xxs"></i>活动发布
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div class="events-item">
                <ul class="list-unstyled">
                    <event-item v-for="event in events" :event="event"></event-item>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="category-sidebar shadow">
                <ul class="nav nav-pills nav-stacked" id="selectCategory">
                    <li>
                        <p class="b-b p-v-sm p-h-xs no-m f-gray">活动类型</p>
                    </li>
                    <li v-bind:class="{'active': currentCategory === '全部活动'}">
                        <a href="javascript:void(0)" @click="selectCategory('全部活动')">全部活动</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" @click="selectCategory('文章')">文章</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" @click="selectCategory('活动')">活动</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" @click="selectCategory('试听课')">试听课</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" @click="selectCategory('在线课堂')">在线课堂</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<template id="eventItem">
    <li>
        <div class="media">
            <div class="media-left">
                <a href="/school/events/manage/{{event._id}}">
                    <img :src="event.coverImage | visit" width="200px" height="140px">
                </a>
            </div>
            <div class="media-body">
                <div class="m-l-xxs">
                    <a href="/school/events/manage/{{event._id}}" class="post-item-title">
                        <p class="media-heading event-title m-t-xxs">{{event.title}}</p>
                        <div class="task-tag">
                            <span class="label label-light-info" v-for="tag in event.tags">{{tag}}</span>
                        </div>
                    </a>
                    <div class="f-gray m-t-xxs">
                        <p><span class="m-t-md">发布时间：</span>
                            {{event.createdTime | date}}
                        </p>
                        <p class="m-t-sm">
                            <span>所属分类：</span>
                            {{eventType}}
                        </p>
                        <div class="m-t-sm">
                            <span class="m-r-md">阅读：{{event.visitCount}}</span>
                            <span>赞：{{event.like}}</span>
                            <div class="pull-right m-r-xs m-t-n-xxs">
                                <a class="f-gray m-r-lg" href="/school/events/manage/{{event._id}}"><i
                                        class="icon icon-shezhi m-r-xxs"></i>管理</a>
                                <a class="f-gray" href="/school/events/edit/{{event._id}}"><i
                                        class="icon icon-xiugai m-r-xxs"></i>编辑</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>

{% endblock %}


{% block javascript %}
<script src="/js/entries/common/events/list-events.js"></script>
{% endblock %}


