{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="row" id="taskApp">
    <input type="hidden" id="eventId" value="<<eventId>>">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/school/events/manage/<<eventId>>">
                        活动概览
                    </a>
                </li>
                <li>
                    <a href="/school/events/manage/<<eventId>>/enroll">
                        报名管理
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:void(0)">
                        积分任务
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">任务管理</h4>
                <div class="panel-control">
                    <button class="btn btn-default btn-sm" data-toggle="modal" @click="showModal">
                        <i class="glyphicon glyphicon-plus m-r-xxs"></i>
                        设为任务
                    </button>
                </div>
            </div>
            <div class="panel-body panel-min-h">

                <input type="hidden" name="eventId" value="<<event._id.toString()>>">
                <div class="task-list">
                    <task-item v-for="task in tasks"
                               :task="task"
                               :index="$index"
                               @open-task="openTask"
                               @close-task="closeTask"
                               @delete-task="deleteTask"></task-item>
                </div>
                <div class="tips" v-show="tasks.length === 0">
                    <img class="center-block" src="/images/tips-ku.png">
                    <p class="m-t-lg">还没有设置积分任务哦</p>
                    <p>快去点击上方的按钮添加吧！</p>
                </div>
            </div>
        </div>
    </div>
    <task-modal v-ref:modal @add-task="addTask"></task-modal>
</div>


<script type="x/template" id="taskModalTemplate">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">任务设置</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t-sm" id="taskForm" name="taskForm">
                        <input type="hidden" v-model="_id">
                        <div class="form-group">
                            <label for="title" class="col-xs-2 control-label">任务名称</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" id="title" v-model="task.title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="scoreAward" class="col-xs-2 control-label">奖励积分</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" id="scoreAward" v-model="task.scoreAward">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-9">
                                <button type="button" class="btn btn-info" @click="add" :disabled="loading">
                                    确定<i class="fa fa-circle-o-notch fa-spin m-l-md" v-show="loading"></i>
                                </button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</script>

<script type="x/template" id="taskTemplate">
    <div class="task-item">
        <div class="task-header">
            <p class="task-title">{{task.title}}</p>
            <span class="label label-light-info pull-right" v-show="task.state===0">进行中</span>
            <span class="label label-light-success pull-right" v-show="task.state===1">已关闭</span>
        </div>
        <p class="f-gray">创建时间：{{task.createdTime | date}}</p>
        <div class="task-footer">
            <div class="task-info f-gray">
                <span>奖励积分：<span class="f-info m-l-xs">{{task.scoreAward}}</span></span>
                <span class="m-l-lg">完成人数：<span class="f-info m-l-xs">{{task.participants}}</span></span>
            </div>
            <div class="task-control">
                <a href="javascript:void(0)" @click="modify" v-show="task.state===0"><i
                        class="icon icon-xiugai f-s-14 m-r-xxs"></i>修改任务</a>
                <a href="#" @click="close" v-show="task.state===0"><i
                        class="icon icon-shezhi f-s-14 m-r-xxs"></i>关闭任务</a>
                <a href="#" @click="open" v-show="task.state===1"><i
                        class="icon icon-shezhi f-s-14 m-r-xxs"></i>打开任务</a>
                <a href="#" @click="delete"><i class="icon icon-shanchu f-s-14 m-r-xxs"></i>删除任务</a>
            </div>
        </div>
    </div>
</script>
{% endblock %}

{% block javascript %}
<script src="/js/entries/common/events/manage-task.js"></script>
{% endblock %}
