{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="row" id="enrollApp">
    <input type="hidden" id="eventId" value="<<eventId>>">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/school/events/manage/<<eventId>>">
                        活动概览
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:void(0)">
                        报名管理
                    </a>
                </li>
                <li>
                    <a href="/school/events/manage/<<eventId>>/task">
                        积分任务
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">报名管理</h4>
                <div class="panel-control">
                    <button class="btn btn-default btn-sm" id="exportExcel">
                        <i class="fa fa-cloud-download m-r-xxs"></i>导出excel
                    </button>
                </div>
            </div>
            <div class="panel-body">
                {% if enroll %}
                <table class="table" id="enrollTable">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>手机</th>
                        {% for field in enroll.fields %}
                        <th><<field.label>></th>
                        {% endfor %}
                        <th>报名时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for enrollName in enrollNames %}
                    <tr>
                        <td> <<enrollName.name>> </td>
                        <td> <<enrollName.phone>> </td>
                        {% for field in enrollName.fields %}
                          <td> <<field>> </td>
                        {% endfor %}
                        <td><< enrollName.createdTime |date('Y-m-d',-480)>></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}

                <div class="tips">
                    <img class="center-block" src="/images/tips-ku.png">
                    <p class="m-t-lg">分享至微信，微博，QQ等平台</p>
                    <p>召集小伙伴来报名吧！</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/entries/common/events/manage-enroll.js"></script>
{% endblock %}
