{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="javascript:void(0)">
                        活动概览
                    </a>
                </li>
                {% if event.template === 'activity' || event.template === 'audition' %}
                <li>
                    <a href="/school/events/manage/<<event._id.toString()>>/enroll">
                        报名管理
                    </a>
                </li>
                {% endif %}
                {% if event.template === 'vote' %}
                <li>
                    <a href="/school/events/manage/<<event._id.toString()>>/vote/enroll">
                        报名审核
                    </a>
                </li>
                <li>
                    <a href="/school/events/manage/<<event._id.toString()>>/vote">
                        选手列表
                    </a>
                </li>
                {% endif %}
                {% if event.template != 'vote' %}
                <li>
                    <a href="/school/events/manage/<<event._id.toString()>>/task">
                        积分任务
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">活动概览</h4>
                <div class="panel-control">
                    <a target="_blank" class="btn btn-info btn-sm" href="/school/events/manage/<<event._id.toString()>>/preview">
                        <i class="fa fa-external-link m-r-xxs"></i>预览</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="manage">
                    <div class="manage-header">
                        <input type="hidden" id="eventTitle" value="<<event.title>>">
                        <p class="manage-title">
                            <<event.title>>
                        </p>
                        <div class="manage-control">
                            <a class="f-info" href="/school/events/edit/<<event._id.toString()>>"><i
                                    class="fa fa-pencil m-r-xxs"></i>活动编辑</a>

                            <a class="f-info m-l-md deleteEvent" href="javascript:void(0)"
                               id="<<event._id.toString()>>"><i class="fa fa-trash-o m-r-xxs"></i>活动删除</a>
                        </div>
                    </div>
                    <div class="manage-num m-t-md">
                        <ul class="list-unstyled">
                            <li>
                                <span>阅读</span>
                                <div><<event.visit>>
                                </div>
                            </li>
                            <li>
                                <span>分享</span>
                                <div><<event.share>>
                                </div>
                            </li>
                            <li>
                                <span>喜欢</span>
                                <div><<event.like>>
                                </div>
                            </li>
                            {% if event.enroll %}
                            <li class="no-b"><span>报名</span>
                                <div><<event.enrollCount>></div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="manage-share m-t-md">
                        <div class="media">
                            <div class="media-left">
                                <input type="hidden" value="<<wxUrl>>" id="wxUrl">
                                <a href="#">
                                    <img class="media-object b" src="<<qrcode>>" alt="..." width="170">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading f-s-26 f-normal f-info m-t-xxs">活动二维码</h4>
                                <p class="m-t-md">这是活动的专属二维码，赶紧扫描分享给朋友们吧!</p>
                                <div class="row">
                                    <div class="link-title col-xs-2">活动链接：</div>
                                    <div class="col-xs-8"><input class="form-control" id="copyFromTxt" type="text" value="<<wxUrl>>"></div>
                                    <div class="col-xs-2"><button class="btn btn-info btn-sm" id="copyBtn">复制</button></div>
                                </div>
                                <div class="share share-lg">
                                    <p class="m-t-md">分享：</p>
                                    <div class="bdsharebuttonbox" data-tag="share_1">
                                        <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                                        <a class="bds_tsina" data-cmd="tsina"></a>
                                        <a class="bds_baidu" data-cmd="baidu"></a>
                                        <a class="bds_renren" data-cmd="renren"></a>
                                        <a class="bds_tqq" data-cmd="tqq"></a>
                                        <a class="bds_douban" data-cmd="douban"></a>
                                        <a class="bds_sqq" data-cmd="sqq"></a>
                                        <a class="bds_weixin" data-cmd="weixin"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/entries/common/events/manage-event.js"></script>
{% endblock %}
