{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">
                        活动概览
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        积分任务
                    </a>
                </li>
                <li>
                    <a href="#">
                        报名管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">任务管理</h4>
            </div>
            <div class="panel-body panel-min-h">
                <div class="alert-2 alert-warning-2">
                    提示：任务信息如果已经创建，则无法进行修改，如果需要请关闭任务后重新创建！
                </div>
                <div class="task-control">
                    <div class="task-state">
                        任务状态
                    </div>
                    <div class="switch">
                        <input type="checkbox" name="task" data-on-text="开启" data-off-text="关闭"
                               data-on-color="success" data-off-color="warning" checked/>
                    </div>
                </div>

                <div class="task-score">
                    <form class="form-horizontal hides" id="taskScore" name="taskScore">
                        <div class="form-group">
                            <label class="task-label">奖励积分</label>
                            <div class="col-xs-8">
                                <input type="hidden" name="eventId" value="<<event._id.toString()>>">
                                <input class="form-control validate" type="text"
                                       id="scoreAward" name="scoreAward"
                                       value="<<event && event.task && event.task.scoreAward>>"
                                       data-rules="required|integer"
                                       data-display="积分">
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-default" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tips">
                    <img class="center-block" src="/images/tips-ku.png">
                    <p class="m-t-lg">还没有设置积分任务哦</p>
                    <p>快去点击上方的开启按钮开启吧！</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/entries/common/events/manage-task.js"></script>
{% endblock %}
