{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="row" id="enrollApp">
    <input type="hidden" id="eventId" value="<<eventId>>">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/school/events/manage/<<eventId>>">
                        活动概览
                    </a>
                </li>

                <li class="active">
                    <a href="javascript:void(0)">
                        报名审核
                    </a>
                </li>
                <li>
                    <a href="/school/events/manage/<<eventId>>/vote">
                        选手列表
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">报名管理</h4>
                <div class="panel-control">
                    <button type="button"
                            @click="auditAll"
                            class="btn btn-info btn-block"><i
                            class="fa fa-check m-r-xxs"></i>一键审核
                    </button>
                </div>
            </div>
            <div class="panel-body panel-min-h">
                <Loading v-if="loading"></Loading>
                <div class="vote-enroll-list" id="voteEnrollList">

                    <player-item v-for="player in players"
                                 :player="player"
                                 :delete="deletePlayer"
                                 :audit="auditPlayer"
                                 :index="$index">
                    </player-item>
                </div>
                <Pagination v-show="players.length > 0"
                            :total="total"
                            :limit="limit"
                            @page-change="pageChange">
                </Pagination>
                <div class="tips" v-show="players.length === 0 && loading === false">
                    <img class="center-block" src="/images/tips-ku.png">
                    <p>暂时还没有人报名!</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script type="x/template" id="playerItemTemplate">
    <div class="vote-enroll-item">
        <div class="vote-enroll-number">{{index + 1}}</div>
        <div class="vote-enroll-info">
            <p>{{player.name}}</p>
            <p>手机：{{player.phone}}</p>
            <p>报名时间：{{player.createdTime | date}}</p>
        </div>
        <div class="vote-enroll-img">
            <div class="img-box" v-for="image in player.images">
                <img class="img-thumbnail" width="80" :src="image | visit">
            </div>
        </div>
        <div class="vote-enroll-details">
            <textarea class="form-control" disabled>描述：{{player.brief}}</textarea>
        </div>
        <div class="vote-enroll-approve">
            <a class="f-info m-r-xs" @click="audit(player._id)"><i class="fa fa-check m-r-xxs"></i>审核</a>
            <a class="f-info" @click="delete(player._id,index)"><i class="fa fa-trash-o m-r-xxs"></i>删除</a>
        </div>
    </div>
</script>
<script src="/js/entries/common/events/vote-enroll.js"></script>
{% endblock %}
