{% extends '../base.html' %}

{% block content %}

<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'班级管理'}]) }}
<!-- END OF BREADCRUMBS -->

<!-- 班级列表 -->
<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title" style="border-bottom: 0">
        <h3><i class="fa fa-list mr-5"></i>班级列表</h3>

        <div class="w-base-right" style="margin-right: 10px;">
            <a class="v-add-student w-btn w-btn-green w-btn-mini" style="width: 102px;letter-spacing: 1px;"
               href="javascript:void(0);" id="addClazz">+添加班级</a>
        </div>
    </div>
</div>
<div id="classList">
    <div class="class-empty-tips" style="display: none">
        <div class="tip-content">提示：当前没有任何班级，请点击 [添加班级] 创建班级！</div>
    </div>
</div>


<!-- 添加b班级提示框-->
<div class="jqi " id="class-dialog">
    <div class="jqiclose layer-close-btn">×</div>
    <div class="jqistates">
        <div class="jqititle ">班级信息</div>
        <form id="class-form">
            <div class="jqimessage ">
                <div class="define location">
                    请输入班级名称：
                    <input type="text" placeholder="比如：新概念英语1班" value="" name="className">
                </div>
            </div>
        </form>
        <div class="jqibuttons ">
            <button class="layer-ok-btn">保存</button>
        </div>
    </div>
    <!--</form>-->
</div>

<!-- 转让班级DIV -->
<div class="jqi" id="exchange-class">
    <div class="jqiclose layer-close-btn">×</div>
    <div class="jqistate">
        <div class="jqititle ">转让信息</div>
        <form id="exchange-form">
            <div class="jqimessage ">
                <div class="define location">
                    <span>请输入将要更换的老师工号：</span>
                    <input type="text" name="username" id="username">
                </div>
            </div>
        </form>
        <div class="jqibuttons ">
            <button class="layer-ok-btn">确认转让</button>
        </div>
    </div>
</div>
{% include '../../templates/classTemplate.html' %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/manager/list-classes.js']);
</script>

{% endblock %}
