{% extends '../base.html' %}
{% block content %}

<!-- 班级列表 -->
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="/teacher/classes">
                        我的班级
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        一对一管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">班级列表</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 m-b-md">
                        <a class="class-add" href="javascript:void(0)" id="addClazz">
                            <div class="class-add-group">
                                <div class="class-icon">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <p>创建新班级</p>
                            </div>
                        </a>
                    </div>
                    <div id="classList"></div>
                </div>
                <!--<div id="classList">-->
                    <!--<div class="hides">-->
                        <!--<div class="tip-content">提示：当前没有任何班级，请点击 [添加班级] 创建班级！</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!--<div class="w-base w-base-extraction w-base-border">-->
    <!--<div class="w-base-title" style="border-bottom: 0">-->
        <!--<h3><i class="fa fa-list mr-5"></i>班级列表</h3>-->

        <!--<div class="w-base-right" style="margin-right: 10px;">-->
            <!--<a class="v-add-student btn-middle solid-btn-green"-->
               <!--href="javascript:void(0);" id="addClazz">+添加班级</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="classList">-->
    <!--<div class="hides">-->
        <!--<div class="tip-content">提示：当前没有任何班级，请点击 [添加班级] 创建班级！</div>-->
    <!--</div>-->
<!--</div>-->


<!-- 添加b班级提示框-->
<div class="hides" id="class-dialog">
    <form class="form-horizontal m-t-md" id="class-form">
        <div class="form-group">
            <label class="col-xs-4 control-label">请输入班级名称：</label>
            <div class="col-xs-7">
                <input class="form-control" type="text" placeholder="比如：新概念英语1班" value="" name="className">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-7">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
    <!--</form>-->
</div>

<!-- 转让班级DIV -->
<div class="hides" id="exchange-class">
    <form class="form-horizontal m-t-sm" id="exchange-form">
        <div class="form-group">
            <label class="col-xs-4 control-label">请输入老师工号：</label>
            <div class="col-xs-7">
                <input class="form-control" type="text" name="username" id="username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-7">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
</div>
{% include '../../templates/classTemplate.html' %}

{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/manager/list-classes.js"></script>

{% endblock %}
