{% extends '../base.html' %}

{% block content %}

<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'班级管理'}]) }}
<!-- END OF BREADCRUMBS -->

<!-- 班级列表 -->
<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title" style="border-bottom: 0">
        <h3><i class="fa fa-list mr-5"></i>班级列表</h3>

        <div class="w-base-right" style="margin-right: 10px;">
            <a class="v-add-student w-btn w-btn-green w-btn-mini" style="width: 102px;letter-spacing: 1px;"
               href="javascript:void(0);" id="addClazz">+添加班级</a>
        </div>
    </div>
</div>
<div id="classList">
    <div class="class-empty-tips" style="display: none">
        <div class="tip-content">提示：当前没有任何班级，请点击 [添加班级] 创建班级！</div>
    </div>
</div>


<!-- 添加b班级提示框-->
<div class="invisible " id="class-dialog">
    <form class="form-control" id="class-form">
        <div class="form-group">
            <label>请输入班级名称：</label>
            <input type="text" placeholder="比如：新概念英语1班" value="" name="className">
        </div>
        <div class="form-group btn-position">
            <a class="btn-middle solid-btn-blue layer-ok-btn">确定</a>
            <a class="btn-middle solid-btn-gray layer-close-btn">取消</a>
        </div>
    </form>
    <!--</form>-->
</div>

<!-- 转让班级DIV -->
<div class="invisible" id="exchange-class">
    <form class="form-control" id="exchange-form">
        <div class="form-group">
            <label>请输入将要更换的老师工号：</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="form-group btn-position">
            <a class="btn-middle solid-btn-blue layer-ok-btn">确定</a>
            <a class="btn-middle solid-btn-gray layer-close-btn">取消</a>
        </div>
    </form>
</div>
{% include '../../templates/classTemplate.html' %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/manager/list-classes.js']);
</script>

{% endblock %}
