{% extends '../base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="student-profile-header">
            <div class="avatar text-center">
                <img class="lazy" src="/images/default_head.jpg" {% if student.avatar %}
                     data-original="{{resourceURL}}/{{student.avatar}}" {% endif %} width="150px"
                     height="150px">
            </div>
            <div class="pro-name text-center m-t-lg">
                <p class="f-white f-s-18 m-r-xxl">{{student.displayName}}</p>
                <p class="f-white f-s-16">{{student.username}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/teacher/students/{{student._id.toString()}}">基本信息</a></li>
                <li><a href="/teacher/students/connect/{{student._id.toString()}}">电话记录</a></li>
                <li class="active"><a href="/teacher/students/scores/{{student._id.toString()}}">积分记录</a></li>
                <li><a href=""> 作业记录</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">积分记录</h4>
            </div>
            <div class="panel-body">
                <div class="scores-list" id="scoresList">

                    {% for log in logs %}
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object img-circle" src="/images/default_head.jpg" {% if
                                         student.avatar %}
                                         data-original="{{resourceURL}}/{{student.avatar}}" {% endif %} width="50px"
                                         height="50px">
                                </div>
                                <div class="media-body">
                                    <div class="scores-list-title">
                                        <h4 class="media-heading f-s-18 f-normal m-t-xxs">
                                            <span class="f-default">+10</span>
                                        </h4>
                                        <p class="f-s-12 f-gray m-t-xs">
                                            <span class="m-r-lg">发布时间：2016-1-7 15:32:34</span>
                                            <span>发布人：李静</span>
                                        </p>
                                    </div>
                                    <div class="spread">
                                        <a class="f-info pull-right panel-collapse f-normal">备注<i
                                                class="fa fa-sort-desc m-l-xxs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body hides">
                            <p class="scores-details">11111</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/manager/view-student.js"></script>

{% endblock %}
