{% extends '../../layout.html' %}
{% block content %}

<div class="row" id="createHomework">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="/teacher/homework/create">
                        发布作业
                    </a>
                </li>
                <li>
                    <a href="/teacher/homework">
                        作业管理
                    </a>
                </li>
                <li>
                    <a href="/teacher/homework/history">
                        作业历史
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default shadow">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">作业信息</h4>
                    </div>
                    <div class="panel-body">
                        <form action="" id="homeworkInfo" class="form-horizontal m-t-lg">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">班级：</label>
                                <div class="col-xs-7 t-homeworkClass-list">
                                    <ul class="list-unstyled" id="classList">
                                        {% for clazz in classes %}
                                        <li id="<<clazz._id.toString()>>" title="<<clazz.className>>"
                                            @click.stop="addClass">
                                            <p> <<clazz.className | subTitle(6)>>
                                            </p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group m-t-n-xs">
                                <label class="col-xs-2 control-label">作业标题：</label>
                                <div class="col-xs-6">
                                    <input class="form-control" type="text"
                                           placeholder="比如：新概念英语第一单元单词巩固练习"
                                           id="homework-title" value="<<homework.title>>"
                                           v-model="title"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addQuizBase" class="col-xs-2 control-label">加入题库：</label>
                                <div class="col-xs-6">
                                    <select class="form-control" id="addQuizBase"
                                            v-model="addQuizBase">
                                        <option value="true" selected>是</option>
                                        <option value="false">否</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="finishAward" class="col-xs-2 control-label">完成奖励：</label>
                                <div class="col-xs-6">
                                    <input class="form-control" id="finishAward" type="text" placeholder="0"
                                           v-model="finishAward"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="performanceAward" class="col-xs-2 control-label">满分奖励：</label>
                                <div class="col-xs-6">
                                    <input class="form-control" id="performanceAward" type="text" placeholder="0"
                                           v-model="performanceAward"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="keyPoint" class="col-xs-2 control-label">知识重点：</label>
                                <div class="col-xs-6">
                            <textarea class="form-control" rows="3"
                                      cols="25"
                                      wrap="hard"
                                      id="keyPoint" name="keyPoint"
                                      v-model="keyPoint"></textarea>
                                    <input type="hidden" value="" id="keyPointRecord"
                                           v-model="keyPointRecord"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-2">
                                    <button class="btn btn-default" id="localAudioUploadButton">
                                        <i class="glyphicon glyphicon-cloud-upload m-r-xs"></i>上传录音
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/teacher/guider" target="_blank"><i class="icon icon-yiwen m-r-xs"></i>如何上传录音</a>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 m-t-md" v-show="keyPointRecord">
                                    <audio src="http://resource.hizuoye.com/{{keyPointRecord}}" controls="controls">
                                        请使用360极速浏览器
                                    </audio>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="keypoint-recording-display"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" id="exerciseList">
                <div class="panel panel-default shadow">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">题目列表</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row m-t-lg">
                            <quiz v-for="exercise in exercises"
                                  @delete-exercise="deleteExercise"
                                  :index="$index"
                                  :exercise="exercise">
                            </quiz>

                            <div class="col-xs-offset-1 col-xs-10">
                                <div class="panel panel-white">
                                    <div class="panel-body">
                                        <div class="row m-t-xs text-center">
                                            <div class="col-xs-3">
                                                <a class="btn btn-home btn-info btn-custom btn-lg"
                                                   @click="addExercise(0)"><i class="glyphicon glyphicon-ok m-r-xs"></i>单选题</a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a class="btn btn-home btn-info btn-custom btn-lg "
                                                   @click="addExercise(1)"><i class="glyphicon glyphicon-picture m-r-xs"></i>图片题</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a class="btn btn-home btn-info btn-custom btn-lg "
                                                   @click="addExercise(2)"><i
                                                        class="glyphicon glyphicon-list-alt m-r-xs"></i>填空题</a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a class="btn btn-home btn-info btn-custom btn-lg "
                                                   @click="addExercise(3)"><i class="glyphicon glyphicon-volume-up m-r-xs"></i>语音题</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-b-md">
                <a class="col-xs-offset-5 col-xs-2 btn btn-info" @click="saveHomework">保存作业</a>
            </div>
        </div>

    </div>

</div>

<!-- 题型模版 -->

<div class="hides" id="forward-to-classes">
    <form class="form-horizontal">
        <div class="form-group">
            <span>现在还没有班级，不能布置作业！</span>
        </div>

        <div class="form-group">
            <a class="btn btn-info layer-ok-btn">去新建班级</a>
        </div>
    </form>
</div>


{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/homework/create-homework.js"></script>

{% endblock %}
