{% extends '../../layout.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/teacher/homework/create">
                        发布作业
                    </a>
                </li>
                <li>
                    <a href="/teacher/homework">
                        作业管理
                    </a>
                </li>
                <li class="active">
                    <a href="/teacher/homework/history">
                        作业历史
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">作业历史</h4>
            </div>
            <div class="panel-body">
                <table id="homework-list" class="display" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>作业名称</th>
                        <th>班级</th>
                        <th>总人数</th>
                        <th>完成人数</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for homework in homeworkList %}
                    <tr>
                        <td class="text-left" title="<<homework.title>>"><<homework.title | subTitle(6)>></td>
                        <td title="<<homework.className>>"><<homework.className | subTitle(6)>></td>
                        <td><<homework.statistics.studentCount>></td>
                        <td><<homework.statistics.studentCountOfFinished>> 人</td>
                        <td><<homework.createdTime | date('Y-m-d')>></td>
                        <td>
                            <a class="f-info"
                               href="/teacher/homework/<<homework._id.toString()>>/history"><i class="iconfont icon-jiancha"></i></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/homework/list-homework-history.js"></script>

{% endblock %}
