{% extends '../../layout.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<input type="hidden" name="homeworkId" id="homeworkId" value="<<homework._id.toString()>>"/>
<div class="row">
    <div class="col-xs-4">
        <div class="panel info-box info-box-info">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter">
                        <span><< homework.statistics.averageSpendSeconds>></span><span class="thin">:</span>
                        <span><< homework.statistics.averageSpendSeconds>></span><span class="thin">:</span>
                        <span><< homework.statistics.averageSpendSeconds>></span><span class="thin"></span>
                    </p>
                    <span class="info-box-title">平均完成时间</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-clock-o f-info"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel info-box info-box-default">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter"><<(homework.statistics.finishRate * 100).toFixed(0)>>%</p>
                    <span class="info-box-title">作业完成率</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-flag-o f-default"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel info-box info-box-pink">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter"><<(homework.statistics.wrongRate * 100).toFixed(0)>>%</p>
                    <span class="info-box-title">平均错误率</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-frown-o f-pink"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">作业错误率分布</h4>
            </div>
            <div class="panel-body">
                <div id="column-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">学生完成情况</h4>
            </div>
            <div class="panel-body">
                <table id="homework-list" class="display">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>完成情况</th>
                        <th>完成时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for performance in homework.performances %}
                    <tr>
                        <td><<performance.student.displayName>></td>
                        <td><<performance.student.username>></td>
                        <td>
                            {% if performance.state === 1 %}
                            完成
                            {% elif performance.state === 2 %}
                            已检查
                            {% else %}
                            未完成
                            {% endif %}
                        </td>
                        <td>
                            {% if performance.state === 0 %}
                            -
                            {% else %}
                            <<performance.finishedTime | date('Y-m-d H:i:s', -480, 'CCT')>>
                            {% endif %}
                        </td>
                        <td>
                            {% if performance.state !== 0 %}
                            <a class="f-info"
                               href="/teacher/homework/<<homework._id.toString()>>/students/<<performance.student._id.toString()>>"><i class="iconfont icon-jiancha"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        {% if homework.state == 1 %}
        <a class="btn btn-default" href="/teacher/homework/history">返回列表</a>
        {% else %}
        <a class="btn btn-default" href="/teacher/homework">返回列表</a>
        <button class="btn btn-pink" id="close-homework-btn">关闭作业</button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/homework/view-classDetail.js"></script>

{% endblock %}
