{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'新建文章'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa  fa-file-text-o fa-fw m-r-xxs"></i>新建文章</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5">
                        <img class="b" width="320px" height="200px" id="indexImage"
                             {% if post %}
                             src="http://resource.hizuoye.com/{{post.image}}"
                             {% else %}
                             src="http://static.hizuoye.com/images/coverpage_default.png"
                             {% endif %}>
                        <p class="m-t-xs">上传封面图片<span class="tip">(建议尺寸: 900像素x500像素)</span></p>

                        <input type="file" id="local_image_upload" class="image-upload">
                        <button class="btn btn-success btn-xs m-t-xs"
                                id="chooseFromLibrary">
                            图片库选择
                        </button>
                        <div class="m-t-xs">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#home" data-toggle="tab">
                                        标题
                                    </a>
                                </li>
                                <li><a href="#ios" data-toggle="tab">正文</a></li>
                                <li><a href="#ios" data-toggle="tab">图片</a></li>
                                <li><a href="#ios" data-toggle="tab">关注</a></li>
                                <li><a href="#ios" data-toggle="tab">分享</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <p>W3Cschoool菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
                                </div>
                                <div class="tab-pane fade" id="ios">
                                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                                </div>
                                <div class="tab-pane fade" id="jmeter">
                                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                                </div>
                                <div class="tab-pane fade" id="ejb">
                                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <form class="form-horizontal" id="postForm" method="post">
                            <div class="form-group">
                                <div class="col-xs-11">
                                    <input type="hidden" name="image" id="coverImage" value="{{post.image}}"/>
                                    <input type="hidden" value="{{post._id.toString()}}" id="postId"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">标题：</label>

                                <div class="col-xs-10">
                                    <input class="form-control" type="text" id="postTitle" value="{{post.title}}"
                                           name="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">栏目：</label>

                                <div class="col-xs-10">
                                    <select name="category" id="category" class="form-control">
                                        <option value="">选择栏目</option>
                                        {% for category in categories %}
                                        <option value="{{category._id.toString()}}"
                                                {% if post && post.category.toString()=== category._id.toString() %}
                                                selected{% endif %}
                                                {% if currentCategory=== category._id.toString() %}
                                                selected {%endif %}>

                                            {{category.name}}
                                        </option>
                                        {% endfor %}
                                        {% if categories.length === 0 %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">阅读量：</label>

                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="visitCount"
                                           id="visitCount" value="{{post && post.visitCount || 0}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">分享量：</label>

                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="shareCount"
                                           id="shareCount" value="{{post && post.shareCount || 0}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">点赞数：</label>

                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="like"
                                           id="like" value="{{post && post.like || 0}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">首页文章：</label>

                                <div class="col-xs-10">
                                    <input type="radio" name="isSlide" id="useSlide" value="1"
                                           {% if post && post.isSlide %} checked {% endif %}>
                                    <span class="">是</span>
                                    <input type="radio" name="isSlide" id="noSlide" value="0"
                                           {% if !post || !post.isSlide %} checked {% endif %}>
                                    <span class="">否</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="textarea-container" id="postContent">
                                    <!--<textarea id="postContent" name="content">{{post.content}}</textarea>-->
                                </div>
                                <input type="hidden" name="content" id="content" value="{{post.content}}">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row m-t-lg">
                    <div class="col-md-offset-5 col-md-2">
                        <button class="btn btn-success btn-block" id="savePost">
                            {% if update %} 修改 {% else %} 发布 {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '../../common/media-lib.html' %}
{% endblock %}

{% block javascript %}
<script>
    requirejs(['/js/app/school/site/create-post.js']);
</script>

{% endblock %}
