{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'', 'title':'图片素材管理'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-picture-o fa-fw m-r-xxs"></i>图片素材管理</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-10 b-r">
                        <div class="wx-img-materials-left-frame">
                            <div class="wx-img-materials-group">
                                <p class="title">
                                    <span class="group_name global_info_ele" id="currentGroup" title="未分组">未分组</span>
                                </p>
                                <button class="btn btn-white m-t-xs" id="rename-group">重命名</button>
                                <button class="btn btn-white m-t-xs" id="del-group">删除分组</button>
                                <div class="tip-btn">
                                    <div class="bubble_tips bubble_right warn">
                                        <div class="bubble_tips_inner">大小: 不超过2M,&nbsp;&nbsp;&nbsp;&nbsp;格式: bmp, png, jpeg, jpg, gif
                                        </div>
                                        <i class="bubble_tips_arrow out"></i>
                                        <i class="bubble_tips_arrow in"></i>
                                    </div>
                                    <div class="upload-btn">
                                        <button class="btn btn-default btn-xs" id="local_image_upload">
                                            上传
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="wx-img-materials-left-content">
                                <div class="summary">
                                    <div class="oper_group">
                                        <div class="all_selected">
                                            <label class="frm_checkbox_label" for="all_checkbox">
                                                <input type="checkbox" class="frm_checkbox" id="all_checkbox">
                                                <i class="icon_checkbox_unchecked"></i><span
                                                    class="lbl_content lbl_content-ext">全选</span>
                                            </label>
                                        </div>
                                        <div class="all_moved">
                                            <button id="js_move_all" class="btn btn-white">移动分组</button>
                                        </div>
                                        <div class="all_deleted">
                                            <button id="js_del_all" class="btn btn-white">删除</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="group" id="mediaList">

                                </div>
                            </div>
                            <div style="" class="customize-pagination">
                                <div id="pagination" class="content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="wx-img-materials-right-frame">
                            <div id="group-list" class="group-list">
                                {% for group in groups %}
                                <div class="group-item select-item {% if loop.index === 1 %} checked {% endif %}">
                                    <a id="{{group._id.toString()}}" class="inner_menu_link" title="{{group.name}}">
                                        <strong>{{group.name | subTitle(6)}}</strong> (<em class="num">0</em>)
                                    </a>
                                </div>
                                {% endfor %}
                                <div class="group-item m-t-xs">
                                    <a href="javascript:void(0);" class="inner_menu_link add-new-category" title="新建分组">
                                        <em class="f-s-17 f-default">+</em><strong>
                                        <span class="add-new-group f-default">新建分组</span>
                                    </strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 创建分组 -->
<div class="hides" id="add-group-dialog">
    <form class="form-horizontal m-t-sm" id="group_form">
        <div class="form-group">
            <label class="col-xs-2 control-label">组名：</label>
            <div class="col-xs-9">
                <input class="form-control" type="text" name="name" id="groupName">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-9">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
</div>

<!-- 修改文件组名称 -->
<div class="hides" id="edit-group-dialog">
    <form class="form-horizontal m-t-sm" id="edit_group_form">
        <div class="form-group">
            <label for="renameGroup" class="col-xs-3 control-label">新名称：</label>
            <div class="col-xs-8">
                <input class="form-control" type="text" name="name" id="renameGroup">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
</div>

<!-- 修改单个文件名称 -->
<div class="hides" id="edit-single-file-dialog">
    <form class="form-horizontal m-t-sm" id="single_img_file_form">
        <div class="form-group">
            <label for="filename" class="col-xs-3 control-label">新名称：</label>
            <div class="col-xs-8">
                <input class="form-control" type="text" name="filename" id="filename">
            </div>
        </div>
        <div class="form-group btn-position">
            <div class="col-xs-offset-3 col-xs-8">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
</div>


<!-- 移动分组 -->
<div class="hides" id="move-dialog">
    <form class="form-horizontal m-t-sm">
        <div class="form-group">
            <label for="filename" class="col-xs-3 control-label">移动至：</label>
            <div class="col-xs-8">
                <select id="movedGroup" class="form-control">
                    {% for group in groups %}
                    <option value="{{group._id.toString()}}">{{group.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>

</div>

{% include '../../templates/mediaTemplate.html' %}

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/school/site/list-materials.js']);
</script>

{% endblock %}
