{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'分类管理'},{'url':'','title':'文章列表'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="w-base ng-scope w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa fa-list-ul fa-fw mr-5"></i>文章列表
            <div class="site-category-selection">
                <select name="" id="selectCategory" class="dropdown">
                    <option value="">所有栏目</option>
                    {% for category in categories %}
                    <option value="{{category._id.toString()}}"
                            {% if currentCategory=== category._id.toString()%} selected{% endif %}>
                        {{category.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="list-posts-records">共<span id="posts-count">0</span>条记录</div>
        </h3>

        <div class="w-base-right w-base-right-ext" style="padding: 0px 0px 0 0;">
            <a class="btn-middle solid-btn-green"
               href="/school/posts/create{% if currentCategory %}?category={{currentCategory}}{% endif %}"
               id="add-passage-btn">创建文章</a>
        </div>
    </div>
    <div class="w-base-container">
        <div class="t-del-homework"
             style="padding-left: 10px; padding-top: 0px; padding-right: 20px;padding-bottom: 24px">
            <div class="passage-list">
                <div class="list-header">
                    <ul>
                        <li class="header-one">标题</li>
                        <li class="header-other">栏目</li>
                        <li class="header-other">浏览量</li>
                        <li class="header-other">转发量</li>
                        <li class="header-other">赞</li>
                        <li class="header-other">发布时间</li>
                        <li class="header-other">操作</li>
                    </ul>
                </div>
                <div class="list-content">
                    <ul id="list-posts">
                        {% for post in posts %}
                        <li class="data">
                            <a href="/school/posts/{{post._id.toString()}}">
                                <div class="thumb">
                                    <img src="http://resource.hizuoye.com/{{post.image}}" width="100px" height="64px"
                                         style="display: inline;">
                                </div>
                                <div class="title" title="{{post.title}}">{{post.title | subTitle(12)}}</div>
                                <div class="category" title="{{post.category.name}}">{{post.category.name |
                                    subTitle(4)}}
                                </div>
                                <div class="analysis-views">{{post.visitCount}}</div>
                                <div class="analysis-shares">{{post.shareCount}}</div>
                                <div class="analysis-like">{{post.like}}</div>
                                <div class="date">{{post.createdTime | date('Y-m-d',-480)}}</div>
                            </a>

                            <a class="btn-small a-btn-red del_btn" style="margin:15px 0px 0px 22px" data-tooltip="删除" id="{{post._id.toString()}}">删除</a>
                        </li>
                        {% endfor %}
                        {% if !posts || posts.length == 0 %}
                        <li><p class="text-center" style="font-size: 15px;padding-top: 12px;">暂无文章</p></li>
                        {% endif %}
                    </ul>
                </div>
                <div style="" class="customize-pagination">
                    <div id="pagination" class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    requirejs(['/js/app/school/site/list-posts.js']);
</script>

{% endblock %}
