{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'分类管理'},{'url':'','title':'文章列表'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-list-ul fa-fw m-r-xxs"></i>文章列表
                    <select name="" id="selectCategory" class="m-l-xs">
                        <option value="">所有栏目</option>
                        {% for category in categories %}
                        <option value="{{category._id.toString()}}"
                                {% if currentCategory=== category._id.toString()%} selected{% endif %}>
                            {{category.name}}
                        </option>
                        {% endfor %}
                    </select>
                </h4>

                <div class="panel-control">
                    <a class="btn btn-success btn-xs"
                       href="/school/posts/create{% if currentCategory %}?category={{currentCategory}}{% endif %}"
                       id="add-passage-btn">创建文章</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="postList" class="table">
                        <thead>
                        <tr>
                            <th>封面</th>
                            <th>标题</th>
                            <th>栏目</th>
                            <th>浏览量</th>
                            <th>赞</th>
                            <th>分享</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="list-posts">
                        {% for post in posts %}
                        <tr>
                            <td>
                                <a href="/school/posts/{{post._id.toString()}}">
                                    <img src="http://resource.hizuoye.com/{{post.image}}" width="100px" height="64px">
                                </a>
                            </td>
                            <td>{{post.title | subTitle(12)}}</td>
                            <td>{{post.category.name |
                                subTitle(4)}}</td>
                            <td>{{post.visitCount}}</td>
                            <td>{{post.like}}</td>
                            <td>{{post.shareCount}}</td>
                            <td>{{post.createdTime | date('Y-m-d',-480)}}</td>
                            <td>
                                <a class="btn btn-pink btn-xs btn-custom del_btn" data-tooltip="删除" id="{{post._id.toString()}}">删除</a>
                                <button type="button" class="delete btn btn-pink" data-container="body" data-toggle="popover" data-placement="right"
                                        data-content="<p class='f-black f-s-13 m-t-xs'>
                                        <i class='fa fa-exclamation-triangle f-pink m-r-xs'></i>你确定要删除这个吗？</p>
                                        <div class='text-right'><button class='btn btn-white btn-xs m-t-xs m-r-xs'>取消</button>
                                        <button class='btn btn-pink btn-xs m-t-xxs m-r-xs'>确定</button></div>">
                                    删除
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/entries/school/site/list-posts.js"></script>

{% endblock %}
