{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'', 'title':'题库'},{'url':'','title':'套题详情'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">题目列表</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="quizzes-title">
                            <p class="f-s-16 m-t-xxs">套题名称：{{quiz.title}}</p>
                            <p class="pull-right">总计<span class="f-default f-s-20" id="total-number">{{quiz.exercises.length}}</span>个题目</p>
                        </div>
                    </div>
                </div>
                <!-- 题目列表区域 START -->
                <div class="homework-area quizzes-list" id="questions-area"></div>
                <!-- 题目列表区域 END -->
            </div>
        </div>
    </div>
</div>
<input name="schoolId" id="schoolId" type="hidden" value="{{student.schoolId}}">
<!-- 题型模版 -->
{% include '../../templates/exerciseReadOnlyTemplate.html' %}
{% endblock %}

{% block javascript %}
<script>
    window.exercises = {{ quiz.exercises | json | safe}};
</script>
<script src="/js/entries/school/quizBase/view-quiz.js"></script>

{% endblock %}
