{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-3">
        <div class="panel info-box panel-green">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="teacher-count">0</p>
                    <span class="info-box-title">教师人数</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-users"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel info-box panel-yellow">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="class-count">0</p>
                    <span class="info-box-title">班级数量</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-sitemap"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel info-box panel-blue">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="student-count">0</p>
                    <span class="info-box-title">学生人数</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-child"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="visitors-chart">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">招生统计</h4>

                    <div class="panel-control">
                        <select class="" id="enrolTimeRange">
                            <option value="lastSixMonths">最近6个月</option>
                            <option value="lastTwelveMonths">最近12个月</option>
                            <option value="lastYear">去年</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body panel-height">
                    <div id="enrolStudentChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title">教师所带班级数量 Top10</h3>
            </div>
            <div class="panel-body panel-height">
                <div id="classesCountOfTaughtRank" class="chart-widget slimscroll">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title">教师所带班级数量分布</h3>
            </div>
            <div class="panel-body panel-height">
                <div class="chart-widget slimscroll" id="classesCountOfTaughtBar">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title">题库贡献 Top10</h3>
            </div>
            <div class="panel-body panel-height">
                <div class="chart-widget slimscroll" id="teacherRankView">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h3 class="panel-title">全校积分分布</h3>
            </div>
            <div class="panel-body panel-height">
                <div id="scoreBar" class="chart-widget slimscroll"></div>
            </div>
        </div>
    </div>
</div>

{% include '../templates/quizzesContributionRankTemplate.html' %}
{% include '../templates/classesCountOfTaughtRankTemplate.html' %}

{% endblock %}
{% block javascript %}
<script>
    requirejs(['/js/app/school/home.js']);
</script>

{% endblock %}
