{% extends 'base.html' %}
{% block content %} <!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'个人中心'},{'url':'','title':'基本信息'}]) }}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-picture-o m-r-xs"></i>修改头像</h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-3">
                    <img
                            {% if user.avatar %}
                            src="{{resourceURL}}/{{user.avatar}}?imageView2/1/w/180/h/180"
                            {% else %}
                            src="/images/default_head.jpg" {% endif %}
                            width="180px"
                            height="180px" class="center-block avatar">
                </div>
                <div class="col-xs-9">
                    <input type="file" id="imageUpload">
                    <p class="m-t-lg">注：仅支持JPG, JPEG, GIF, PNG图像文件, 且文件小于2MB</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-info-circle m-r-xs"></i>学校资料</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-lg" id="infoForm">
                    <div class="form-group">
                        <label class="col-xs-1 control-label" for="schoolName">学校名称</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="text" value="{{user.schoolName}}"
                                   name="schoolName"
                                   id="schoolName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label" for="displayName">我的姓名</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="text"
                                   value="{{user.displayName}}" name="displayName" id="displayName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">联系方式</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="text" value="{{user.contact}}" name="contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">学校地址</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="text" value="{{user.address}}" name="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">学校规模</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="text" value="{{user.scale}}" name="scale">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-10">
                            <button type="button" id="info-save-btn" class="btn btn-default">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-key m-r-xs"></i>修改密码</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="passwordForm">
                    <div class="form-group">
                        <label class="col-xs-1 control-label">原始密码</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">新的密码</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="password" name="newPassword" id="newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">再次输入</label>

                        <div class="col-xs-6">
                            <input class="form-control" type="password" name="confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-6">
                            <button type="button" class="btn btn-default" id="change-psw-btn">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/entries/school/profile.js"></script>
{% endblock %}
