{% extends './base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'学校二维码'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="col-xs-12">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title"><i class="fa fa-weixin fa-fw m-r-xs"></i>学校二维码</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <input type="hidden" value="{{qrcode}}" id="url">
                <div class="m-t-lg" id="qrcode"></div>
                <div class="m-t-lg">扫一扫，关注学校微信</div>
                <div class="m-t-sm">注：鼠标放在图片上，点击右键->【另存为】可将图片保存到本地</div>
                <div class="m-t-sm m-b-lg">
                    提示：上图为360家校云平台技术生成带有学校信息的二维码，学校所有宣传务必使用本二维码，扫描本二维码即可进入本学校微官网。
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    requirejs(['/js/app/school/qrcode.js']);
</script>

{% endblock %}
