{% extends './base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'学校二维码'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="w-base ng-scope w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa  fa-weixin fa-fw mr-5"></i>学校二维码</h3>
    </div>
    <div class="w-base-container">

        <input type="hidden" value="{{qrcode}}" id="url">
        <div class="scancode-frame" id="qrcode"></div>
        <div class="scancode-tip">扫一扫，关注学校微信</div>
        <div class="scancode-notice">注：鼠标放在图片上，点击右键->【另存为】可将图片保存到本地</div>
        <div class="list-products-hint" style="margin-left: 26px;width: 838px;margin-top: 15px;margin-bottom: 50px;">
            提示：上图为360家校云平台技术生成带有学校信息的二维码，学校所有宣传务必使用本二维码，扫描本二维码即可进入本学校微官网。
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript">
    requirejs(['/js/app/school/qrcode.js']);
</script>

{% endblock %}
