/**
*Online base css
*Author:Michael CHeung
*Date:2014-11-04
*/
html, body {
    width: 100%;
    height: 100%;
    font: 13px/100% arial, "微软雅黑", "Microsoft YaHei";
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
}

body {
    /*background-color: #ebe9e4;*/
    background-color: #f0f1f0;
    /*background: url(images/bg-t.jpg) no-repeat;*/
    color: #383a4c;
}

ul, ol, li {
    list-style: none;
}

input, select, textarea {
    outline: none;
    resize: none;
    font: 12px/100% "微软雅黑", "Microsoft YaHei";
}

p {
    line-height: 22px;
}

a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #383a4c;
}

a:hover {
    color: #50a200;
}

img {
    vertical-align: middle;
    border: none;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 28px;
    font-size: 13px;
}

textarea:focus {
    border: 1px solid #7abd54;
}

table {

}

table tbody {

}

table tbody tr {

}

table tbody tr td {
    text-align: center;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.posi-left {
    float: left;
}

.posi-right {
    float: right;
}

.margin-top-15 {
    margin-top: 15px;
}


.margin-top-20 {
    margin-top: 20px;
}

.font-size-26 {
    font-size: 26px;
}

/*m-header*/
.m-header, .m-header .m-inner {
    background-color: #323436;
    /*background-color: #474747;*/
    height: 63px;
    border-bottom: 1px solid #50a400;
}

.m-header {
    position: relative;
    z-index: 99;
}

.m-header .m-inner {
    width: 1140px;
    margin: 0 auto;
}

.m-header .logo {
    background: url(http://static.hizuoye.com/images/k-logo.png) no-repeat;
    width: 52px;
    height: 45px;
    float: left;
    margin: 10px 0 0;
}

.m-header .logo-title {
    background: url(http://static.hizuoye.com/images/logo.png) no-repeat;
    width: 186px;
    height: 40px;
    float: left;
    margin: 12px 0 0 1px;
}

.m-header .category {
    width: 41px;
    height: 18px;
    background: url(http://static.hizuoye.com/images/s-category.png) no-repeat;
    float: left;
    margin-top: 14px;
}

.m-header .t-category {
    width: 41px;
    height: 18px;
    background: url(http://static.hizuoye.com/images/t-category.png) no-repeat;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.m-header .logo a {
    width: 100%;
    height: 100%;
    display: block;
}

.m-header .link {
    margin: 0 0 0 245px;
}

.m-header .link li {
    float: left;
    position: relative;
    text-align: center;
}

.m-header .link li .title {
}

.m-header .link li .title a {
    color: #e7e7e7;
    display: block;
    padding: 21px 0;
}

.m-header .link li .title a:hover {
    color: #50a200;
}

.m-header .link li .h-arrow {
    background-color: #50a200;
    width: 100%;
    font: 1px/4px arial;
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    display: none;
}

.m-header .link li .h-arrow span {
    position: absolute;
    left: 50%;
    top: 4px;
    margin: 0 0 0 -5px;
}

.m-header .link li .info-bar {
    position: absolute;
    top: 8px;
    right: 6px;
}

.m-header .link .pull-down {
}

.m-header .link .pull-down .select {
    position: absolute;
    background-color: #667284;
    width: 100px;
    display: none;
    left: 0;
    top: 53px;
}

.m-header .link .pull-down .select a {
    color: #fff;
    display: block;
    padding: 18px 0;
    text-align: center;
    border-bottom: 1px solid #5d6675;
    font-size: 12px;
}

.m-header .link .pull-down .select a:hover {
    background-color: #556073;
    color: #50a200;
    font-weight: bold;
}

.m-header .link .pull-down .select .sign-out {
    background-color: #fa7252;
    border-bottom: none;
}

.m-header .link .pull-down .select .sign-out:hover {
    background-color: #c94728;
    color: #fff;
}

.m-header .link .active .h-arrow .w-icon {
    display: none;
}

.m-header .link .active .select, .m-header .link .active .h-arrow, .m-header .link .current .h-arrow {
    display: block;
}

.m-header .link .current .h-arrow .w-icon {
    display: block;
}

/*m-main*/
.m-main {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.m-main .m-column {
    width: 225px;
    float: left;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
    margin-top: 25px;
}

.m-main .m-column .m-side-width {
    width: 205px;
    margin: 0 auto 15px;
}

.m-main .m-container {
    width: 901px;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*m-person-info*/
.m-person-info {
    width: 100%;
    border-bottom: 4px solid #ebe9e4;
}

.m-person-info dt {
    /*background: url(http://static.hizuoye.com/images/profile-menu.png) no-repeat;*/
    background-color: #474747;
    width: 100%;
    height: 130px;
    /*position: relative;*/
    overflow: hidden;
}

.m-person-info dt .system {
    position: absolute;
    top: 6px;
    right: 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-person-info dt .system:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-person-info dt .avatar {
    margin: 0 auto;
    width: 94px;
    height: 94px;
    position: relative;
    top: 18px;
}

.m-person-info dt .avatar .back {
    border: 1px solid #fff;
    background-color: #fff;
    /*border-radius: 50px;*/
    width: 94px;
    height: 94px;
    opacity: 0.5;
    border-radius: 5px;
    filter: alpha(opacity=50);
}

.m-person-info dt .avatar .image {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    /*border-radius: 200%;*/
    overflow: hidden; /*border: 1px solid #fff;*/
    /*background: url(images/person-avatar.png) no-repeat;*/
}

.m-person-info dt .auth {
    position: absolute;
    bottom: 5px;
    right: 9px;
}

.m-person-info dd {
    /*border-top: 1px solid #50a200;*/
    color: #383a4c;
    background-color: #474747;
    padding-bottom: 5px;
}

.m-person-info dd .info {
    padding: 14px 0;
    text-align: center;
}

.m-person-info dd .info .user-name {
    font-size: 16px;
}

.m-person-info dd .info .user-id {
    font-size: 12px;
    display: inline-block;
    margin: 0 5px;
}

.m-person-info dd .info .user-level {
    font: 11px/15px "arial";
    color: #fff;
    background: url(http://static.hizuoye.com/images/w-arrow-orange.png) no-repeat;
    display: inline-block;
    width: 40px;
    padding: 0 0 0 10px;
    text-shadow: 0 0 2px #bb5f03;
    text-align: left;
}

.m-person-info dd .assets {
    overflow: hidden;
    height: 100%;
    text-align: center;
    padding-left: 13px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.m-person-info dd .assets .count {
    font-size: 20px;
    display: block;
    padding: 7px 0 0;
    font-family: Arial;
    font-weight: 100;
}

.m-person-info dd .assets .detail {
    font-size: 15px;
    display: block;
    padding: 4px 0 0;
    font-family: '微软雅黑';
    font-weight: 100;
    color: #e7e7e7
}

.m-person-info dd .assets .gold {
    /*border-right: 1px solid #dfdfdf;*/
    width: 89px;
    padding-bottom: 8px;
}

.m-person-info dd .assets .gift {
    width: 100px;
}

/*m-side-menu*/
.m-side-menu {
    background-color: #474747;
}

.m-side-menu li {
    /*border-bottom: 1px solid #dfdfdf;*/
    font-size: 16px;
}

.m-side-menu li a.one-level {
    display: inline-block;
    padding: 17px 0 17px 30px;
    /*color: #667284;*/
    /*color: #e7e7e7;*/
    color:#acacac;
    width: 195px;
}

.m-side-menu li a.one-level .w-icon {
    margin-right: 15px;
}

.m-side-menu li a.one-level:hover {
    /*padding-right: 5px;*/
    /*background-color: #F0FFF0;*/
    background-position: 200px 27px;
    /*border-left: 5px solid #50a200;*/
    background-color:#404040;
    color: #fff;
}

.m-side-menu li .pull-level {
   /* background-color: #667284;*/
    display: none;
}

.m-side-menu li .pull-level a {
    display: block;
    /*border-top: 1px solid #5d6675;*/
    color: #acacac;
    padding: 17px 0 17px 62px;
}

.m-side-menu li .pull-level a:hover, .m-side-menu li .pull-level .current {
    color: #fff;
    background: url(http://static.hizuoye.com/images/column-icon.png) no-repeat 200px -45px #556073;
}

.m-side-menu li.pull-down a.one-level {
    background: url(http://static.hizuoye.com/images/column-icon.png) no-repeat 200px -5px;
}

.m-side-menu li.active a.one-level {
    /*padding-right: 5px;*/
    /*background-color: #F0FFF0;*/
    background-position: 200px 27px;
    /*border-left: 5px solid #50a200;*/
    background-color:#404040;
    color: #fff;
}

.m-side-menu li.active .pull-level {
    display: block;
}

/*m-synthesize*/
.m-synthesize {
    background-color: #474747;
    width: 100%;
    padding: 15px 0;
    margin-top: 12px;
    min-height: 180px;
    margin-bottom: 15px;
}

.m-synthesize .m-bss {
}

.m-synthesize .sever-info {
}

.m-synthesize .sever-info .tel {
    font-size: 16px;
    /*background: url(http://static.hizuoye.com/images/m-tel.png) no-repeat 25px 5px;*/
    padding-left: 27px;
    margin-bottom: 15px;
}

.m-synthesize .sever-info .tel .text {
    font-size: 11px;
    display: block;
    /*line-height: 120%;*/
}

.m-synthesize .sever-info .on-line {
    padding: 10px 0;
    width: 46%;
    font-size: 12px;
}

/*m-footer*/
.m-footer, .m-footer .m-inner {
    clear: both;
    background-color: #474747;
    height: 120px;
}

.m-footer {
    border-top: 2px solid #50a200;
}

.m-footer .m-inner {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.m-footer .copyright {
    color: #b9b9b9;
    font-size: 12px;
    margin-top: 25px;
}

.m-footer .link {
    margin-top: 8px;
}

.m-footer .link .spare-icon {
    background: url("http://static.hizuoye.com/images/m-icon-share.png") no-repeat 500px 500px;
    display: inline-block;
    width: 39px;
    height: 38px;
    margin-right: 20px;
}

.m-footer .link .spare-icon:hover {
    background-image: url("http://static.hizuoye.com/images/m-icon-share-blue.png")
}

.m-footer .link .spare-weibo {
    background-position: 0 0;
}

.m-footer .link .spare-rr {
    background-position: -62px 0;
}

.m-footer .link .spare-qq {
    background-position: -124px 0;
}

.m-footer .link .spare-wx {
    background-position: -185px 0;
}

.m-footer .link .spare-qzone {
    background-position: -248px 0;
}

/*m-foot-link*/
.m-footer .m-foot-link {
    margin-top: 20px;
    width: 240px;
}

.m-footer .m-foot-link h3 {
    color: #000;
    font-size: 16px;
    height: 25px;
    padding-left: 10px;
}

.m-footer .m-foot-link a {
    display: block;
    color: #b9b9b9;
    line-height: 26px;
    font-size: 14px;
    margin-left: 52px;
}

.m-footer .m-foot-link a:hover {
    color: #50a200;
}

.m-footer .m-foot-link .w-fl-left {
    width: 120px;
}

.m-footer .m-foot-link .m-code {
    float: right;
    width: 96px;
}

.m-footer .m-foot-link .m-code .c-image {
    background: url("http://static.hizuoye.com/images/m-code.jpg") no-repeat;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.m-footer .m-foot-link .m-code .c-title {
    color: #666;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
}

.m-footer .m-service {
    float: left;
}

.m-footer .m-service .c-title {
    color: #667284;
    font-size: 12px;
    background: url(http://static.hizuoye.com/images/service-icon.png) no-repeat 0 7px;
    line-height: 25px;
    padding-left: 45px;
    margin-bottom: 10px;
}

.m-footer .m-service .c-title strong {
    display: block;
    font-size: 16px;
}

.m-footer .m-service .c-btn {
}

.m-footer .m-service .c-btn a {
    display: inline-block;
    background-color: #77d142;
    color: #fff;
    padding: 10px 8px;
    line-height: 100%;
    border-radius: 6px;
    float: left;
    margin: 0 5px;
}

.m-footer .m-service .c-btn a:hover {
    background-color: #92da68;
    color: #fff;
}

.m-footer .m-service .c-btn a:active {
    background-color: #77d142;
}

.m-footer .m-service .c-btn a.on-service {
    background-color: #46c0ea;
}

.m-footer .m-service .c-btn .on-service:hover {
    background-color: #6bcdee;
}

.m-footer .m-service .c-btn .on-service:active {
    background-color: #46c0ea;
}

/*original*/
.switchBox li {
    /* display: none;*/
}

.switchBox .tab {
    font: 12px/20px arial;
    padding: 8px 0;
    text-align: center;
}

.switchBox .tab .prve {
    border-radius: 100px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    overflow: hidden;
    width: 20px;
    background-color: #ddd;
}

.switchBox .tab .even {
    background-color: #999;
}

.switchBox .back, .switchBox .next {
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    font: 1px/0px arial;
    margin-top: -22px;
    padding: 6px;
}

.switchBox .back {
    float: left;
}

.switchBox .next {
    float: right;
}

/*original fix*/
.m-side-width .switchBox {
    width: 205px;
    padding: 0px 0 0;
    overflow: hidden;
}

.m-side-width .switchBox li {
    height: 215px;
}

.m-side-width .switchBox li img {
    width: 205px;
    height: 215px;
    vertical-align: middle;
    border: none;
}

.m-side-width .switchBox .tab {
    font: 0px/0px arial;
}

.m-side-width .switchBox .tab .prve {
    width: 10px;
    height: 10px;
}

.text-center{
    text-align: center;
}

input[type=radio] {
    /*-webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 -44px;*/
    /*border: 1px solid #B9BBBE;*/
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

input[type=radio]:active {
    background-position: 0 -66px;
    /*background: #ebebeb;*/
}

input[type=radio]:checked {
    background-position: 0 -66px;
}

.progress-bar {
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #55a9dc;
}

.progress-bar > div {
    background-color: #55a9dc;
    height: 8px;
}

.mr-5 {
    margin-right: 5px;
}




