.invisible{
    display: none;
}
.form-control{
    padding:0px 80px 20px 60px;
}
.form-control .form-group {
    padding: 12px 0px;
}
.form-control input {
    width: 215px;
    border: 1px solid #dfdfdf;
    padding: 6px 12px;
    line-height: 16px;
}

.form-control input:focus {
    border: 1px solid #7abd54;
}

.form-control select {
    width: 240px;
    border: 1px solid #dfdfdf;
    padding: 6px 12px;
    margin: 0 auto;
}
.form-control label{
    margin-right: 35px;
}
.form-control textarea{
    width: 400px;
    border: 1px solid #dfdfdf;
}
.form-control textarea:focus{
    border: 1px solid #72c02c;
}
.error {
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: red;
    padding-left:70px;
}
.btn-position{
    text-align: right;
}
