@charset "UTF-8";

body {
    background: url('/images/login/login-bg.png')!important;
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-family:"微软雅黑","Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    padding: 0;
}
.login-box{
    width: 370px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0 0 0;
    border-radius: 3px;
    margin-top: 80px;
    border: 1px solid #dfdfdf;
}
.login-box .login-top{
    padding: 0 20px;
}
.login-box .login-top legend{
    margin: 0 -20px 20px;
    padding: 0 20px;
    display: block;
    box-sizing: content-box;
}
.login-box .login-top legend h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 -1px;
    line-height: 38px;
    border-bottom: solid 3px #2aabe6;
    display: inline-block;
}
.login-box form{
    padding: 0 20px 50px 20px;
}
.logo-d{
    color: #212121;
    text-align: center;
    margin: 15px 0;
}
.login-box input {
    padding: 0 10px;
    margin-bottom: 15px;
    outline: 0;
}
/* button*/

.error-explanation {
    z-index: 99;
    font-size: 14px;
    color: #fb6d9d;
}

/* footer */
.footer {
    color: #fff;
    font-size: 12px;
    width: 600px;
    margin: 0 auto;
}

.footer .w {
    text-align: center;
}

.footerText {
    width: 600px;
    text-align: center;
    padding-top: 50px;
}

.footerText > span {
    margin: 10px;
    color: #797979;
    line-height: 2;
    font-size: 14px;
}

.footerText > span > a {
    color: #797979;
    text-decoration: none;
}


