@charset "UTF-8";

body {
    background: url('/images/login/login-bkg.jpg') no-repeat fixed transparent;
    -webkit-background-size: cover;
    font-size: 14px;
    font-family:"微软雅黑","Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    padding: 0;
}

.main {
    width: 100%;
    position: fixed;
    top: 50%;
    margin-top: -230px;
}
.main-bg {
    width: 420px;
    margin: 0 auto;
    border-radius: 15px;
    background: #fff;
}

.form-control {
    top: 50%;
    padding: 30px 60px 30px 60px;
}

.form-control .form-group {
    padding: 15px 0;
    position: relative;
}

.form-group img {
    margin-left: 20px;
}

.form-group input {
    width: 268px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    border: 1px #72d26e solid;
    padding-left: 10px;
    background: #FCFCFC;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.06);
    border-radius: 3px;
}

.form-group input:focus {
    outline: none;
}
.ls-5 {
    letter-spacing: 5px;
}

.ls-10 {
    letter-spacing: 10px;
}

.ml-10 {
    margin-left: 10px;
}

/* button*/
.btn-superbig {
    display: inline-block;
    text-decoration: none;
    width: 280px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    padding: 7px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.solid-btn-green {
    background: #11cd6e;
    color: #fff;
}

.error-explanation {
    z-index: 99;
    font-size: 13px;
    color: #ffeaeb;
    background-color: #d93f44;
    width: 270px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    padding: 0 5px;
    line-height: 38px;
    border-color: red !important;
}

/* footer */
.footer {
    color: #fff;
    font-size: 12px;
    width: 600px;
    margin: 0 auto;
}

.footer .w {
    text-align: center;
}

.footerText {
    width: 600px;
    text-align: center;
    padding-top: 50px;
}

.footerText > span {
    margin: 10px;
    color: #dfdfdf;
    line-height: 2;
    font-size: 14px;
}

.footerText > span > a {
    color: #dfdfdf;
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #333 inset;
    -webkit-text-fill-color: white;
}