@charset "UTF-8";

body {
    background: url('/images/login/login_bg.jpg') no-repeat fixed transparent;
    -webkit-background-size: cover;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    padding: 0;
    margin: 0 auto;
}

.main {
    width: 420px;
    height: 270px;
    margin: 0 auto;
}

.main-bg {
    background: url("/images/login/login-mask.png") no-repeat;
}

.form-control {
    padding: 30px 60px 30px 60px;
}

.form-control .form-group {
    padding: 15px 0;
    position: relative;
}

.form-group img {
    margin-left: 20px;
}

.form-group input {
    width: 248px;
    height: 32px;
    line-height: 20px;
    border: 1px #72d26e solid;
    color: #fff;
    padding-left: 30px;
    background: url('/images/login/input-mask.png') no-repeat;
}

.form-group input:focus {
    outline: none;
}

.form-group .prompt-user {
    background: url("/images/login/iconfont-user.png") no-repeat;
}

.form-group .prompt-pwd {
    background: url("/images/login/iconfont-lock.png") no-repeat;
}

.form-group .prompt {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 25px;
    left: 10px;
}

.ls-5 {
    letter-spacing: 5px;
}

.ls-10 {
    letter-spacing: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-100 {
    margin-top: 100px;
}

/* button*/
.btn-superbig {
    display: inline-block;
    text-decoration: none;
    width: 280px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    padding: 7px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.solid-btn-green {
    background: #72d26e;
    color: #fff;
}

.error-explanation {
    z-index: 99;
    font-size: 13px;
    color: #ffeaeb;
    background-color: #d93f44;
    width: 270px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    padding: 0 5px;
    line-height: 38px;
    border-color: red !important;
}

/* footer */
.footer {
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.footer .w {
    text-align: center;
}

.footerText {
    width: 600px;
    margin: 60px auto;
    text-align: center;
    padding-top: 80px;
}

.footerText > span {
    margin: 10px;
    color: #dfdfdf;
    line-height: 2;
    font-size: 14px;
}

.footerText > span > a {
    color: #dfdfdf;
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #333 inset;
    -webkit-text-fill-color: white;
}