/** Weixin  Widget**/
.wx-img-materials-left-frame{
}
.wx-img-materials-group{
    height: 55px;
}

.wx-img-materials-group .link{
    color: #459ae9;
    margin-top: 4px;
}

.wx-img-materials-group .link:hover{
    text-decoration: underline;
}

.wx-img-materials-group .title{
    margin-left: 16px;
    padding-top: 18px;
    font-size: 15px;
    float: left;
    width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wx-img-materials-group .tip-btn{
    float:right;
    width:452px;
    height:50px;
    padding-top: 3px;
}

.wx-img-materials-group .tip-btn .content{

}

.wx-img-materials-group .tip-btn .upload-btn{
    float: left;
    margin-left: 12px;
    margin-top: 13px;
}

.wx-img-materials-left-content{
    overflow: hidden;
    margin-bottom: 30px;
}

.wx-img-materials-left-content .summary{
    height: 50px;
    background-color: #f4f5f9;
}

.wx-img-materials-left-content .group{
    width: 755px;
}

.wx-img-materials-left-content .group .img-list{
    min-height: 500px;
    margin: 15px;
    margin-top: 0;
}

.wx-img-materials-left-content .group .img-list .img-item{
    width: 162px;
    height: 236px;
    float: left;
    margin-right: 17px;
    border: 1px solid #dfdfdf;
    margin-top: 25px;
    text-align: center;
}

/*.wx-img-materials-left-content .group .img-list .img-item:hover{
    width: 160px;
    height: 230px;
    background-color: #000;
}*/

.wx-img-materials-left-content .group .img-list .img-item .pic{
    width: 160px;
    height: 160px;
    display: block;
    border-bottom: 1px solid #e7e7eb;
}

.wx-img-materials-left-content .group .img-list .img-item .check-content{
    height: 32px;
    line-height: 32px;
    display: block;
    overflow: hidden;
}

.frm_checkbox {
    position: absolute;
    left: -999em;
}

.icon_checkbox_unchecked {
    vertical-align: top;
    margin-top: 8px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/base_icon.png") 0 -286px no-repeat;

}

.icon_checkbox_checked {
    vertical-align: top;
    margin-top: 8px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/base_icon.png") 0 -312px no-repeat;

}

.lbl_content{
    display: inline-block;
    padding: 0;
    width: 118px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.lbl_content-ext{
    width:65px
}

.wx-img-materials-left-content .group .img-list .img-item .check_content .frm_checkbox_label {
    margin-right: 0;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.wx-img-materials-right-frame{
    /*max-width: 169px;*/
}

.wx-img-materials-right-frame .group-list{
    /*min-width:169px*/
}

.wx-img-materials-right-frame .group-list .group-item{
    height:33px;
    position: relative;
    line-height: 32px;
    min-width: 169px;
}

.wx-img-materials-right-frame .group-list .group-item .add-new-group{
    margin-left: 5px;
    margin-top: -9px;
    font-size: 15px;
}

.checked{
    background-color: #f4f5f9;
}

.wx-img-materials-right-frame .group-list .group-item:hover{
    background-color: #f4f5f9;
}

.wx-img-materials-right-frame .group-list .num {
    display: inline-block;
    padding-left: 3px;
    font-style: normal;
    color: #8d8d8d;
}


.bubble_tips{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.bubble_tips .warn{
    color: #8d8d8d;
}

.bubble_right{
    margin-top: 10px;
    margin-left: 25px;
    float: left;
}

.bubble_right .bubble_tips_arrow.out {
    border-left-color: #e7e7eb;
    right: -6px;
}

.bubble_right .bubble_tips_arrow.in {
    right: -5px;
}

.bubble_right .bubble_tips_arrow {
    border-left-width: 6px;
    border-right-color: transparent;
    border-right-style: dashed;
    border-right-width: 0;
    border-left-color: #fff;
    border-left-style: solid;
}

.bubble_tips_inner {
    padding: 4.5px 10px;
    border: 1px solid #e7e7eb;
    line-height: 21px;
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    color: #8d8d8d;
}

.bubble_tips_arrow {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #fff;
    border-right-style: solid;
}

.inner_menu_link {
    display: block;
    color: #222;
    padding-left: 1em;
    text-decoration: none;
}

.inner_menu_link strong {
    display: inline-block;
    margin-top: -2px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 80px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    cursor: pointer;
}
.msg_card_ft {
    background-color: #f4f5f9;
    border-top: 1px solid #e7e7eb;
    height: 34px;
}

.msg_card_opr_list {
    font-size: 0;
}

.grid_line {

}

.grid_item {
    float: left;
}

.size1of3 {
    width: 33.33%;
}

.msg_card_opr_item {
    text-align: center;
}

.msg_card_opr_item a {
    display: block;
}

.msg_card_opr_item_inner {
    display: inline-block;
    vertical-align: top;
    width: 98.5%;
    margin: 13px 0;
    line-height: 18px;
    height: 18px;
    cursor: pointer;
    border-left: 1px solid #e7e7eb;
    border: 0;
    margin: 5px 0;
}

.icon18_common {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}

.icon18_common.edit_gray {
    background: url("../images/base_icon.png") 0 -5310px no-repeat;
}

.icon18_common.edit_gray:hover{
    background: url("../images/base_icon.png") 0 -5338px no-repeat;
}

.icon18_common.move_gray {
    background: url("../images/base_icon.png") 0 -4946px no-repeat;
}

.icon18_common.move_gray:hover {
    background: url("../images/base_icon.png") 0 -4974px no-repeat;
}

.icon18_common.del_gray {
    background: url("../images/base_icon.png") 0 -4610px no-repeat;
}

.icon18_common.del_gray:hover {
    background: url("../images/base_icon.png") 0 -4638px no-repeat;
}
.vm_box {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.oper_group {
    background-color: #f4f5f9;
    /*border-bottom: 1px solid #e7e7eb;*/
    height: 35px;
    width: 698px;
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}

.oper_group .all_selected{
    float: left;
    margin-top: 6px;
}

.oper_group .all_moved{
    float: left;
    margin-top: 6px;
    margin-right: 15px;
}

.oper_group .all_deleted{
    float: left;
    margin-top: 6px;
}

.material-hover-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 2;
    display: none;
    text-align: center;
    margin-top: -160px;
}
.material-hover-mask:hover{
    color:#dfdfdf
}

/*报名*/
.w-border-list {
    overflow: hidden;
    _zoom: 1;
    _display: inline;
}

.w-border-list li {
    float: left;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 2px 4px;
    position: relative;
    font-size: 14px;
    height: 36px;
}

.w-border-list li .b-select {
    position: absolute;
    left: 3px;
    top: 1px;
    _top: 3px;
}

.w-border-list li .b-new {
    position: absolute;
    left: 30px;
    top: 7px;
    _top: 10px;
    z-index: 999;
}

.w-border-list li .b-next {
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
}

.w-border-list li .b-number {
    display: inline;
}

.w-border-list li .b-text {
    height: 33px;
    display: block;
    margin-right: 46px;
    line-height: 33px;
}

.w-border-list li .b-icon {
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    z-index: 11;
}

.w-border-list li .b-icon strong {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: #fff;
    line-height: 55px;
    width: 56px;
    text-align: center;
    display: none;
}

.w-border-list li.active {
    color: #fff;
    position: relative;
}

.w-border-list li.active .b-select .w-checkbox {
    background-position: -15px -17px;
}

.w-border-list li.current {
    background-color: #f5fbff;
    border-color: #72d26e;
    position: relative;
    z-index: 5;
}

.w-border-list li.hover {
    background-color: #f5fbff;
    text-align: left;
}

.w-border-list li.hover .b-next {
    display: block;
}

.w-border-list li.hover .b-number {
    display: none;
}

.w-border-list li.hover .b-text {
    margin-left: 15px;
}

.w-border-list li.mathItem {
    text-align: left;
}

.w-border-list li.mathItem .b-next {
    display: block;
    padding-top: 10px;
    right: 70px;
}

.w-border-list li.mathItem .b-next .w-select .current {
    width: 80px;
}

.w-border-list li.mathItem .b-next .w-select ul {
    width: 94px;
}

.w-border-list li.mathItem .b-text {
    margin-left: 15px;
}
.title-info-list{
    float: left;
    height: 36px;
    margin-left: -5px;
}
.title-info-list .item{
    margin-left: 12px;
    min-width: 50px;
}
.infoCollect-close-btn{
    margin-left: 5px;
    margin-top: -5px;
}
/*报名名单*/
.task-management-registration{
    overflow: hidden;
    padding-bottom: 30px;
}

.task-management-registration .counter{
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}
.list-registration{
    padding-left: 20px;
    padding-right: 20px;

}

.list-registration .extraction {
    display: none;
    margin-top: -5px;
}

.list-registration ul li:first-child{
    margin: 0;
}

.list-registration ul li{
    margin-top: 15px;
}

.list-registration ul li:first-child{
    cursor: pointer;
}

.list-registration ul li{
    background-color: #f1f1f1;
    overflow: hidden;
}

.list-registration .head{

}

.list-registration .head img{
    float: left;
    margin-top: 9px;
}

.list-registration .head .info{
    padding: 5px;
    margin-left: 48px;
    font-size: 14px;
    padding-bottom: 15px;
}

.list-registration .head .key{

}

.list-registration .head .value{
    margin-left: 5px;
}

.list-registration .name{
    margin-left: 5px;
    float: left;
    padding-top: 19px;
    font-size: 15px;
}

.list-registration .create{
    float: left;
    color: #acacac;
    padding: 19px;
    margin-left: 260px;
}

/*任务列表*/
.opts-area{
    height: 36px;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 12px;
}

.opts-area ul{
    padding: 0px;
    margin: 20px 0px 40px;
}

.opts-area ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    zoom: 1;
    font-size: 14px;
    width: 61px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    margin-right: 15px;
    cursor: pointer;
}

.opts-area ul li:hover{
    /*color: rgb(255, 255, 255);
    opacity: .6;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px;*/
}

.opts-area .selected{
    background-color: #2ab27b;
    color: #fff;
    border-radius:2px
}

.opts-area .selected:hover{

}
.tasks-list{

}

.tasks-list ul{

}

.tasks-list ul li{
    height: 108px;
    padding-top: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.tasks-list .thumb{
    float: left;
}

.tasks-list .title{
    float: left;
    width: 76%;
}

.tasks-list .management{
    float: left;
    height: 90px;
    margin-left: 16px;
}

.tasks-list .title .title-content{
    margin-left: 18px;
    margin-top: 10px;
    font-size: 14px;
}

.tasks-list .title .title-size{
    font-size: 12px;
    color: #a9a9a9;
}

.tasks-list .title .title-state{
    margin-top: 15px;
}
.task-name{
    width: 470px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*帮助与支持*/
.consultation ul{
    padding-top: 40px;
    padding-bottom: 30px;
    overflow: hidden;
}

.consultation ul li{
    height: 36px;
    margin-bottom: 24px;
    font-size: 28px;
    margin-left: 24px;
    color: #43d1d5;
}

.consultation .qq{
    font-size: 18px;
    margin-left: 6px;
    letter-spacing: 1px;
    color:#acacac
}

.consultation .phone-frame{
    margin-left: 70px;
}

.consultation .phone{
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 0px;
    color:#acacac
}
/*返回顶部*/
.w-top {
    /*opacity: 0;*/
    filter: alpha(opacity=0);
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.w-top {
    position: fixed;
    _position: absolute;
    right: 72px;
    bottom: 100px;
    z-index: 79;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -2000px;
    background: url("/images/w-top.png") no-repeat;
}

.w-top:hover {
    background: url("/images/w-top-hover.png") no-repeat;
}

/*班级选择*/
.t-homeworkClass-list {
    margin: 0;
    float: left;
}

.t-homeworkClass-list li {
    float: left;
    border: 1px solid #cccccc;
    background-color: #fff;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    margin-right:10px;
    font-size: 14px;
    height: 36px;
    width: 100px;
}
.t-homeworkClass-list li p{
    width: 80px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.t-homeworkClass-list .pull-down {*/
    /*width: 689px;*/
    /*_width: 688px;*/
    /*float: none;*/
    /*clear: both;*/
    /*position: relative;*/
    /*top: -1px;*/
    /*overflow: hidden;*/
    /*zoom: 1;*/
    /*background-color: #f5fbff;*/
    /*padding: 0;*/
/*}*/

/*.t-homeworkClass-list .pull-down p {*/
    /*float: left;*/
    /*padding: 12px 0;*/
    /*width: 80px;*/
    /*text-align: left;*/
    /*margin: 0 2px 0 10px;*/
    /*line-height: 100%;*/
/*}*/

/*.t-homeworkClass-list .pull-down p .w-icon-md {*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*width: 62px;*/
/*}*/

/*.t-homeworkClass-list .pull-down .active {*/
    /*color: #189cfb;*/
/*}*/

.t-homeworkClass-list li.active {
    background-color: #2ab27b;
    color: #fff;
    z-index: 2;
}

.t-homeworkClass-list li.hover {
    text-align: center;
}
/*出题*/
.btn-home{
    border: 1px dashed #439fe0!important;
}
.btn-home:hover{
    box-shadow: none;
}
.btn-option:hover{
    box-shadow: none;
}
.images-upload{
    width: 100px;
    height: 100px;
    border: 1px solid #dfdfdf;
    background: url("/images/icon-upload.png") no-repeat center;
}
.quest-number{
    margin: -5px 10px 0px -20px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    float:left;
    background: #2ab27b;
}
.answerIcon{
    position: absolute;
    z-index: 2;
    margin-left: -12px;
    margin-top: 15px;
}
.input-times{
    display: block;
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-top: -50px
}
.images-times{
    width: 20px; margin:-3px 0 0 72px; text-align: right;position: absolute; float: right
}
.result-flag-w {
    float: right;
    width: 40px;
    height: 40px;
    background: url("/images/e-icon.png") no-repeat;
    z-index: 99;
    position: absolute;
    margin-top: -10px;
    margin-left: 730px;
}