@charset "UTF-8";

body {
    background: #2aabe6!important;
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-family:"微软雅黑","Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
    padding: 0;
}
.iphone-box{
    position: absolute;
    width: 720px;
    padding: 20px 0;
    left: 50%;
    margin-left: -360px;
    top: 50%;
    margin-top: -300px;
}
.phone{
    float: left;
    width: 322px;
}
.phone .phone-header{
    background: url("/images/phone_header.png") no-repeat center;
    height: 42px;
    width: 322px;
}
.phone .phone-title{
    background: url("/images/phonetitle1.gif") no-repeat center;
    height: 20px;
    width: 322px;
}
.phone .phone-body{
    height: 533px;
    width: 322px;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.phone .phone-body iframe{
    height: 533px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 320px;
}
.phone .phone-footer{
    background: url("/images/phone_footer.png") no-repeat center;
    height: 47px;
    width: 322px;
}
.wxqrcode{
    width: 248px;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
    text-align: center;
}
.wxqrcode .qrcode-img{
}
.wxqrcode .qrcode-info{
    color: #fff;
    margin-top: 30px;
    font-size: 13px;
}
.wxqrcode .qrcode-info h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 30px;
}