
.checkbox-que{
    padding-top: 2px;
    float: left;
    margin-right: 10px;
}
.w-que-width{
    width: 300px;
}
.w-base-container .t-del-question{
    padding-left: 16px;
    padding-top: 0px;
}
.w-base-container .t-del-question .question-tab{
    border-color: gray;
}
.w-base-container .t-del-question .quest-list-tit{
    text-align: left;
}
.quest-opts-area{
    height: 40px;
    margin: 0;
}

.quest-opts-area ul{
    padding: 0px;
}

.quest-opts-area ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    zoom: 1;
    font-size: 13px;
    width: 100px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    margin-left: 5px;
    cursor: pointer;
}

.quest-opts-area ul li:hover{
    /*color: rgb(255, 255, 255);
    opacity: .6;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px;*/
}

.quest-opts-area .selected{
    background-color: #72d26e;
    color: #fff;
    border-radius:2px
}
.quest-opts-area .selected a{
    background-color: #72d26e;
    color: #fff;
    border-radius:2px
}

.quest-opts-area .selected:hover{

}

.question-tit{
    padding-bottom:10px;
}
.question-p{
    margin-bottom: 20px;
}

.w-base-container .question-img{
    width:750px;
    margin: 0 auto;
    text-align: center;
}
.w-base-container .question-img img{
    max-width: 750px;
    margin-bottom: 20px;
}
.w-base-container .question-info{
    width:750px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.w-base-container .question-info .info-tit{
    color:#1B1E24;
    font-size: 16px;
    padding-left: 10px;
}
.w-base-container .question-info .info-p{
    width: 750px;
    text-align:justify;
    text-justify:inter-ideograph;
    line-height: 30px;
}
.quest-mt{
    margin-top: 20px;
}
.quest-fl{
    float: left;
}
.line{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    border: 1px #dfdfdf solid;
}
.teacher-msg{
    padding-bottom: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.teacher-msg .msg-box{
    margin-bottom: 20px
}
.teacher-msg .msg-box textarea:focus{
    border: 1px #72d26e solid;
}
.msg-box .w-que-answer{
    border: 1px solid #dfdfdf;
    width: 640px;
    color: #333;
    min-height:150px;
    margin: 30px 0px 0px 30px;
    padding: 0px 5px 0px 5px;
}
.teacher-msg .msg-save{
    text-align: center;
    margin-bottom: 20px;
}
