/*报名*/
.enrollarea a:focus{
    text-decoration: none;
}
.enrollarea .delete{
    cursor: pointer;
}
.enrollarea .delete:hover{
    color: #2ab27b;
}
.enrollarea .add-column{
    width: 254px;
    height: 300px;
}
.enrollarea .add-column ul{
    width: 240px;
}
.enrollarea .add-column ul li{
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-right: 12px;
}
.enrollarea .add-column ul li button {
    width: 100px;
    text-align: left;
    height: 35px;
    color: #2ab27b;
    background-color: #fff;
    outline: none;
    border: 1px dashed #2ab27b;
}
.enrollarea .add-column ul li button:hover {
    background-color: #2ab27b;
    border: 1px solid #2ab27b;
    color: #fff;
    transition: all 0.2s linear;
}

/*发布文章*/
.images-cover{
    overflow: hidden;
}
/*文章列表*/
.post-item .post-item-title p{
    display: inline-block;
}
.post-item li{
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
}
.post-item li:hover{
    border: 1px solid #2aabe6;
}
/*微信编辑器*/
.editor .wx-editor-template-list{
    width: 438px;
    height: 79px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    *zoom: 1;
    border-radius: 4px 4px 0 0;
}

.editor .wx-editor-template-content{
    width: 438px;
    height: 544px;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-top:none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.editor .wx-editor-template-list ul{
}
.editor .wx-editor-template-list .nav li{
    border: none;
    text-align: center;
    margin:0 8px;
}
.editor .wx-editor-template-list .nav li i{
    display: block;
    line-height: 36px;
    font-size: 14px;
}
.editor .wx-editor-template-list .nav li .bg-color{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.editor .wx-editor-template-list .nav-tabs {
    border-bottom: none;
}
.editor .wx-editor-template-list .nav > li > a {
    position: relative;
    display: block;
    font-size: 13px;
    padding: 7px 3px;
    border: 2px solid transparent;
    border-radius: 0;
}
.editor .wx-editor-template-list .nav-tabs > li {
    margin-bottom: 1px;
}
.editor .wx-editor-template-list .nav-tabs > li > a {
    color: #666;
    margin-right: 0;
    border-radius: 0;
}
.editor .wx-editor-template-list .nav-tabs > li > a:hover {
    background: transparent;
    opacity: 0.8;
}
.editor .wx-editor-template-list .nav-tabs > li.active > a,
.editor .wx-editor-template-list .nav-tabs > li.active > a:hover,
.editor .wx-editor-template-list .nav-tabs > li.active > a:focus {
    border-radius: 0;
    cursor: default;
    background: none;
    border-bottom: 2px solid #2ab27b;
}
.colorpick-w{
    width: 230px;
    height: 160px;
}
.editor .colorpick{
    width: 240px;
    height: 160px;
    padding: 2px 0 0 2px;
    margin-right: -1px;
    float: left;
}
.editor .nav .colorpick-w .colorpick ul{
    width: 200px;
}
.editor .nav .colorpick ul li {
    width: 18px;
    height: 18px;
    float: left;
    margin: 5px 6px 8px 0;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
.editor .nav .colorpick ul li:hover{
    box-shadow: 1px 1px 4px #444 inset,0 0 5px #60d0ff;
}
.upload-area{
    height: 300px;
    border: 2px dashed #d4d4d4;
    padding: 10px;
}

.wx-editor-template-content li{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    transition: 0.3s;
}
.wx-editor-template-content li:hover{
    border: 1px solid #2aabe6;
}

/*图库列表*/
.images-list{
    width: 430px;
}
.images-list li{
    float: left;
    width: 190px;
    height: 160px;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    padding: 0;
    border: none;
    transition: all 0.3s ease 0s;
}
.images-list li:hover{
    opacity: 0.7;
    border: none;
}
.images-list li img{
    width: 190px;
    height: 160px;
}
.upload-btn{
    width: 190px;
    height: 160px;
    border: 2px dashed #dfdfdf;
    background: url("/images/icon-upload.png") no-repeat center;
    background-color: #f4f4f4;
}

/*报名名单*/
.task-management-registration{
    overflow: hidden;
    padding-bottom: 30px;
}

.task-management-registration .counter{
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}
.list-registration{
    padding-left: 20px;
    padding-right: 20px;

}

.list-registration .extraction {
    display: none;
    margin-top: -5px;
}

.list-registration ul li:first-child{
    margin: 0;
}

.list-registration ul li{
    margin-top: 15px;
}

.list-registration ul li:first-child{
    cursor: pointer;
}

.list-registration ul li{
    background-color: #f1f1f1;
    overflow: hidden;
}

.list-registration .head{

}

.list-registration .head img{
    float: left;
    margin-top: 9px;
}

.list-registration .head .info{
    padding: 5px;
    margin-left: 48px;
    font-size: 14px;
    padding-bottom: 15px;
}

.list-registration .head .key{

}

.list-registration .head .value{
    margin-left: 5px;
}

.list-registration .name{
    margin-left: 18px;
    float: left;
    padding-top: 20px;
    font-size: 15px;
}

.list-registration .create{
    float: left;
    color: #acacac;
    padding: 19px;
    margin-left: 260px;
}

/*任务列表*/
.opts-area{
    height: 36px;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 12px;
}

.opts-area ul{
    padding: 0px;
    margin: 20px 0px 40px;
}

.opts-area ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    line-height: 20px;
    zoom: 1;
    font-size: 14px;
    width: 61px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    margin-right: 15px;
    cursor: pointer;
}

.opts-area ul li:hover{
    /*color: rgb(255, 255, 255);
    opacity: .6;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px;*/
}

.opts-area .selected{
    background-color: #2ab27b;
    color: #fff;
    border-radius:2px
}

.opts-area .selected:hover{

}
.tasks-list{

}

.tasks-list ul{

}

.tasks-list ul li{
    height: 108px;
    padding-top: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.tasks-list .thumb{
    float: left;
}

.tasks-list .title{
    float: left;
    width: 76%;
}

.tasks-list .management{
    float: left;
    height: 90px;
    margin-left: 16px;
}

.tasks-list .title .title-content{
    margin-left: 18px;
    margin-top: 10px;
    font-size: 14px;
}

.tasks-list .title .title-size{
    font-size: 12px;
    color: #a9a9a9;
}

.tasks-list .title .title-state{
    margin-top: 15px;
}
.task-name{
    width: 470px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-search{
    width: 200px;
    float: right;
    margin-top: -42px
}
/*帮助与支持*/
.consultation ul{
    padding-top: 40px;
    padding-bottom: 30px;
    overflow: hidden;
}

.consultation ul li{
    height: 36px;
    margin-bottom: 24px;
    font-size: 28px;
    margin-left: 24px;
    color: #43d1d5;
}

.consultation .qq{
    font-size: 18px;
    margin-left: 6px;
    letter-spacing: 1px;
    color:#acacac
}

.consultation .phone-frame{
    margin-left: 70px;
}

.consultation .phone{
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 0px;
    color:#acacac
}
/*返回顶部*/
.w-top {
    /*opacity: 0;*/
    filter: alpha(opacity=0);
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.w-top {
    position: fixed;
    _position: absolute;
    right: 72px;
    bottom: 100px;
    z-index: 79;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -2000px;
    background: url("/images/w-top.png") no-repeat;
}

.w-top:hover {
    background: url("/images/w-top-hover.png") no-repeat;
}

/*班级选择*/
.t-homeworkClass-list {
    margin: 0;
    float: left;
}

.t-homeworkClass-list li {
    float: left;
    border: 1px solid #cccccc;
    background-color: #fff;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    margin-right:10px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 36px;
    width: 100px;
}
.t-homeworkClass-list li p{
    width: 80px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.t-homeworkClass-list li.active {
    background-color: #2ab27b;
    color: #fff;
    z-index: 2;
}

.t-homeworkClass-list li.hover {
    text-align: center;
}
/*出题*/
.btn-home{
    border: 1px dashed #439fe0!important;
}
.btn-home:hover{
    box-shadow: none;
}
.btn-option:hover{
    box-shadow: none;
}
.images-upload{
    width: 130px;
    height: 130px;
    border: 1px solid #dfdfdf;
}
.images-que-list{
    padding: 20px 0 10px 0;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.images-group{

}
.quest-number{
    width: 32px;
    height: 32px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}
.quest-title{
    background: url("/images/icon-quest-title.png") no-repeat;
    width: 141px;
    height: 34px;
    font-size: 14px;
    color: #686868;
    line-height: 34px;
    float: left;
}
.answerIcon{
    position: absolute;
    z-index: 2;
    margin-left: -12px;
    margin-top: 15px;
}
.input-times{
    display: block;
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-top: 5px
}
.images-times{
    width: 20px; margin:-3px 0 0 102px; text-align: right;position: absolute; float: right
}
.upload-control{
    width: 130px;
    margin-top: 10px;
    text-align: center;
}
.images-que{
    padding: 0 10px;
}
.images-que .success{
    border: 2px solid #2ab27b;
    color: #2ab27b;
}
.images-que .error{
    border: 2px solid #fb6d9d;
    color: #fb6d9d;
}
.homework-area .form-group{
    margin-left: 0;
    margin-right: 0;
}
/*解析*/
.analysis-que{
    background: #f7f6f2;
    padding-top: 10px;
    font-size: 14px;
    color: #999;
    min-height: 70px;
}
/*题目正确错误*/
.result-flag-w {
    width: 40px;
    height: 40px;
    z-index: 99;
    position: absolute;
    right: 0;
    margin-top: -13px;
    margin-right: 20px;
    background: url("/images/e-icon.png") no-repeat;
}
.result-flag-r {
    width: 40px;
    height: 40px;
    z-index: 99;
    position: absolute;
    right: 0;
    margin-top: -13px;
    margin-right: 20px;
    background: url("/images/r-icon.png") no-repeat;
}
.quizzes-list .result-flag-r{
    background:none;
}
.quizzes-title{
    font-weight: 600;
}
.quizzes-title p{
    display: inline-block;
}
.homework-area label{
    width: 80px;
    float: left;
    text-align: right;
}
/*家校沟通*/
.record{
    width: 680px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*任务创建列表*/
.type-list{
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.type-list ul{
    width: 100%;
    margin-top: -15px;
}

.type-list ul li{
    width: 269px;
    height: 220px;
    float: left;
    text-align: center;
    border: 2px solid #dfdfdf;
    margin-right: 19px;
    margin-top: 30px;
}

.type-list ul li:hover{
    border: 2px #72d26e solid;
    cursor: pointer;
    color: #999;
}
.type-list .task-icon{
    height:120px;
}

.type-list .task-icon .img{
    margin-top: 25px;
}

.type-list .task-icon .task-title{
    color: #999;
    font-size: 18px;
    margin-top: 28px;
}
.type-list .task-icon .task-content{
    margin-top: 26px;
    font-size: 14px;
    color: #999;
}
.no-task:hover{
    cursor: not-allowed;
}

/*teacher-home*/
.w-hwk-icon {
    background: url("/images/m-homework-icon.png") no-repeat 0 0;
    width: 100px;
    height: 66px;
    display: inline-block;
}

.w-hwk-icon-1 {
    background-position: 0 0;
}

.w-hwk-icon-1-dis {
    background-position: -128px 0;
}

.w-hwk-icon-2 {
    background-position: 0 -91px;
}

.w-hwk-icon-2-dis {
    background-position: -128px -91px;
}

/*在线答疑*/
.checkbox-que{
    padding-top: 2px;
    float: left;
    margin-right: 10px;
}
.w-que-width{
    width: 300px;
}
.t-del-question{
    padding-left: 16px;
    padding-top: 0px;
}
.t-del-question .question-tab{
    border-color: gray;
}
.t-del-question .quest-list-tit{
    text-align: left;
}
.quest-opts-area{
    height: 40px;
    margin: 0;
}

.quest-opts-area ul{
    padding: 0px;
}

.quest-opts-area ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
    zoom: 1;
    font-size: 13px;
    width: 100px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    margin-left: 5px;
    cursor: pointer;
}
.quest-opts-area ul li:hover{
    /*color: rgb(255, 255, 255);
    opacity: .6;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px;*/
}
.quest-opts-area ul li a{
    width: 100px;
    height: 28px;
    padding: 2px 16px;
    color: #212121!important;
}

.quest-opts-area .selected{
    background-color: #72d26e;
    color: #fff;
    border-radius:2px
}
.quest-opts-area .selected a{
    width: 100px;
    height: 28px;
    background-color: #72d26e;
    color: #fff!important;
    border-radius:2px
}

.quest-opts-area .selected:hover{

}

.question-tit{
    padding-bottom:10px;
}
.question-p{
    margin-bottom: 20px;
}

.question-img{
    width:750px;
    margin: 0 auto;
    text-align: center;
}
.question-img img{
    max-width: 750px;
    margin-bottom: 20px;
}
.question-info{
    width:750px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.question-info .info-tit{
    color:#1B1E24;
    font-size: 16px;
    padding-left: 10px;
}
.question-info .info-p{
    width: 750px;
    text-align:justify;
    text-justify:inter-ideograph;
    line-height: 30px;
}
.quest-mt{
    margin-top: 20px;
}
.quest-fl{
    float: left;
}
.line{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    border: 1px #dfdfdf solid;
}
.teacher-msg{
    padding-bottom: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.teacher-msg .msg-box{
    margin-bottom: 20px
}
.teacher-msg .msg-box textarea:focus{
    border: 1px #72d26e solid;
}
.msg-box .w-que-answer{
    border: 1px solid #dfdfdf;
    width: 640px;
    color: #333;
    min-height:150px;
    margin: 30px 0px 0px 30px;
    padding: 0px 5px 0px 5px;
}
.teacher-msg .msg-save{
    text-align: center;
    margin-bottom: 20px;
}

/*班级管理*/
.class-add-group{
    height: 220px;
    border: 1px dashed #cccccc;
    text-align: center;
    padding-top: 40px;
    background-color: #f4f8fb;
}
.class-add:hover .class-add-group{
    opacity: 0.8;
    border: 1px solid #2aabe6;
}
.class-add-group p{
    font: 700 16px/50px "";
    color: #2aabe6;
}
.class-add-group .class-icon{
    width: 100px;
    height: 100px;
    border: 1px solid #2aabe6;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.class-add-group  .class-icon i{
    color: #2aabe6;
    line-height: 100px;
    font-size: 32px;
}
.class-item .class-group{
    background: #60b9ff;
    height: 180px;
}
.class-item:hover .class-group{
    opacity: 0.8
}
.class-item .class-group .class-icon{
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -50px;
}
.class-item .class-group .class-icon i{
    color: #fff;
    line-height: 100px;
    font-size: 32px;
}
.class-item .class-title{
    background: #fff;
    height: 40px;
    border: 1px solid #ccc;
    border-top: none;
}
.class-item .class-title p {
    float: left;
    width: 130px;
    padding: 0 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font: 600 14px/40px "";
    color: #2aabe6;
}
.class-item .class-title .count{
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    color: #67717e;
    float: right;
    padding: 0 20px 0 0;
    display: block;
    font-size: 14px;
    line-height: 40px;
}
.batch-select {
    position: absolute;
    margin-left: 180px;
}
.batch-select .btn{
    padding: 4px 12px;
    border-radius: 0;
}
.batch-select .btn:hover{
    box-shadow: none;
}
.batch-select .btn-white{
    border: 1px solid #dfdfdf!important;
}

/*学生详情*/
.student-profile-header{
    background:url("../images/hd_bg.jpg");
    height: 370px;
    margin-bottom: 20px;
}
.student-profile-header .avatar{
    display: block;
}
.student-profile-header .avatar img{
    margin-top: 80px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.student-profile-header p{
    display: inline-block;
}
/*电话记录*/
.record-list .panel,.scores-list .panel{
    border-bottom: 1px solid #f8f6f2;
}
.record-list .spread,.scores-list .spread{
    margin-top: -50px;
    position: absolute;
    right: 20px;
}
.record-list .panel-heading,.scores-list .panel-heading{
    border: none;
    padding: 0;
    height: 60px;
}
.record-list .panel-body,.scores-list .panel-body{
    padding-top: 0;
    padding-bottom: 0;
}
.record-list .record-list-title,.scores-list .scores-list-title{
    margin-left: 30px;
    font-weight: 100;
    width: 650px;
}
.record-list .record-list-title h4,
.record-list .record-list-title p,
.scores-list .scores-list-title h4,
.scores-list .scores-list-title p,
{
    width: 650px;
}

.record-list .record-details,.scores-list .scores-details{
    width: 750px;
    word-break: break-all;
    margin-left: 70px;
}

.scores-area .scores-number{
    font-size: 18px;
    width: 60px;
    text-align: center;
}