{% extends '../base.html' %}

{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'作业管理'},{'url':'','title':'作业详情'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-4">
        <div class="panel info-box panel-green">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="teacher-count">
                        <span class="f-s-26">{{ performance.spendSeconds | caculateTime('hour')}}</span><span>:</span>
                        <span class="f-s-26">{{ performance.spendSeconds | caculateTime('minute')}}</span><span>:</span>
                        <span class="f-s-26">{{ performance.spendSeconds | caculateTime('second')}}</span>
                    </p>
                    <span class="info-box-title">花费时间</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel info-box panel-yellow">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="class-count">
                        {{performance.wrongCollect.length || 0}}
                    </p>
                    <span class="info-box-title">错题数量</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa-frown-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel info-box panel-red">
            <div class="panel-body">
                <div class="info-box-stats">
                    <p class="counter" id="student-count">
                        {{student.score}}
                    </p>
                    <span class="info-box-title">积分总数</span>
                </div>
                <div class="info-box-icon">
                    <i class="fa fa fa-database"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-info-circle m-r-xxs"></i>学生信息</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-md">
                    <div class="form-group col-xs-6">
                        <label class="col-xs-2 control-label">姓名：</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" value="{{student.displayName}}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="col-xs-2 control-label">学校：</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" value="{{student.displayName}}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="col-xs-2 control-label">电话：</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" value="{{student.phone}}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="col-xs-2 control-label">年级：</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" value="{{student.onSchool.onGrade}}"
                                   disabled/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-file-text-o m-r-xxs"></i>作业详情</h4>
            </div>
            <div class="panel-body">
                <div id="exerciseList">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-comment-o m-r-xxs"></i>作业评价</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-md">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">填写作业评语：</label>
                        <div class="col-xs-9">
                            {% if performance.state != 2 %}
                                <select class="form-control" id="comment-options" data-settings='{"cutOff":5}'>
                                    <option value="Very good! Come on!">1.Very good! Come on!</option>
                                    <option value="这次作业完成的很好，回家后好好复习，继续努力，See you next class！">2.这次作业完成的很好，回家后好好复习，继续努力，See you next
                                        class！
                                    </option>
                                    <option value="课文读的很好，很熟练，发音也很标准，再接再厉，继续保持哦！">3.课文读的很好，很熟练，发音也很标准，再接再厉，继续保持哦！</option>
                                    <option value="我为你高兴，认真完成作业是成功的一半，成功在等待着你。">4.我为你高兴，认真完成作业是成功的一半，成功在等待着你。</option>
                                    <option value="作业很好，有进步，望在课堂上也如此！">5.作业很好，有进步，望在课堂上也如此！</option>
                                    <option value="Good!你认真的学习态度，规范的作业，值得大家学习！">6.Good!你认真的学习态度，规范的作业，值得大家学习！</option>
                                    <option value="我相信有一分耕耘就会有一分收获，你会有更大的进步！">7.我相信有一分耕耘就会有一分收获，你会有更大的进步！</option>
                                    <option value="这次作业完成的不是很好，回家后要好好复习，下次一定行！">8.这次作业完成的不是很好，回家后要好好复习，下次一定行！</option>
                                    <option value="课文背诵不是很熟练，还需继续练习！">9.课文背诵不是很熟练，还需继续练习！</option>
                                    <option value="这周上课不是很认真，下次看你的表现哦！Come on！">10.这周上课不是很认真，下次看你的表现哦！Come on！</option>
                                    <option value="单词背诵有待提高，回去继续练习，下周我要检查!">11.单词背诵有待提高，回去继续练习，下周我要检查!</option>
                                    <option value="这部分知识不难，多看看书，把每一道题都要弄清楚，Come on！">12.这部分知识不难，多看看书，把每一道题都要弄清楚，Come on！</option>
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                        <textarea class="form-control" rows="3" {% if performance.state=== 2 %} readonly {% endif %} name="comment">{{performance.comment && performance.comment.content}}</textarea>
                        </div>
                    </div>
                    <input type="hidden" value="{{performance.homeworkId}}" id="homeworkId"/>
                    <input type="hidden" value="{{student._id.toString()}}" id="studentId"/>
                    {% if performance.state === 1 %}
                    <div class="form-group text-center">
                        <div>
                            <button type="button" class="btn btn-default" id="reward-save-btn">保存</button>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% include '../../templates/exerciseReadOnlyTemplate.html' %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    window.exercises = {{exercises | json | safe}};
</script>

<script>
    requirejs(['/js/app/teacher/homework/view-studentDetail.js']);
</script>

{% endblock %}
