{% extends '../base.html' %}

{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'作业管理'},{'url':'','title':'作业详情'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3>学生信息</h3>
    </div>

    <div class="w-base-container" style="margin-top: 15px;overflow: hidden">
        <div class="private-information" style="margin-left: 75px">
            <ul style="float: left">
                <li>
                    姓名：<input type="text" class="input-info input-info-ext" value="{{student.displayName}}"
                              readonly="readonly"/>
                </li>
                <li style="margin-top: 20px">
                    学校：<input type="text" class="input-info input-info-ext" value="{{student.onSchool.schoolName}}"
                              readonly="readonly"/>
                </li>

            </ul>
            <ul class="righter-ul">
                <li>
                    电话：<input type="text" class="input-info input-info-ext" value="{{student.phone}}"
                              readonly="readonly"/>
                </li>
                <li style="margin-top: 20px">
                    年级：<input type="text" class="input-info input-info-ext" value="{{student.onSchool.onGrade}}"
                              readonly="readonly"/>
                </li>

            </ul>

        </div>
        <div style="background-color: #fff; height: 16px;"></div>
    </div>

</div>

<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3>作业情况</h3>
    </div>
    <div class="w-base-container">
        <ul style="width: 842px;margin: 0 auto;overflow:hidden">
            <li class="w-analyse-data w-analyse-data-ext" style="background-color: #3fc59d; width: 221px;">
                <div class="icon">
                    <i class="fa fa-clock-o fa-5x"></i>
                </div>
                <div class="icon-title">
                    <div class="title">花费时间</div>
                    <div class="content" style="font-size: 13px">
                        <span class="font-size-26">{{ performance.spendSeconds | caculateTime('hour')}}</span><span
                            class="detail-thin">:</span>
                        <span class="font-size-26">{{ performance.spendSeconds | caculateTime('minute')}}</span><span
                            class="detail-thin">:</span>
                        <span class="font-size-26">{{ performance.spendSeconds | caculateTime('second')}}</span>
                    </div>
                </div>
            </li>
            <li class="w-analyse-data w-analyse-data-ext" style="background-color: #e2747e; width: 221px">
                <div class="icon">
                    <i class="fa fa-frown-o fa-5x"></i>
                </div>
                <div class="icon-title">
                    <div class="title">错题数量</div>
                    <div class="content" style="font-size: 30px">{{performance.wrongCollect.length || 0}}</div>
                </div>
            </li>
            <li class="w-analyse-data w-analyse-data-ext" style="background-color: #f4bf4d; width: 221px">
                <div class="icon" style="padding-top: 15px">
                    <i class="fa fa fa-database fa-4x"></i>
                </div>
                <div class="icon-title">
                    <div class="title">积分总数</div>
                    <div class="content" style="font-size: 30px">{{student.score}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="w-base w-base-border" style="margin-bottom: 0">
    <div class="w-base-title">
        <h3>作业详情</h3>
    </div>
    <div class="w-base-container">
        <ul id="exerciseList">

        </ul>

    </div>
    <div style="background-color: #fff; height: 30px;"></div>
</div>

<div class="w-base ng-scope w-base-border"
     style="margin-top: 15px;padding-bottom: 10px;margin-bottom: 30px;overflow: hidden;">
    <div class="w-base-title">
        <h3>作业评价</h3>
    </div>
    <div class="reward-score">
        <div class="current-comment">填写作业评语：</div>
        <div style="float:left;margin-bottom: 30px">
            {% if performance.state != 2 %}
            <div class="homework-comment-options">
                <select class="dropdown" id="comment-options" data-settings='{"cutOff":5}'>
                    <option value="Very good! Come on!">1.Very good! Come on!</option>
                    <option value="这次作业完成的很好，回家后好好复习，继续努力，See you next class！">2.这次作业完成的很好，回家后好好复习，继续努力，See you next
                        class！
                    </option>
                    <option value="课文读的很好，很熟练，发音也很标准，再接再厉，继续保持哦！">3.课文读的很好，很熟练，发音也很标准，再接再厉，继续保持哦！</option>
                    <option value="我为你高兴，认真完成作业是成功的一半，成功在等待着你。">4.我为你高兴，认真完成作业是成功的一半，成功在等待着你。</option>
                    <option value="作业很好，有进步，望在课堂上也如此！">5.作业很好，有进步，望在课堂上也如此！</option>
                    <option value="Good!你认真的学习态度，规范的作业，值得大家学习！">6.Good!你认真的学习态度，规范的作业，值得大家学习！</option>
                    <option value="我相信有一分耕耘就会有一分收获，你会有更大的进步！">7.我相信有一分耕耘就会有一分收获，你会有更大的进步！</option>
                    <option value="这次作业完成的不是很好，回家后要好好复习，下次一定行！">8.这次作业完成的不是很好，回家后要好好复习，下次一定行！</option>
                    <option value="课文背诵不是很熟练，还需继续练习！">9.课文背诵不是很熟练，还需继续练习！</option>
                    <option value="这周上课不是很认真，下次看你的表现哦！Come on！">10.这周上课不是很认真，下次看你的表现哦！Come on！</option>
                    <option value="单词背诵有待提高，回去继续练习，下周我要检查!">11.单词背诵有待提高，回去继续练习，下周我要检查!</option>
                    <option value="这部分知识不难，多看看书，把每一道题都要弄清楚，Come on！">12.这部分知识不难，多看看书，把每一道题都要弄清楚，Come on！</option>
                </select>
            </div>
            {% endif %}
                <textarea class="w-textarea" rows="3" style="width: 446px;min-height:150px;margin-top: 28px;margin-left: 0;" {% if performance.state=== 2 %} readonly {% endif %} name="comment">{{performance.comment && performance.comment.content}}</textarea>
        </div>

    </div>

    <input type="hidden" value="{{performance.homeworkId}}" id="homeworkId"/>
    <input type="hidden" value="{{student._id.toString()}}" id="studentId"/>
    {% if performance.state === 1 %}
    <div style="margin: 25px auto;width: 120px;">
        <a class="w-btn w-btn-green complete-check-btn" id="reward-save-btn"
           style="width: 120px;font-size: 16px"
           href="javascript:void(0);">保存</a>
    </div>
    {% endif %}

</div>


{% include '../../templates/exerciseReadOnlyTemplate.html' %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    window.exercises = {{exercises | json | safe}};
</script>

<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/homework/view-studentDetail.js']);
</script>

{% endblock %}
