<script type="template" id="textSelectTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    单项选择题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <% _.each(exercise.choices,function(choice){ %>
                    <div class="form-group
                        <% if (choice.title == exercise.answer) { %>has-success
                        <% } else if(choice.title == exercise.wrongAnswer){ %>has-error
                        <% } %>
                        ">
                        <div class="input-group col-xs-10">
                            <span class="input-group-addon"><%= choice.title %></span>
                            <input type="text" class="form-control" value="<%= choice.content %>" disabled>
                        </div>
                    </div>
                    <% }); %>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <div class="row">
                                <p class="que-title">参考答案：</p>
                                <p class="que-info"><%= exercise && exercise.answer %></p>
                            </div>
                            <% if (exercise.wrongAnswer) { %>
                            <div class="row">
                                <p class="que-title">学生答案：</p>
                                <p class="que-info"><%= exercise.wrongAnswer %></p>
                            </div>
                            <% } %>
                            <div class="row">
                                <div class="que-title">答案解析：</div>
                                <div class="que-info"><textarea onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'" readonly><%= exercise.analysis %></textarea></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="template" id="imageSelectTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    图片题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 no-p">
                            <div class="row">
                                <% _.each(exercise.choices,function(choice){ %>
                                <div class="col-xs-3 images-que">
                                    <div class="images-que-list
                                        <% if (choice.title == exercise.answer) { %>success
                                        <% } else if(choice.title == exercise.wrongAnswer){ %>error
                                        <% } %>
                                        ">
                                        <div class="images-group">
                                            <img class=""
                                                 src="http://resource.hizuoye.com/<%= choice.content %>?imageView2/1/w/155/h/155/interlace/1">
                                        </div>
                                        <p class="m-t-xs"><%= choice.title %></p>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <div class="row">
                                <p class="que-title">参考答案：</p>
                                <p class="que-info"><%= exercise && exercise.answer %></p>
                            </div>
                            <% if (exercise.wrongAnswer) { %>
                            <div class="row">
                                <p class="que-title">学生答案：</p>
                                <p class="que-info"><%= exercise.wrongAnswer %></p>
                            </div>
                            <% } %>
                            <div class="row">
                                <div class="que-title">答案解析：</div>
                                <div class="que-info"><textarea onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'" readonly><%= exercise.analysis %></textarea></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>


<script type="template" id="blankTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    填空题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <div class="row">
                                <p class="que-title">参考答案：</p>
                                <p class="que-info"><%= exercise && exercise.answer %></p>
                            </div>
                            <% if (exercise.wrongAnswer) { %>
                            <div class="row">
                                <p class="que-title">学生答案：</p>
                                <p class="que-info"><%= exercise.wrongAnswer %></p>
                            </div>
                            <% } %>
                            <div class="row">
                                <div class="que-title">答案解析：</div>
                                <div class="que-info"><textarea onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'" readonly><%= exercise.analysis %></textarea></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="template" id="voiceTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    语音题
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <% if(exercise.audioAnswer) {%>
                    <audio src="http://resource.hizuoye.com/<%= exercise.audioAnswer %>" controls="controls">
                        请使用360极速浏览器
                    </audio>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</script>
