<script type="template" id="quizContributionRankTemplate">
    <div id="teacherRankTable">
        <table class="table">
            <thead>
            <tr>
                <th>排名</th>
                <th>姓名</th>
                <th>出题数</th>
                <th>百分比</th>
            </tr>
            </thead>
            <tbody id="quizContributionRankList">
            <% for(var i = 0; i < rankList.length; i++){ var teacher = rankList[i]; %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= teacher.displayName %></td>
                <td><%= teacher.quizzesCount %></td>
                <td><%= (teacher.quizzesPercent * 100).toFixed(1) %>%</td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</script>
