{% extends '../base.html' %}

{% block content %}
<div style="padding-bottom: 15px">
    <div class="w-base-container">
        <ul class="home-information">
            <li class="w-analyse-data-home w-fl-left">
                <div>
                    <div class="w-fl-left l-icon icon-terques">
                        <div class="margin-top-20"><i class="fa fa-eye fa-5x"></i></div>
                    </div>
                    <div class="w-fl-left r-content">
                        <div class="title">阅读人数</div>
                        <div class="content" id="teacher-count">10000</div>
                    </div>
                </div>
            </li>

            <li class="w-analyse-data-home w-fl-left">
                <div>
                    <div class="w-fl-left l-icon icon-gold">
                        <div class="margin-top-20"><i class="fa fa-share-alt fa-5x"></i></div>
                    </div>
                    <div class="w-fl-left r-content">
                        <div class="title">分享人数</div>
                        <div class="content" id="class-count">20000</div>
                    </div>
                </div>
            </li>
            <li class="w-analyse-data-home w-fl-left">
                <div>
                    <div class="w-fl-left l-icon icon-blue">
                        <div class="margin-top-20"><i class="fa fa-thumbs-up fa-5x"></i></div>
                    </div>
                    <div class="w-fl-left r-content">
                        <div class="title">点赞人数</div>
                        <div class="content" id="student-count">30000</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="w-clear"></div>
    </div>
</div>

<div class="task-options-select">
    <div class="option-title">任务类型</div>
    <div class="options">
        <select class="dropdown">
            <option value="">幸运转盘赢大奖</option>
            <option value="">分享文章赚积分</option>
            <option value="">幸运转盘赢大奖</option>
            <option value="">分享活动赚积分</option>
            <option value="">分享活动赚积分</option>
            <option value="">分享活动赚积分</option>
        </select>
    </div>
    <div class="option-title option-title-ext">时间</div>
    <div class="options">
        <select class="dropdown">
            <option value="">过去3个月</option>
            <option value="">过去6个月</option>
            <option value="">过去9个月</option>
            <option value="">过去一年</option>
        </select>
    </div>
</div>

<div class="w-base w-base-extraction w-base-border" style="min-height: 453px;">
    <div class="w-base-title">
        <h3><i class="fa  fa-line-chart fa-fw mr-5"></i>幸运转盘赢大奖</h3>
    </div>

    <div class="analysis-dashboard">
        <ul>
            <li>
                <div class="data-icon"><i class="fa fa-users"></i></div>
                <div class="data">
                    87500
                </div>
                <div class="data-desc">
                    参与人数
                </div>
            </li>
            <li>
                <div class="data-icon"><i class="fa fa-gift"></i></div>
                <div class="data">
                    17500
                </div>
                <div class="data-desc">
                    中奖人数
                </div>
            </li>
            <li>
                <div class="data-icon"><i class="fa fa-eye"></i></div>
                <div class="data">
                    31500
                </div>
                <div class="data-desc">
                    阅读人数
                </div>
            </li>
            <li>
                <div class="data-icon"><i class="fa fa-thumbs-up"></i></div>
                <div class="data">
                    1500
                </div>
                <div class="data-desc">
                    点赞人数
                </div>
            </li>
            <!--<li>
                <div class="data-icon"><i class="fa fa-pencil-square-o"></i></div>
                <div class="data">
                    21500
                </div>
                <div class="data-desc">
                    报名人数
                </div>
            </li>-->
        </ul>
    </div>

    <div class="w-base-container" style="margin-top: 20px;margin-bottom: 50px">
        <div id="display-chart"></div>
    </div>
</div>





{% endblock %}
{% block javascript %}
<script>
    requirejs(['/js/app/school/statistics/statistics.js']);
</script>

{% endblock %}
