{% extends '../../layout.html' %}
{% block content %}

<!-- 班级列表 -->
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="/teacher/classes">
                        我的班级
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        一对一管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">班级列表</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 m-b-md">
                        <a class="class-add" href="javascript:void(0)" id="addClazz">
                            <div class="class-add-group">
                                <div class="class-icon">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </div>
                                <p>创建新班级</p>
                            </div>
                        </a>
                    </div>
                    <div id="classList"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 添加b班级提示框-->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">班级信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-md" id="classForm" name="classForm">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">班级名称：</label>
                        <div class="col-xs-7">
                            <input class="form-control validate"
                                   type="text" placeholder="比如：新概念英语1班"
                                   name="className"
                                   data-rules="required"
                                   data-display="班级名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">上课时间：</label>
                        <div class="col-xs-7">
                            <input class="form-control validate"
                                   type="text" placeholder="比如：每周五上午9点"
                                   name="courseTime"
                                   data-rules="required"
                                   data-display="上课时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-7">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>


{% include '../../templates/classTemplate.html' %}

{% endblock %}

{% block javascript %}

<script src="/js/entries/teacher/manager/list-classes.js"></script>

{% endblock %}
