{% extends '../../layout.html' %}
{% block content %} <!-- 面包屑 -->
<div class="row">

    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">班级信息</h4>
                <div class="panel-control">
                    <a href="javascript:void(0)" id="editClass">
                        <i class="fa fa-pencil m-r-xxs"></i>编辑
                    </a>
                    <div class="dropdown pull-right m-l-lg" id="clazzMenu">
                        <a href="#" class="dropdown-toggle f-gray" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="changeClass" href="javascript:void(0)"><i class="fa fa-exchange m-r-xs"></i>班级转让</a>
                            </li>
                            <li><a class="deleteClass {% if studentCount >0 %} disabled btn {% endif %}"
                                   href="javascript:void(0)"><i class="fa fa-trash-o f-pink m-r-xs"></i>班级删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="classInfo">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">班级名称</label>
                        <div class="col-xs-5">
                            <p class="form-control-static" id="className">
                                <<clazz.className>>
                            </p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">上课时间</label>
                        <div class="col-xs-5">
                            <p class="form-control-static" id="courseTime">
                                <<clazz.courseTime>>
                            </p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">班级教师</label>
                        <div class="col-xs-5">
                            <p class="form-control-static">
                                <<clazz.ownerDisplayName>>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">班级人数</label>
                        <div class="col-xs-1">
                            <p class="form-control-static">
                                <<studentCount>>
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-info btn-sm" id="download-btn"><i
                                    class="fa fa-cloud-download m-r-xxs"></i>下载名单
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">学生列表</h4>
                <div class="panel-control">

                    <button class="btn btn-default btn-sm" id="add-student-btn">
                        <i class="fa fa-plus m-r-xxs"></i>添加学生
                    </button>
                </div>
            </div>
            {% if classes.length !== 0 %}
            <div class="panel-body">
                <div class="batch-select">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-white" data-toggle="dropdown">
                            批量操作
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="batchScore" href="javascript:void(0)">积分管理</a></li>
                            <li><a id="batchDelete" href="javascript:void(0)">批量删除</a></li>
                        </ul>
                    </div>
                </div>
                <table id="students-list" class="display" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th width="5%" class="text-center">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" id="SelectAll">
                                    <span class="fa fa-check"></span></label>
                            </div>
                        </th>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>密码</th>
                        <th>性别</th>
                        <th>积分信息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-2">
        <div class="category-sidebar shadow">
            <ul class="nav nav-pills nav-stacked" id="selectCategory">
                <li>
                    <p class="b-b p-v-sm p-h-xs no-m"><i class="fa fa-list m-r-xs"></i>班级列表</p>
                </li>
                <li>
                    <a href="/teacher/classes">所有班级</a>
                </li>
                {% for cla in classes %}
                <li {% if cla._id.toString()=== clazz._id.toString() %} class="active" {% endif %}>
                    <a href="/teacher/classes/<<cla._id.toString()>>">
                        <<cla.className  | subTitle(6)>>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- 转让班级 -->
<div class="modal fade" id="exchangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">班级转让</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-sm" id="exchangeForm" name="exchangeForm">
                    <div class="form-group">
                        <label for="username" class="col-xs-3 control-label">老师工号：</label>
                        <div class="col-xs-8">
                            <input class="form-control validate" type="text"
                                   name="username"
                                   id="username"
                                   data-rules="required"
                                   data-display="工号">
                            <input type="hidden" name="classId" id="classId" value="<<clazz._id.toString()>>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--新建修改学生-->
<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">学生基本信息</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#new-built" data-toggle="tab">新建学生</a>
                    </li>
                    <li><a href="#number" data-toggle="tab">按学号添加</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="new-built">
                        <form class="form-horizontal m-t-sm" id="studentForm" name="studentForm">
                            <div class="form-group">
                                <label for="displayName" class="col-xs-2 control-label">姓名：</label>
                                <div class="col-xs-9">
                                    <input class="form-control validate" type="text" name="displayName"
                                           data-display="姓名"
                                           id="displayName"
                                           data-rules="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="col-xs-2 control-label">性别：</label>
                                <div class="col-xs-9">
                                    <select class="form-control validate" name="gender"
                                            id="gender"
                                            data-display="性别"
                                            data-rules="required">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-xs-2 control-label">密码：</label>
                                <div class="col-xs-9">
                                    <input class="form-control validate" type="text" name="password"
                                           value="123456"
                                           id="password"
                                           data-display="密码"
                                           data-rules="required|min_length[6]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-xs-2 control-label">电话：</label>
                                <div class="col-xs-9">
                                    <input class="form-control validate"
                                           type="text"
                                           name="phone"
                                           data-rules="required|exact_length[11]"
                                           data-display="电话"
                                           id="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentRemark" class="col-xs-2 control-label">备注：</label>
                                <div class="col-xs-9">
                                    <textarea class="form-control" rows="3" name="remark" id="studentRemark"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-9">
                                    <button type="submit" class="btn btn-info " id="save-student">确定</button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="number">
                        <form class="form-horizontal m-t-sm" id="joinClassForm" name="joinClassForm">
                            <div class="form-group">
                                <label for="selectUsername" class="col-xs-2 control-label">学号：</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control validate"
                                           name="username"
                                           id="selectUsername"
                                           data-provide="typeahead"

                                           autocomplete="off"
                                           data-rules="required"
                                           data-display="学号"/>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <button type="submit" class="btn btn-info" id="add-student">确定</button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">学生基本信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-sm" id="modifyStudentForm" name="modifyStudentForm">
                    <input type="hidden" name="_id" id="studentId">
                    <div class="form-group">
                        <label for="displayNameId" class="col-xs-2 control-label">姓名：</label>
                        <div class="col-xs-9">
                            <input class="form-control validate" type="text" name="displayName"
                                   data-display="姓名"
                                   id="displayNameId"
                                   data-rules="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genderId" class="col-xs-2 control-label">性别：</label>
                        <div class="col-xs-9">
                            <select class="form-control validate" name="gender"
                                    id="genderId"
                                    data-display="性别"
                                    data-rules="required">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordId" class="col-xs-2 control-label">密码：</label>
                        <div class="col-xs-9">
                            <input class="form-control validate" type="text" name="password"
                                   id="passwordId"
                                   data-display="密码"
                                   data-rules="required|min_length[6]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneId" class="col-xs-2 control-label">电话：</label>
                        <div class="col-xs-9">
                            <input class="form-control validate"
                                   type="text"
                                   name="phone"
                                   data-display="电话"
                                   id="phoneId"
                                   data-rules="required|exact_length[11]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="studentRemarkId" class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" rows="3" name="remark" id="studentRemarkId"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--积分操作-->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">积分信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-sm" id="scoreForm" name="scoreForm">
                    <div class="form-group">
                        <label for="scoreOpt" class="col-xs-2 control-label">操作：</label>
                        <div class="col-xs-9">
                            <select class="form-control" name="operation" id="scoreOpt">
                                <option value="0">增加</option>
                                <option value="1">减少</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="scoreValue" class="col-xs-2 control-label">积分：</label>
                        <div class="col-xs-9">
                            <input class="form-control validate" type="text" name="score"
                                   id="scoreValue"
                                   data-rules="required|integer"
                                   data-display="积分">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" name="remark" id="remark" cols="20" rows="10"
                                      placeholder="填写积分操作理由"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                            <button type="submit" class="btn btn-info" id="save-score">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 修改班级提示框-->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">班级信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-md" id="classForm" name="classForm">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">班级名称：</label>
                        <div class="col-xs-8">
                            <input class="form-control validate"
                                   type="text" placeholder="比如：新概念英语1班"
                                   name="className"
                                   data-rules="required"
                                   data-display="班级名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">上课时间：</label>
                        <div class="col-xs-8">
                            <input class="form-control validate"
                                   type="text" placeholder="比如：每周五上午9点"
                                   name="courseTime"
                                   data-rules="required"
                                   data-display="上课时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}

<script src="/js/entries/teacher/manager/view-class.js"></script>

{% endblock %}
