{% extends '../../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'营销活动'}]) }}
<!-- END OF BREADCRUMBS -->
<input type="hidden" id="taskId" value="{{task._id.toString()}}">
<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa fa-share-alt-square fa-fw mr-5"></i>营销活动</h3>
    </div>
    <div class="w-base-container">
        <div class="t-del-homework passage-activity" style="padding-top: 0px;">
            <div class="task-management">
                <div class="w-base-title">
                    <h3></h3>

                    <div class="w-base-switch">
                        <ul id="tab-title">
                            <li class="active"><a href="javascript:void(0)"><span class="h-arrow"></span><strong>基本信息</strong></a></li>
                        </ul>
                    </div>
                </div>

                <ul class="management-console">
                    <!-- 基本信息 -->
                    <li class="management-item">
                        <div class="task-management-info">
                            <ul>
                                <li>
                                    <div class="index"><i class="fa fa-users"></i>参与</div>
                                    <div class="value">{{task.participants}}</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-eye"></i>阅读</div>
                                    <div class="value">{{task.item.visitCount}}</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-share-alt"></i>分享</div>
                                    <div class="value">{{task.item.shareCount}}</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-thumbs-up"></i>赞</div>
                                    <div class="value">{{task.item.like}}</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="t-del-homework passage-activity" style="padding-top: 0px">
            <div class="container">

                <div class="title">
                    <div class="title-content">任务名称：</div>
                    <input class="frm_input_box" style="width:693px" type="text" id="name"
                           name="name"
                           value="{{task.name}}"
                           placeholder="比如：分享文章，赚积分，得礼包">
                </div>
                <div class="compliment">
                    <div class="compliment-title">奖励积分：</div>
                    <input class="frm_input_box" style="width:245px" type="text" id="scoreAward"
                           name="scoreAward"
                           value="{{task.scoreAward}}"
                           placeholder="请填入分享本篇文章奖励的积分数">
                </div>
                <div class="main-content">
                    <span class="content-title">分享文章：</span>

                    <div class="p-list">
                        <ul id="list-posts">
                            <li>
                                <div class="p-image-container">
                                    <img class="lazy"
                                         data-original="http://resource.hizuoye.com/{{task.item.image}}"
                                         src="http://static.hizuoye.com/images/coverpage_default.png"
                                         width="115px"
                                         height="80px"
                                         style="display: inline;">
                                </div>
                                <div class="p-title-container">
                                    <div class="title-content">{{task.item.title}}</div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-activity-storage">
                <a class="btn-big solid-btn-green" id="post-share-save" href="javascript:void(0);">保存</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/school/task/post/view-post-task.js']);
</script>

{% endblock %}
