{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'', 'title':'日程'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa  fa-calendar fa-fw mr-5"></i>日程管理</h3>
    </div>
    <div class="w-base-container" style="padding: 20px;">
        <div id='calendar'></div>
    </div>
</div>
<input type="hidden" id="scheduleId"/>
<div class="invisible" id="add-scheduler">
    <form class="form-control" id="schedule-form">
        <div class="form-group">
            <label for="start">开始时间:</label>
            <input id="start" name="start" type="text" class="w-datepicker"/>
        </div>
        <div class="form-group">
            <label for="end">结束时间:</label>
            <input id="end" name="end" type="text" class="w-datepicker"/>
        </div>
        <div class="form-group">
            <label for="title">日程内容:</label>
            <input name="title" id="title" placeholder="日程内容"/>
        </div>
        <div class="form-group btn-position">
            <a class="invisible btn-middle solid-btn-red jqicancelbutton del-btn">删除</a>
            <a class="btn-middle solid-btn-blue layer-ok-btn">保存</a>
        </div>
    </form>
    <!--</form>-->
</div>
{% endblock %}
{% block javascript %}
<script>
    requirejs(['/js/app/school/scheduler/list-schedulers.js']);
</script>

{% endblock %}
