<nav class="navbar navbar-default bg-white navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" href="#"><img src="/images/y-logo.png"></div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/teacher/profile"><i class="fa fa-cog f-s-18"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" id="help"><i class="fa fa-info-circle f-s-18"></i></a></li>
                <li>
                    <a href="/teacher/profile">
                        {{user.displayName}}
                        <img class="pull-right m-t-n-xxs img-circle m-l-xxs" src="http://resource.hizuoye.com/{{user.avatar | default('images/default/avatar.jpg')}}"
                             width="30" height="30">
                        </a>
                </li>
                <li><a href="/logout"><i class="fa fa-sign-out f-pink f-s-18"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
{% include '../../common/response.html' %}