<div class="page-sidebar-inner slimscroll">
    <div class="user-info">
        <div class="img m-b-xs pull-left">
            <img src="http://resource.hizuoye.com/{{user.avatar | default('images/default/avatar.jpg')}}"
                 width="48" height="48">
        </div>
        <p class="username">{{user.displayName}}</p>
        <p class="userNumber">{{user.username}}</p>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li class="{% if active === '0' %}active{% endif %}">
            <a href="/teacher">
                <i class="fa fa-home fa-fw m-r-sm"></i>首页
            </a>
        </li>
        <li class="left-menu {% if active[0] === '1' %}active{% endif %}">
            <a href="#homework" data-toggle="collapse">
                <i class="fa fa-database fa-fw m-r-sm"></i>作业
                <i class="pull-right fa fa-caret-down"></i>
            </a>
            <ul id="homework" class="nav nav-list collapse secondMenu">
                <li><a href="/teacher/homework/create" class="{% if active === '1-0' %}current{% endif %}">布置作业</a></li>
                <li><a href="/teacher/homework" class="{% if active === '1-1' %}current{% endif %}">管理作业</a></li>
                <li><a href="/teacher/homework/history" class="{% if active === '1-2' %}current{% endif %}">管理作业</a></li>
            </ul>
        </li>
        <li class="{% if active === '3' %}active{% endif %}">
            <a href="/teacher/classes">
                <i class="fa fa-sitemap fa-fw m-r-sm"></i>班级管理
            </a>
        </li>
        <li class="{% if active === '4' %}active{% endif %}">
            <a href="/teacher/students">
                <i class="fa fa-child fa-fw m-r-sm"></i>学生管理
            </a>
        </li>
        <li class="{% if active === '5' %}active{% endif %}">
            <a href="/teacher/quizzes">
                <i class="fa fa-cubes fa-fw m-r-sm"></i>题库资源
            </a>
        </li>
        <li class="{% if active === '6' %}active{% endif %}">
            <a href="/teacher/schedules">
                <i class="fa fa-calendar fa-fw m-r-sm"></i>日程管理
            </a>
        </li>
        <li class="{% if active === '7' %}active{% endif %}">
            <a href="/teacher/connections"><i class="fa fa-headphones fa-fw m-r-sm"></i>家校通
            </a>
        </li>
        <li class="{% if active === '8' %}active{% endif %}">
            <a href="/teacher/question"><i class="fa fa-files-o fa-fw m-r-sm"></i>在线答疑
            </a>
        </li>
    </ul>
</div>
