{% extends '../../layout.html' %}
{% block content %}
<!-- 面包屑 -->
<!-- END OF BREADCRUMBS -->
<div id="postApp">
    <div class="row m-b-md">
        <div class="col-xs-10">
            <p class="f-s-18 no-m m-t-xxs m-l-xs f-gray"><i class="glyphicon glyphicon-bookmark m-r-xs"></i>{{currentCategory}}</p>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-default btn-sm btn-block" href="/school/posts/create">
                <i class="glyphicon glyphicon-plus m-r-xxs"></i>发布文章
            </a>
        </div>
    </div>
    <div class="row" id="postList">
        <div class="col-xs-10">
            <div class="post-item">
                <ul class="list-unstyled">
                    <post-item v-for="post in posts" :post="post" :index="$index"></post-item>
                </ul>
                <div class="tips" v-show="posts.length === 0">
                    <img class="center-block" src="/images/tips-ku.png">
                    <p class="m-t-lg">当前分类没有文章</p>
                    <p>赶快去<a class="f-info" href="/school/posts/create">发布</a>吧！</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="category-sidebar shadow">
                <ul class="nav nav-pills nav-stacked" id="selectCategory">
                    <li>
                        <p class="b-b p-v-sm p-h-xs no-m f-gray">文章分类</p>
                    </li>
                    <li v-bind:class="{'active': currentCategory === '全部文章'}">
                        <a href="javascript:void(0)" @click="selectCategory('全部文章')">全部文章</a>
                    </li>
                    <li v-for="category in categories">
                        <a href="javascript:void(0)" @click="selectCategory(category.name)">
                            {{category.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script type="x/template" id="postTemplate">
    <li>
        <div class="media">
            <div class="media-left">
                <a href="/school/posts/{{post._id}}">
                    <img src="http://resource.hizuoye.com/{{post.image}}" width="200px" height="140px">
                </a>
            </div>
            <div class="media-body">
                <div class="m-l-xxs">
                    <a href="/school/posts/{{post._id}}" class="post-item-title">
                        <p class="media-heading post-title m-t-xxs" title="{{post.title }}">{{post.title}}</p>
                    </a>
                    <div class="f-gray m-t-xxs">
                        <p><span class="m-t-md">发布时间：</span>
                            {{post.createdTime | date}}
                        </p>
                        <p class="m-t-sm">
                            <span>文章栏目：{{post.category.name}}</span>
                        </p>
                        <div class="m-t-sm">
                            <span class="m-r-md">阅读：{{post.visitCount}}</span>
                            <span>赞：{{post.like}}</span>
                            <div class="pull-right m-r-xs m-t-n-xxs">
                                <a class="f-gray m-r-lg" href="/school/posts/{{post._id}}"><i
                                        class="icon icon-xiugai m-r-xxs"></i>文章编辑</a>
                                <a class="f-gray del_btn" title="删除" data-tooltip="删除"
                                   @click="deletePost(post,$index)"><i
                                        class="icon icon-shanchu m-r-xxs"></i>文章删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
{% endblock %}

{% block javascript %}
<script src="/js/entries/school/site/list-posts.js"></script>

{% endblock %}


