<div class="m-header">
    <div class="m-inner">
        <div class="logo"><a href="/"></a></div>
        <a href="/"><div class="logo-title"></div></a>
        <div class="category"></div>
        <div class="link ">
            <ul class="w-fl-left">

            </ul>

            <ul class="w-fl-right">
                <li class="v-menu-hover v-menu-click">
                    <div class="h-arrow"><span class="w-icon w-icon-arrow w-icon-arrow-blue"></span></div>
                    <!--<div class="title head-title">
                        <a href="/teacher/messages"><span class="w-icon w-icon-7"></span><span
                                class="w-icon-md">消息</span></a>
                    </div>-->
                    <div class="info-bar"><span class="v-msg-count w-icon-arrow w-icon-redInfo"
                                                style="display: none;"></span></div>
                </li>
                <li class="v-menu-hover pull-down"><!--active-->
                    <div class="h-arrow"><span class="w-icon w-icon-arrow w-icon-arrow-blue"></span></div>
                    <div class="title" style="margin-top: 5px">
                        <a href="javascript:void(0);"><span class="w-icon w-icon-head-default"></span><span
                                class="w-icon-md">{{user.displayName}}</span><span class="w-icon-arrow"></span></a>
                    </div>
                    <div class="select">
                        <a href="/school/profile">个人中心</a>
                        <a href="/school/qrcode">二维码</a>
                        <a href="javascript:void(0);" id="help">帮助与支持</a>
                        <a href="/logout" class="sign-out">退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>