<nav class="navbar navbar-inner navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/y-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/school/qrcode"><i class="fa fa-qrcode f-s-18"></i></a></li>
                <li><a href="javascript:void(0)" id="help"><i class="fa fa-info-circle f-s-18"></i></a></li>
                <li>
                    <a href="/school/profile">
                        {{user.displayName}}
                        <img class="pull-right m-t-n-xxs img-circle m-l-xxs" src="http://resource.hizuoye.com/{{user.avatar | default('images/default/avatar.jpg')}}"
                             width="30" height="30">
                    </a>
                </li>
                <li><a href="/logout"><i class="fa fa-sign-out f-s-18"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar inner-menu bg-white">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if active === '0' %}active{% endif %}">
                    <a href="/school/home">
                        <i class="fa fa-home f-s-16 m-r-xs"></i>首页
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教务管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="/school/teachers">教务管理</a></li>
                        <li><a href="/school/classes">班级管理</a></li>
                        <li><a href="/school/students">学生管理</a></li>
                    </ul>
                </li>
                <li class="{% if active === '5' %}active{% endif %}">
                    <a href="/school/scores/mall">积分&商城</a>
                </li>
                <li class="{% if active === '6' %}active{% endif %}">
                    <a href="/school/schedules">日程管理</a>
                </li>
                <li class="{% if active === '7' %}active{% endif %}">
                    <a href="/school/quizzes">题库资源</a>
                </li>
                <li class="left-menu {% if active === '9' %}active{% endif %}">
                    <a href="/school/posts">微网站</a>
                </li>
                <li class="left-menu {% if active === '6' %}active{% endif %}">
                    <a href="/school/tasks">营销中心</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% include '../../common/response.html' %}