<nav class="navbar navbar-default bg-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand bg-info" href="#"><img src="/images/y-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.displayName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/school/profile"><i class="fa fa-user f-default m-r-xxs"></i>个人中心</a></li>
                        <li><a href="/school/qrcode"><i class="fa fa-qrcode f-default m-r-xxs"></i>二维码</a></li>
                        <li><a href="javascript:void(0);" id="help">帮助与支持</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout" class="sign-out">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<div class="m-header">-->
    <!--<div class="m-inner">-->
        <!--<div class="logo"><a href="/"></a></div>-->
        <!--<a href="/"><div class="logo-title"></div></a>-->
        <!--<div class="link ">-->
            <!--<ul class="w-fl-left">-->

            <!--</ul>-->

            <!--<ul class="w-fl-right">-->
                <!--<li class="v-menu-hover v-menu-click">-->
                    <!--<div class="h-arrow"><span class="w-icon w-icon-arrow w-icon-arrow-blue"></span></div>-->
                    <!--&lt;!&ndash;<div class="title head-title">-->
                        <!--<a href="/teacher/messages"><span class="w-icon w-icon-7"></span><span-->
                                <!--class="w-icon-md">消息</span></a>-->
                    <!--</div>&ndash;&gt;-->
                    <!--<div class="info-bar"><span class="v-msg-count w-icon-arrow w-icon-redInfo"-->
                                                <!--style="display: none;"></span></div>-->
                <!--</li>-->
                <!--<li class="v-menu-hover pull-down">&lt;!&ndash;active&ndash;&gt;-->
                    <!--<div class="h-arrow"><span class="w-icon w-icon-arrow w-icon-arrow-blue"></span></div>-->
                    <!--<div class="title" style="margin-top: 5px">-->
                        <!--<a href="javascript:void(0);"><span class="w-icon w-icon-head-default"></span><span-->
                                <!--class="w-icon-md">{{user.displayName}}</span><span class="w-icon-arrow"></span></a>-->
                    <!--</div>-->
                    <!--<div class="select">-->
                        <!--<a href="/school/profile">个人中心</a>-->
                        <!--<a href="/school/qrcode">二维码</a>-->
                        <!--<a href="javascript:void(0);" id="help">帮助与支持</a>-->
                        <!--<a href="/logout" class="sign-out">退出</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->