{% extends '../../layout.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">问题列表</h4>
                <div class="panel-control w-que-width m-t-n-xs">
                    <div class="checkbox c-checkbox checkbox-que">
                        <label>
                            <input id="myStudent" type="checkbox" name="student">
                            <span class="fa fa-check"></span>我的学生</label>
                    </div>
                    <div class="quest-opts-area">
                        <ul>
                            <li class="item selected"><a href="#state0"  data-id="0">未解决问题</a></li>
                            <li class="item"><a href="#state1"  data-id="1">已解决问题</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="library-list" class="display question-tab" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="quest-list-tit">问题名称</th>
                        <th>学生</th>
                        <th>学号</th>
                        <th>提问时间</th>
                        <th>回答老师</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}

<script src="/js/entries/teacher/questions/list-questions.js"></script>

{% endblock %}