<script type="template" id="classTemplate">
    <div class="col-xs-3 m-b-md" id="<%= clazz._id %>" data-name="<%= clazz.className %>">
        <a class="class-item" href="/teacher/classes/<%=clazz._id.toString() %>">
            <div class="class-group">
                <div class="class-icon">
                    <i class="fa fa-flag"></i>
                </div>
            </div>
            <div class="class-title">
                <p><%= clazz.className %></p>
                <span class="count"><%= clazz.studentsCount || 0 %>个同学</span>
            </div>
        </a>
    </div>

</script>
