<script type="template" id="textSelectTemplate">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="panel b">
            <div class="panel-heading">
                <div class="quest-number"><%= exercise.sequence %></div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                    <form class="form-horizontal p-h-md">
                        <div class="form-group">
                            <p><%= exercise && exercise.question %></p>
                        </div>
                        <% _.each(exercise.choices,function(choice){ %>
                        <div class="form-group
                        <% if (choice.title == exercise.answer) { %>has-success
                        <% } else if(choice.title == exercise.wrongAnswer){ %>has-error
                        <% } %>
                        ">
                                <div class="input-group col-xs-10">
                                    <span class="input-group-addon"><%= choice.title %></span>
                                    <input type="text" class="form-control" value="<%= choice.content %>" disabled>
                                </div>
                        </div>
                        <% }); %>
                        <div class="form-group">
                            <div class="analysis-que col-xs-10">
                                <p>参考答案：<span class="f-black f-s-16 m-l-xs"><%= exercise && exercise.answer %></span></p>
                                <% if (exercise.wrongAnswer) { %>
                                <p>学生答案：<span class="f-black f-s-16 m-l-xs"><%= exercise.wrongAnswer %></span></p>
                                <% } %>
                                <p>解析：<%= exercise.analysis %></p>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</script>

<script type="template" id="imageSelectTemplate">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="panel b">
                <div class="panel-heading">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    <% if(exercise.wrongAnswer) { %>
                    <div class="result-flag-w"></div>
                    <% } else{ %>
                    <div class="result-flag-r"></div>
                    <% } %>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal p-h-md">
                        <div class="form-group">
                            <p><%= exercise && exercise.question %></p>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <div class="row">
                                    <% _.each(exercise.choices,function(choice){ %>
                                    <div class="col-xs-3 images-que">
                                        <div class="images-que-list
                                        <% if (choice.title == exercise.answer) { %>success
                                        <% } else if(choice.title == exercise.wrongAnswer){ %>error
                                        <% } %>
                                        ">
                                            <div class="images-group center-block">
                                                <img src="http://resource.hizuoye.com/<%= choice.content %>?imageView2/1/w/100/h/100/interlace/1">
                                            </div>
                                            <p class="m-t-xs"><%= choice.title %></p>
                                        </div>
                                    </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="analysis-que col-xs-10">
                                <p>参考答案：<span class="f-black f-s-16 m-l-xs"><%= exercise && exercise.answer %></span></p>
                                <% if (exercise.wrongAnswer) { %>
                                <p>学生答案：<span class="f-black f-s-16 m-l-xs"><%= exercise.wrongAnswer %></span></p>
                                <% } %>
                                <p>解析：<%= exercise.analysis %></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</script>


<script type="template" id="blankTemplate">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="panel b">
                <div class="panel-heading">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    <% if(exercise.wrongAnswer) { %>
                    <div class="result-flag-w"></div>
                    <% } else{ %>
                    <div class="result-flag-r"></div>
                    <% } %>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal p-h-md">
                        <div class="form-group">
                            <p><%= exercise && exercise.question %></p>
                        </div>
                        <div class="form-group">
                            <div class="analysis-que col-xs-10">
                                <p>参考答案：<span class="f-black f-s-16 m-l-xs"><%= exercise && exercise.answer %></span></p>
                                <% if (exercise.wrongAnswer) { %>
                                <p>学生答案：<span class="f-black f-s-16 m-l-xs"><%= exercise.wrongAnswer %></span></p>
                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</script>

<script type="template" id="voiceTemplate">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="panel b">
                <div class="panel-heading">
                    <div class="quest-number"><%= exercise.sequence %></div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group p-h-md">
                            <p><%= exercise && exercise.question %></p>
                        </div>
                        <% if(exercise.audioAnswer) { %>
                        <div style="margin-left: 72px; margin-top: 26px;">
                            <audio src="http://resource.hizuoye.com/<%= exercise.audioAnswer %>" preload="none"></audio>
                        </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    <!--<li class="buildUp">-->
        <!--<div class="select-quiz-dialog">-->
            <!--<div class="quiz-item-title">-->
                <!--<div class="sequence">-->
                    <!--<div class="number"><span style="color: #ffffff" class="seq-val"><%= exercise.sequence %> </span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="main-title">-->
                <!--<div class="title-info">题目：</div>-->
                <!--<textarea readonly rows="4" class="question" style="height: 60px" placeholder=" 请背诵新概念英语第一单元课文"><%= exercise && exercise.question %></textarea>-->
            <!--</div>-->
            <!--<% if(exercise.audioAnswer) { %>-->
            <!--<div style="margin-left: 72px; margin-top: 26px;">-->
                <!--<audio src="http://resource.hizuoye.com/<%= exercise.audioAnswer %>" preload="none"></audio>-->
            <!--</div>-->
            <!--<% } %>-->
            <!--<div style="height: 20px;"></div>-->
        <!--</div>-->

        <!--<div style="height: 20px;"></div>-->
    <!--</li>-->
</script>
