<script type="template" id="exerciseTemplate">
    <div class="col-xs-offset-1 col-xs-10 buildUp">
        <div class="panel b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number">1</div>
                    <% if (type === 0) { %>
                    单项选择题
                    <% } else if (type === 1) { %>
                    图片题
                    <% } else if (type === 2) { %>
                    填空题
                    <% } else if (type === 3) { %>
                    语音题
                    <% } else{ %>
                    <% } %>
                </div>
                <div class="panel-control">
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse"
                       class="panel-collapse"><i class="fa fa-arrow-circle-o-down"></i></a>
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Remove"
                       class="panel-remove"><i class="fa fa-times-circle-o"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row quiz-item">
                    <% if (type === 0) { %>

                    <div class="col-xs-12 m-b-md">
                        <div class="input-group">
                            <input placeholder="这是一个单选题目" type="text" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white btn-option dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">选择答案
                                </button>
                                <span class="caret answerIcon"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="answer">A</a></li>
                                    <li><a class="answer">B</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ">
                        <div class="input-group m-b-md">
                            <span class="input-group-addon">A</span>
                            <input type="text" class="form-control" placeholder="请填写选项内容">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group m-b-md">
                            <span class="input-group-addon">B</span>
                            <input type="text" class="form-control" placeholder="请填写选项内容">
                        </div>
                    </div>
                    <div class="col-xs-12 m-b-md">
                        <a class="f-s-16 f-info btn btn-info btn-home btn-custom btn-block b-d addoption"
                           data-id="text"><i class="fa fa-plus m-r-xs"></i>添加选项</a>
                    </div>
                    <div class="col-xs-12">
                        <textarea placeholder="答案解析" class="form-control" rows="3"></textarea>
                    </div>

                    <% } else if (type === 1) { %>
                    <div class="col-xs-12 m-b-md">
                        <div class="input-group">
                            <input placeholder="这是一个图片题目" type="text" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white btn-option dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">选择答案
                                </button>
                                <span class="caret answerIcon"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="answer">A</a></li>
                                    <li><a class="answer">B</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 m-b-md">
                        <div class="row images-que">
                            <div class="col-xs-3">
                                <span>A</span>
                                <a href="javascript:void(0)">
                                    <div class="images-upload m-t-xs"></div>
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <span>B</span>
                                <a href="javascript:void(0)">
                                    <div class="images-upload m-t-xs"></div>
                                </a>
                            </div>
                            <div class="col-xs-12 m-t-lg">
                                <a class="f-s-16 f-info btn btn-info btn-custom btn-home btn-block b-d addoption"
                                   data-id="image"><i class="fa fa-plus m-r-xs"></i>添加选项</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 m-t-xs">
                        <textarea placeholder="答案解析" class="form-control" rows="3"></textarea>
                    </div>

                    <% } else if (type === 2) { %>
                    <div class="col-xs-12 m-b-md">
                        <input placeholder="这是一个填空题目" type="text" class="form-control question">
                    </div>
                    <div class="col-xs-12 m-b-md">
                        <input placeholder="答案" type="text" class="form-control answer">
                    </div>
                    <div class="col-xs-12">
                        <textarea placeholder="答案解析" class="form-control analysis" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="current-type" value="2">
                    <% } else if (type === 3) { %>
                    <div class="col-xs-12">
                        <textarea placeholder="例：请背诵新概念英语第一单元课文" class="form-control" rows="3"></textarea>
                    </div>
                    <% } else{ %>

                    <% } %>
                </div>
            </div>
        </div>
    </div>

</script>


<script type="template" id="optionTemplate">
    <% if (type === "text")  { %>
    <div class="col-xs-12 new-option">
        <div class="input-group m-b-md">
            <span class="input-group-addon option-title"><%= option %></span>
            <input type="text" class="form-control" placeholder="请填写选项内容">
        </div>
        <span><a class="f-s-18 f-gray m-r-lg input-times del-option"><i class="fa fa-times"></i></a></span>
    </div>
    <% } else if (type === "image") { %>
    <div class="col-xs-3 new-option">
        <span class="option-title"><%= option %></span>
        <span class="images-times"><a class="f-s-16 f-gray del-option"><i class="fa fa-times"></i></a></span>
        <a href="javascript:void(0)">
            <div class="images-upload m-t-xs"></div>
        </a>
    </div>
    <% } %>
</script>
