<script type="template" id="textSelectTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    单项选择题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <% _.each(exercise.choices,function(choice){ %>
                    <div class="form-group
                        <% if (choice.title == exercise.answer) { %>has-success
                        <% } else if(choice.title == exercise.wrongAnswer){ %>has-error
                        <% } %>
                        ">
                        <div class="input-group col-xs-10">
                            <span class="input-group-addon"><%= choice.title %></span>
                            <input type="text" class="form-control" value="<%= choice.content %>" disabled>
                        </div>
                    </div>
                    <% }); %>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <p>参考答案：<span class="m-l-xs"><%= exercise && exercise.answer %></span></p>
                            <% if (exercise.wrongAnswer) { %>
                            <p>学生答案：<span class="m-l-xs"><%= exercise.wrongAnswer %></span></p>
                            <% } %>
                            <p>解析：<%= exercise.analysis %></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="template" id="imageSelectTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    图片题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 no-p">
                            <div class="row">
                                <% _.each(exercise.choices,function(choice){ %>
                                <div class="col-xs-3 images-que">
                                    <div class="images-que-list
                                        <% if (choice.title == exercise.answer) { %>success
                                        <% } else if(choice.title == exercise.wrongAnswer){ %>error
                                        <% } %>
                                        ">
                                        <div class="images-group center-block">
                                            <img class=""
                                                 src="http://resource.hizuoye.com/<%= choice.content %>?imageView2/1/w/120/h/120/interlace/1">
                                        </div>
                                        <p class="m-t-xs"><%= choice.title %></p>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <p>参考答案：<span class="m-l-xs"><%= exercise && exercise.answer %></span></p>
                            <% if (exercise.wrongAnswer) { %>
                            <p>学生答案：<span class="m-l-xs"><%= exercise.wrongAnswer %></span></p>
                            <% } %>
                            <p>解析：<%= exercise.analysis %></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>


<script type="template" id="blankTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    填空题
                </div>
                <% if(exercise.wrongAnswer) { %>
                <div class="result-flag-w"></div>
                <% } else{ %>
                <div class="result-flag-r"></div>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <div class="form-group">
                        <div class="analysis-que col-xs-10">
                            <p>参考答案：<span class="m-l-xs"><%= exercise && exercise.answer %></span></p>
                            <% if (exercise.wrongAnswer) { %>
                            <p>学生答案：<span class="m-l-xs"><%= exercise.wrongAnswer %></span></p>
                            <% } %>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="template" id="voiceTemplate">
    <div class="col-xs-10 no-p">
        <div class="panel panel-white panel-b">
            <div class="panel-heading">
                <div class="quest-title">
                    <div class="quest-number"><%= exercise.sequence %></div>
                    语音题
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <p class="no-m"><%= exercise && exercise.question %></p>
                    </div>
                    <% if(exercise.audioAnswer) { %>
                    <div style="margin-left: 72px; margin-top: 26px;">
                        <audio src="http://resource.hizuoye.com/<%= exercise.audioAnswer %>" preload="none"></audio>
                    </div>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</script>
