{% extends '../../base.html' %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<input type="hidden" id="taskId" value="{{task._id.toString()}}"/>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">营销活动</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#Info" data-toggle="tab">基本信息</a></li>
                            <li><a href="#Enroll" data-toggle="tab">管理报名</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Info">
                        <div class="card-box widget-inline m-t-xs">
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="widget-inline-box text-center">
                                        <h3><i class="fa fa-users f-info m-r-xs"></i> <span>{{task.participants}}</span>
                                        </h3>
                                        <h4 class="f-gray">参与人数</h4>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="widget-inline-box text-center">
                                        <h3><i class="fa fa-pencil-square-o f-warning m-r-xs"></i> <span>{{collect.length}}</span>
                                        </h3>
                                        <h4 class="f-gray">报名人数</h4>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="widget-inline-box text-center">
                                        <h3><i class="fa fa-eye f-pink m-r-xs"></i>
                                            <span>{{task.item.visitCount}}</span></h3>
                                        <h4 class="text-muted">阅读次数</h4>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="widget-inline-box text-center">
                                        <h3><i class="fa fa-share-alt f-default m-r-xs"></i> <span>{{task.item.shareCount}}</span>
                                        </h3>
                                        <h4 class="text-muted">分享次数</h4>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="widget-inline-box text-center no-b">
                                        <h3><i class="fa fa-thumbs-up f-purple m-r-xs"></i>
                                            <span>{{task.item.like}}</span></h3>
                                        <h4 class="text-muted">点赞人数</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <form class="form-horizontal" id="activityForm" name="activityForm">
                            <div class="form-group">
                                <label for="name" class="col-xs-1 control-label">任务名称</label>
                                <div class="col-xs-9">
                                    <input class="form-control validate" id="name" type="text" name="name"
                                           data-rules="required"
                                           data-display="任务名称"
                                           value="{{task.name}}" placeholder="比如：分享活动，赚积分，得礼包">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="scoreAward" class="col-xs-1 control-label">奖励积分</label>
                                <div class="col-xs-9">
                                    <input class="form-control validate" id="scoreAward" type="text" name="scoreAward"
                                           value="{{task.scoreAward}}" placeholder="请填入分享本次活动奖励的积分数"
                                           data-rules="required|integer"
                                           data-display="奖励积分">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="theme" class="col-xs-1 control-label">活动主题</label>
                                <div class="col-xs-9">
                                    <input class="form-control" id="theme" value="{{task.item.theme}}" type="text"
                                           name="theme"
                                           data-rules="required"
                                           data-display="活动主题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startTime" class="col-xs-1 control-label">活动时间</label>
                                <div class="col-xs-4">
                                    <input class="form-control validate" id="startTime"
                                           value="{{task.item.startTime | date('Y-m-d',-480)}}" type="text"
                                           name="startTime"
                                           data-rules="required"
                                           data-display="活动开始时间"/>
                                </div>
                                <div class="col-xs-1 text-center">
                                    <p class="m-t-xxs">至</p>
                                </div>
                                <div class="col-xs-4">
                                    <input class="form-control" id="endTime"
                                           value="{{task.item.endTime | date('Y-m-d',-480)}}" type="text"
                                           name="endTime"
                                           data-rules="required"
                                           data-display="活动结束时间"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-xs-1 control-label">活动地点</label>
                                <div class="col-xs-9">
                                    <input class="form-control" id="address" value="{{task.item.address}}"
                                           type="text" name="address"
                                           data-rules="required"
                                           data-display="活动地点">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" for="content">活动详情</label>
                                <div class="col-xs-5">
                                    {%include '../../../components/weixinEditor.html' %}
                                </div>
                                <div class="col-xs-6">
                                    <div class="textarea-container" id="content">
                                    </div>
                                    <input type="hidden" id="taskContent" value="{{task.item.content}}">
                                </div>
                            </div>
                            <div class="alert-2 alert-warning-2">
                                备注：报名已创建，请勿修改报名信息。
                            </div>
                            <div class="row m-b-md enrollarea">
                                <div class="col-xs-9">
                                    <p class="p f-s-16">联系方式<span class="m-l-lg f-red">(报名用户填写资料，必填)</span></p>
                                    <div class="form-group">
                                        <label class="control-label col-xs-2"><span
                                                class="f-red m-r-xs">*</span>姓名：</label>
                                        <div class="col-xs-10">
                                            <input class="form-control" type="text" placeholder="报名者的用户名或昵称"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-2"><span
                                                class="f-red m-r-xs">*</span>手机：</label>

                                        <div class="col-xs-10">
                                            <input class="form-control" type="text" placeholder="报名者的手机号码"
                                                   readonly>
                                        </div>
                                    </div>
                                    <p class="p f-s-16">附加信息</p>
                                    <div class="enroll-extras">
                                        {% for info in task.item.infoCollect %}
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">{{info}}：</label>
                                            <div class="col-xs-10">
                                                <input class="form-control" type="text" placeholder="请输入您的{{info}}"
                                                       readonly>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="add-column b p-h-md p-v-xs">
                                        <div>
                                            <p class="f-s-14"><i class="fa fa-bars m-r-xs"></i>常用栏目</p>
                                        </div>
                                        <div class="b-t">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-map-marker m-r-xs"></i>住址
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-envelope-o m-r-xs"></i>邮箱
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-mars m-r-xs"></i>性别
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-user m-r-xs"></i>身份证号
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-mobile m-r-xs"></i>电话
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-btn">
                                                        <i class="fa fa-futbol-o m-r-xs"></i>兴趣爱好
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" class="enroll-field-custom">
                                                        <i class="fa fa-pencil m-r-xs"></i>自定义
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-4">
                                    <button class="btn btn-default btn-block" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="Enroll">
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="task-management-registration">
                                    <div class="counter">
                                        <span>{{collect.length}}</span>人报名
                                        <button class="btn btn-default btn-sm pull-right"><i
                                                class="fa fa-cloud-download"></i>下载名单
                                        </button>
                                    </div>
                                    <div class="list-registration">
                                        <ul class="list-unstyled" id="list-register">
                                            <!-- 分界线 -->
                                            {% for info in collect %}
                                            <li class="data">
                                                <ul class="registration-elem">
                                                    <li>
                                                        <div class="head">
                                                            <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2823961627,3572677526&fm=58"
                                                                 width="35px" height="35px">

                                                            <div class="name">{{info.name}}</div>
                                                            <div class="create">{{info.createdTime |
                                                                date('Y-m-d',-480)}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="extraction">
                                                        <div class="head">
                                                            <div class="info"><span class="key">手机：</span><span
                                                                    class="value">{{info.phone}}</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% for other in info.others %}
                                                    <li class="extraction">
                                                        <div class="head">
                                                            <div class="info"><span
                                                                    class="key">{{other.key}}：</span><span
                                                                    class="value">{{other.value}}</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hides" id="add-title-info-dialog">
    <form class="form-horizontal m-t-md">
        <div class="form-group">
            <label for="titleInfoName" class="col-xs-2 control-label">姓名：</label>
            <div class="col-xs-9">
                <input class="form-control" type="text" name="titleInfoName" id="titleInfoName" placeholder="比如：联系地址">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-9">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-default layer-close-btn">取消</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script src="/js/lib/ueditor/ueditor.config.js"></script>
<script src="/js/lib/ueditor/ueditor.all.min.js"></script>
<script src="/js/entries/school/task/activity/view-activity-task.js"></script>

{% endblock %}
