{% extends '../../layout.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="student-profile-header">
            <div class="avatar text-center">
                <img class="lazy" src="/images/default_head.jpg" {% if student.avatar %}
                     data-original="<<resourceURL>>/<<student.avatar>>" {% endif %} width="150px"
                     height="150px">
            </div>
            <div class="pro-name text-center m-t-lg">
                <p class="f-white f-s-18 m-r-xxl"><<student.displayName>></p>
                <p class="f-white f-s-16"><<student.username>></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/school/students/<<student._id.toString()>>">基本信息</a></li>
                <li><a href="/school/students/<<student._id.toString()>>/phoneRecords">电话记录</a></li>
                <li class="active"><a href="/school/students/<<student._id.toString()>>/scoreRecords">积分记录</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">积分记录</h4>
            </div>
            <div class="panel-body">
                <div class="scores-list" id="scoresList">
                    {% for log in logs %}
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object img-circle"
                                         width="50"
                                         height="50"
                                         {% if log.operator.avatar %}
                                         src="<<resourceURL>>/<<log.operator.avatar>>?imageView2/1/w/50/h/50"
                                         {% else %}
                                         src="/images/default_head.jpg"
                                         {% endif %}
                                    >
                                </div>
                                <div class="media-body">
                                    <div class="scores-list-title">
                                        <h4 class="media-heading f-s-18 f-normal m-t-xxs">
                                            {% if log.operation === 0%}
                                            <span class="f-default">+<<log.value>></span>
                                            {% else %}
                                            <span class="f-pink">-<<log.value>></span>
                                            {% endif %}
                                        </h4>
                                        <p class="f-s-12 f-gray m-t-xs">
                                            <span class="m-r-lg">发布时间：<<log.createdTime | date('Y-m-d',-480)>></span>
                                            <span>操作人员：<<log.operator.displayName>></span>
                                        </p>
                                    </div>
                                    <div class="spread">
                                        <a class="f-info pull-right panel-collapse f-normal">备注<i
                                                class="fa fa-sort-desc m-l-xxs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body hides">
                            <p class="scores-details"><<log.remark>></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RecordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加记录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-sm">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">记录：</label>
                        <div class="col-xs-9">
                            <input class="form-control validate" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-9">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="/js/entries/school/manager/view-student.js"></script>

{% endblock %}
