{% extends '../base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="student-profile-header">
            <div class="avatar text-center">
                <img class="lazy" src="/images/default_head.jpg" {% if student.avatar %}
                     data-original="{{resourceURL}}/{{student.avatar}}" {% endif %} width="150px"
                     height="150px">
            </div>
            <div class="pro-name text-center m-t-lg">
                <p class="f-white f-s-18 m-r-xxl">{{student.displayName}}</p>
                <p class="f-white f-s-16">{{student.username}}</p>
                <input type="hidden" id="studentId" value="{{student._id.toString()}}">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="page-sidebar shadow">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/school/students/{{student._id.toString()}}">基本信息</a></li>
                <li class="active"><a href="/school/students/{{student._id.toString()}}/phoneRecords">电话记录</a></li>
                <li><a href="/school/students/{{student._id.toString()}}/scoreRecords">积分记录</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">电话记录</h4>
                <div class="panel-control">

                </div>
            </div>
            <div class="panel-body">
                <div class="record-list" id="recordList">
                    {% for record in records %}
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object img-circle"
                                         width="50"
                                         height="50"
                                         {% if record.creator.avatar %}
                                         src="{{resourceURL}}/{{record.creator.avatar}}?imageView2/1/w/50/h/50"
                                         {% else %}
                                         src="/images/default_head.jpg"
                                         {% endif %}
                                    >
                                </div>
                                <div class="media-body">
                                    <div class="record-list-title">
                                        <h4 class="media-heading f-s-16 f-normal m-t-xxs">{{record.content |
                                            subTitle(36)}}</h4>
                                        <p class="f-s-12 f-gray m-t-xs">
                                            <span class="m-r-lg">发布时间：{{record.createdTime | date('Y-m-d')}}</span>
                                            <span>发布人：{{record.creator.displayName}}</span>
                                        </p>
                                    </div>
                                    <div class="spread">
                                        <a class="f-info pull-right panel-collapse f-normal">详细<i
                                                class="fa fa-sort-desc m-l-xxs"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body hides">
                            <p class="record-details">{{record.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

<script src="/js/entries/school/manager/view-student.js"></script>

{% endblock %}
