{% extends '../../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'营销活动'}]) }}
<!-- END OF BREADCRUMBS -->
<input type="hidden" id="taskId" value="{{task._id.toString()}}"/>
<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa fa-share-alt-square fa-fw mr-5"></i>营销活动</h3>
    </div>
    <div class="w-base-container">
        <div class="t-del-homework passage-activity" style="padding-top: 0px;">
            <div class="task-management">
                <div class="w-base-title bg-c">
                    <div class="w-base-switch">
                        <ul id="tab-title">
                            <li class="active">
                                <a href="javascript:void(0)">
                                    <span class="h-arrow">
                                        <i class="w-icon-arrow w-icon-arrow-blue"></i>
                                    </span>
                                    <strong>基本信息</strong>
                                </a>
                            </li>
                            <li class=""><a href="javascript:void(0)"><span class="h-arrow"><i
                                    class="w-icon-arrow w-icon-arrow-blue"></i></span><strong>中奖信息</strong></a></li>
                        </ul>
                    </div>
                </div>

                <ul class="management-console">
                    <!-- 基本信息 -->
                    <li class="management-item">
                        <div class="task-management-info">
                            <ul>
                                <li>
                                    <div class="index"><i class="fa fa-users"></i>参与</div>
                                    <div class="value">100</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-gift"></i>中奖</div>
                                    <div class="value">100</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-eye"></i>阅读</div>
                                    <div class="value">100</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-share-alt"></i>分享</div>
                                    <div class="value">100</div>
                                </li>
                                <li>
                                    <div class="index"><i class="fa fa-thumbs-up"></i>赞</div>
                                    <div class="value">100</div>
                                </li>
                            </ul>
                        </div>
                        <div class="t-del-homework passage-activity" style="padding: 0px">
                            <form class="container" style="overflow: hidden" method="post" action="" id="activityForm">
                                <div class="title">
                                    <div class="title-content"><label for="name">任务名称：</label></div>
                                    <input class="frm_input_box" id="name" style="width:693px" type="text"
                                           name="name"
                                           placeholder="比如：幸运轮盘，试手气，赢大奖">
                                </div>
                                <div class="title">
                                    <div class="title-content"><label for="scoreAward">奖励积分：</label></div>
                                    <input class="frm_input_box" id="scoreAward" style="width:245px" type="text"
                                           name="scoreAward"
                                           placeholder="请填入分享本次活动奖励的积分数">
                                </div>
                                <div class="compliment">
                                    <div class="compliment-title"><label for="date-picker-start">活动时间：</label></div>
                                    <input id="date-picker-start" type="text" class="w-datepicker" style="margin-top: 3px" name="startTime"/>
                                    <span style="padding-left: 10px; padding-right: 12px">
                                    至
                                    </span>
                                    <input id="date-picker-end" type="text" class="w-datepicker" name="endTime"/>
                                </div>
                                <div class="compliment">
                                    <div class="compliment-title"><label for="expire-picker-end">截止时间：</label></div>
                                    <input type="text" id="expire-picker-end" class="w-datepicker" style="margin-top: 3px"
                                           name="deadline"/>
                                </div>
                                <div class="title">
                                    <div class="trophy">
                                        <div class="title-content"><label for="trophyAward">特等奖：</label></div>
                                        <input class="frm_input_box" id="trophyAward" style="width:245px" type="text"
                                               name="trophyAward"
                                               placeholder="比如：遥控飞机">
                                    </div>
                                    <div class="trophy">
                                        <label class="trophy-num-frame">数量：</label>
                                        <input class="frm_input_box trophy-num-value"type="text">
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="trophy">
                                        <div class="title-content"><label for="firstAward">一等奖：</label></div>
                                        <input class="frm_input_box" id="firstAward" style="width:245px" type="text"
                                               name="firstAward"
                                               placeholder="比如：拉杆书包">
                                    </div>
                                    <div class="trophy">
                                        <label class="trophy-num-frame">数量：</label>
                                        <input class="frm_input_box trophy-num-value"type="text">
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="trophy">
                                        <div class="title-content"><label for="secondAward">二等奖：</label></div>
                                        <input class="frm_input_box" id="secondAward" style="width:245px" type="text"
                                               name="secondAward"
                                               placeholder="比如：精美文具盒">
                                    </div>
                                    <div class="trophy">
                                        <label class="trophy-num-frame">数量：</label>
                                        <input class="frm_input_box trophy-num-value"type="text">
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="trophy">
                                        <div class="title-content"><label for="thirdAward">三等奖：</label></div>
                                        <input class="frm_input_box" id="thirdAward" style="width:245px" type="text"
                                               name="thirdAward"
                                               placeholder="比如：精美练习本">
                                    </div>
                                    <div class="trophy">
                                        <label class="trophy-num-frame">数量：</label>
                                        <input class="frm_input_box trophy-num-value"type="text">
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="trophy">
                                        <div class="title-content"><label for="luckyAward">幸运奖：</label></div>
                                        <input class="frm_input_box" id="luckyAward" style="width:245px" type="text"
                                               name="luckyAward"
                                               placeholder="比如：课程试听券">
                                    </div>
                                    <div class="trophy">
                                        <label class="trophy-num-frame">数量：</label>
                                        <input class="frm_input_box trophy-num-value"type="text">
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="title-content">活动说明：</div>
                                    <div class="activity-detail-container">
                                        <textarea id="lottery-desc" style="height: 240px" class="activity-detail" placeholder="请输入活动详情"
                                                  name="content">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="title">
                                    <div class="title-content  title-content-ext" style="width: 106px">领奖填写信息：</div>
                                    <div class="title-info-list w-border-list" id="title-info-list">
                                        <ul id="infoList">
                                            <li class="item">姓名</li>
                                            <li class="item">电话</li>
                                        </ul>
                                    </div>
                                </div>

                            </form>
                            <div class="p-activity-storage">
                                <a class="w-btn w-btn-mini w-btn-green" id="activity-share-save" href="javascript:void(0);">保存</a>
                            </div>
                        </div>
                    </li>
                    <!-- 管理报名 -->
                    <li class="management-item" style="display: none;">
                        <div class="task-management-registration">
                            <div class="counter">
                                <span>100</span>人中奖
                                <div class="download-info-list">
                                    <a class="w-btn w-btn-mini w-btn-green"href="javascript:void(0);"><i class="fa fa-cloud-download"></i>下载名单</a>
                                </div>
                            </div>
                            <div class="list-registration">
                                <ul id="list-register">
                                    <!-- 分界线 -->
                                    <li class="data">
                                        <ul class="registration-elem">
                                            <li>
                                                <div class="head">
                                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2823961627,3572677526&fm=58"
                                                         width="35px" height="35px">

                                                    <div class="name">王小宝</div>
                                                    <div class="create">2015-08-12</div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">手机：</span><span class="value">18652164156</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">中奖情况：</span><span
                                                            class="value">特等奖</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="data">
                                        <ul class="registration-elem">
                                            <li>
                                                <div class="head">
                                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2823961627,3572677526&fm=58"
                                                         width="35px" height="35px">

                                                    <div class="name">王小二</div>
                                                    <div class="create">2015-08-12</div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">手机：</span><span class="value">18652164156</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">中奖情况：</span><span
                                                            class="value">一等奖</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="data">
                                        <ul class="registration-elem">
                                            <li>
                                                <div class="head">
                                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2823961627,3572677526&fm=58"
                                                         width="35px" height="35px">

                                                    <div class="name">王小二</div>
                                                    <div class="create">2015-08-12</div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">手机：</span><span class="value">18652164156</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="extraction">
                                                <div class="head">
                                                    <div class="info"><span class="key">中奖情况：</span><span
                                                            class="value">一等奖</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <!-- 分页 -->
                        <div style="" class="customize-pagination">
                            <div id="pagination" class="content"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/school/task/lottery/view-lottery-task.js']);
</script>

{% endblock %}
