<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="/css/layout.css" rel="stylesheet" media="screen">
    {% block css %}
    {% endblock %}
    <script type="text/javascript">
        var GLOBAL = {};
        var user = {{user | json | safe}};
        GLOBAL.user = user;
    </script>
</head>
<body>
<!-- HEAD -->
{% block header %}
{% endblock %}
<!-- END OF HEAD -->

<div class="m-main">
    <!-- LEFT-SIDE -->
    {% block left %}
    {% endblock %}
    <!-- END OF LEFT-SIDE -->

    <!-- 右侧的主题内容 -->
    <div class="m-container">
        {% block content %}
        {% endblock %}
    </div>

</div>
{% include './common/footer.html' %}

</body>
<script type="text/javascript">
    var dom = document.querySelectorAll('.async-loading');
    for (var i = 0; i < dom.length; i++) {
        dom[i].style.height = '400px';
        dom[i].innerHTML = '<div class="loading-progressBar">数据加载中，请稍等...</div>';
    }
</script>
{% block javascript %}{% endblock %}
</html>
