<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="/css/layout.css?v=2" rel="stylesheet" media="screen">
    {% block css %}
    {% endblock %}
    <script type="text/javascript">
        var GLOBAL = {};
        GLOBAL.user = {{user | json | safe}};
        GLOBAL.visitUrl = "{{resourceURL}}";
    </script>
</head>
<body>
<!-- HEAD -->
{% block header %}
{% endblock %}
<!-- END OF HEAD -->

<div class="container">
    <div class="row">
        <!--<div class="page-sidebar sidebar">-->
            <!--&lt;!&ndash; LEFT-SIDE &ndash;&gt;-->
            <!--{% block left %}-->
            <!--{% endblock %}-->
            <!--&lt;!&ndash; END OF LEFT-SIDE &ndash;&gt;-->
        <!--</div>-->
        <!-- 右侧的主题内容 -->
        <div class="page-inner">
            <div class="main-wrapper">
            {% block content %}
            {% endblock %}
            </div>
            {% include './common/footer.html' %}
        </div>
    </div>
</div>


</body>
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
{% block javascript %}{% endblock %}
</html>
