{% macro init(links) %}
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home f-s-16 m-r-xxs"></i>首页</a></li>
    {% for link in links %}
    {% if loop.last%}
    <li class="active">{{link.title}}</li>
    {% else %}
    <li><a href="{{link.url}}">{{link.title}}</a></li>
    {% endif %}
    {% endfor %}
    <li class="back pull-right"><a href="javascript:history.back();">返回</a></li>
</ol>
<!--<div class="w-breadcrumb">-->
    <!--<ul>-->
        <!--<li><a href="/">首页</a> <span class="divider">&gt;</span></li>-->
        <!--{% for link in links %}-->
        <!--{% if loop.last%}-->
        <!--<li class="active">{{link.title}}</li>-->
        <!--{% else %}-->
        <!--<li><a href="{{link.url}}">{{link.title}}</a>-->
            <!--<span class="divider">&gt;</span>-->
        <!--</li>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->

        <!--<li class="back"><a href="javascript:history.back();">返回</a></li>-->
    <!--</ul>-->
<!--</div>-->
{% endmacro %}