<div class="m-footer">
    <div class="m-inner">
        <div class="w-fl-left">
            <div class="copyright">
                <p>Copyright © 2010-2015 Kuando Inc. All Rights Reserved.</p>

                <p>苏ICP备15025860号</p>
            </div>
            <!--<div class="link">
                <a class="spare-icon spare-weibo" href="" target="_blank" title="微博"></a>
                <a class="spare-icon spare-wx" href=""
                   target="_blank" title="微信"></a>
                <a class="spare-icon spare-qzone" href="http://user.qzone.qq.com/2484705684/main" target="_blank"
                   title="QQ空间"></a>
            </div>-->
        </div>
        <div class="m-foot-link w-fl-right">
            <div class="w-fl-left">
               <!-- <a href="javascript:void(0);" >关于我们</a>
                <a href="javascript:void(0);" >联系我们</a>
                <a href="javascript:void(0);" >诚聘英才</a>-->
            </div>
            <div class="w-fl-left">
                <!--<a href="javascript:void(0);" >关于我们</a>-->
               <!-- <a href="javascript:void(0);" >帮助</a>-->
            </div>
            <!--<div class="m-code">
                <p class="c-image"></p>

                <p class="c-title">关注我们</p>
            </div>-->
        </div>
    </div>
    <a title="回到顶部" class="w-top" href="#" id="gotop" style="opacity: 0">回到顶部</a>
</div>