<div class="switchBox" id="headSwitchBanner" style="position: relative; margin: 0 0 15px;">
    <ul style="overflow: hidden;">
        <li>
            <div>
                <!--<div class="advertisement-1">-->
            <!-- -->
                <!--</div>-->
                <img src="http://static.hizuoye.com/images/MostredFriday_v1.png" alt=""/>
            </div>
        </li>
        <!--<li style="display: list-item;">
            <a href="javascript:void(0);" target="_blank">
                <div class="advertisement-2">

                </div>

            </a>
        </li>-->
        <!-- <li style="height: 100px; display: none;">
            <a href="javascript:void(0);">
                <div class="advertisement-3">

                </div>
            </a>
        </li>
        <li style="height: 100px; display: none;">
            <a href="javascript:void(0);">
                <div class="advertisement-4">

                </div>
            </a>
        </li>-->
    </ul>
    <div class="tab" style="position: absolute; bottom: 0; right: 10px;"></div>
</div>

