<div id="imageLibrary" style="display:none" class="selectImageLibray">
    <div style="min-height: 480px">
        <div class="dialog_bd">
            <div class="img_pick_panel inner_container_box side_l cell_layout">
                <div class="inner_side">
                    <div class="group_list">
                        <div class="inner_menu_box">
                            <dl class="inner_menu js_group" id="mediaGroup">

                            </dl>
                        </div>
                    </div>
                </div>

                <div class="inner_main">
                    <div class="img_pick_area">
                        <div class="sub_title_bar in_dialog">
                            <div class="upload_box posi-right align_right">
                                <span class="upload_area webuploader-container">
                                    <a class="btn-middle solid-btn-green" href="javascript:void(0);"
                                       id="local_image_upload_lib">
                                        本地上传
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="img_pick">
                                <ul class="group js_list img_list" id="img_list" style="display: block;"></ul>
                            </div>
                            <div class="js_pagebar" style="display: block;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="dialog_ft">
            <a class="btn-middle solid-btn-green layer-ok-btn" href="javascript:void(0);">确定</a>
        </div>
    </div>
</div>



