<div class="sever-info m-side-width">
    <div class="w-btn w-btn-gray w-btn-block">

        <p class="tel">
            <span class="text">联系我们 8点～20点</span>
            <span>0516-83701235</span>
        </p>
        <div class="btn-middle solid-btn-orange on-line response-comment" style="cursor: pointer" id="message_right_sidebar">
            <span class="w-icon-md"> <i class="fa fa-envelope mr-5"></i>反馈建议</span>
        </div>
        <div class="btn-middle solid-btn-green on-line v-hotline online_consultation"
             style="cursor: pointer">
            <span class="w-icon-md"><i class="fa fa-phone-square mr-5"></i>在线咨询</span>
        </div>
    </div>
</div>

<div class="invisible" id="response-comment-dialog">
    <form class="form-control">
        <div class="form-group">
            <textarea  rows="3" id="response-content"></textarea>
        </div>
        <div class="layui-layer-btn">
            <a class="btn-middle solid-btn-blue ok-message layui-layer-btn0">确定</a>
            <a class="btn-middle solid-btn-gray layui-layer-btn1">取消</a>
        </div>
    </form>
</div>

<div class="invisible" id="online-consultation-dialog">
        <div class="jqimessage consultation">
            <ul>
                <li>
                    <i class="fa fa-qq"></i><span class="qq">: 2468498487</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:138-0521-1267(黄先生)</span>
                    </span>
                </li>
                <li>
                    <i class="fa fa-qq"></i><span class="qq">: 1611851968</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:186-5216-4156(张先生)</span>
                    </span>
                </li>
            </ul>
        </div>
</div>