<div class="hides" id="online-consultation-dialog">
        <div class="consultation">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-qq"></i><span class="qq">: 2468498487</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:138-0521-1267(黄先生)</span>
                    </span>
                </li>
                <li>
                    <i class="fa fa-qq"></i><span class="qq">: 1611851968</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:186-5216-4156(张先生)</span>
                    </span>
                </li>
            </ul>
        </div>
</div>