<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="footer-menu">
            <a href="http://www.hizuoye.com">服务条款</a>
            <a href="http://www.hizuoye.com">隐私协议</a>
            <a href="http://www.hizuoye.com">免责声明</a>
            <a href="http://www.hizuoye.com">使用条款</a>
            <a href="http://www.hizuoye.com/about.html">关于我们</a>
            <a href="http://www.hizuoye.com/about.html">加入我们</a>
            <a href="http://www.hizuoye.com/about.html">联系我们</a>
            </div>
            <p class="f-white text-center">Copyright © 2010-2015 Kuando Inc. All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;苏ICP备15025860号</p>
            <div id="bottomTools">
                <a id="weiXinEwm" class="weixin"></a>
                <a id="message" class="contact"></a>
                <a id="toTop" title="返回顶部" style="display: none;"></a>
            </div>
            <div id="ewmDialog" class="bootom-ewm" style="display: none">
                <p>微信关注</p>
                <img src="/images/ewm.jpg" width="120" height="120">
            </div>
        </div>
    </div>
</footer>
