<nav class="navbar navbar-inner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/logo.png" height="50"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><<user.displayName>><img class="m-t-n-xs pull-left m-r-xs img-circle"
                                                      src="http://resource.hizuoye.com/<<user.avatar | default('images/default/avatar.jpg')>>"
                                                      width="40" height="40">  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/<<user.role>>/profile"><i class="glyphicon glyphicon-user m-r-xs"></i>个人中心</a></li>
                        <li><a href="/<<user.role>>/qrcode"><i class="icon icon-qrcode f-s-14 m-r-xs"></i>二维码</a></li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-log-out m-r-xs"></i>退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar inner-menu shadow">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.role === 'school' %}
                <li class="item">
                    <a class="home" href="/school/home">首页</a>
                </li>
                <li class="dropdown item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">教务管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/school/teachers">教师管理</a></li>
                        <li><a href="/school/classes">班级管理</a></li>
                        <li><a href="/school/students">学生管理</a></li>
                    </ul>
                </li>
                <li class="dropdown item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">积分管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/school/scores/instruction">积分规则</a></li>
                        <li><a href="/school/scores/mall">积分商城</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/school/schedules">日程管理</a>
                </li>
                <li class="item">
                    <a href="/school/quizzes">题库资源</a>
                </li>
                <li class="dropdown item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">微网站 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/school/posts/create">文章发布</a></li>
                        <li><a href="/school/posts">所有文章</a></li>
                        <li><a href="/school/categories">栏目管理</a></li>
                    </ul>
                </li>
               
                <li class="dropdown item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">微活动 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/school/events">活动发布</a></li>
                        <li><a href="/school/events/manage">活动列表</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="item">
                    <a class="home" href="/teacher/home">
                        <i class="fa fa-home f-s-16 m-r-xs"></i>首页
                    </a>
                </li>
                <li class="dropdown item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">作业管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/teacher/homework/create">布置作业</a></li>
                        <li><a href="/teacher/homework">检查作业</a></li>
                        <li><a href="/teacher/homework/history">作业历史</a></li>
                    </ul>
                </li>
                <li class="item"><a href="/teacher/classes">我的班级</a></li>
                <li class="item">
                    <a href="/teacher/schedules">日程管理</a>
                </li>
                <li class="item">
                    <a href="/teacher/quizzes">题库资源</a>
                </li>
                <li class="item">
                    <a href="/teacher/questions">在线答疑</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% include 'response.html' %}