<div class="modal fade" id="onlineConsultationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">联系我们</h4>
            </div>
            <div class="modal-body">
                <div class="consultation">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-qq"></i><span class="qq">: 2468498487</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:138-0521-1267(黄先生)</span>
                    </span>
                        </li>
                        <li>
                            <i class="fa fa-qq"></i><span class="qq">: 1611851968</span>
                    <span class="phone-frame"><i class="fa fa-phone-square"></i>
                        <span class="phone">:186-5216-4156(张先生)</span>
                    </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>