{% extends '../layout.html' %}
{% block header %}
{% include './components/header.html' %}
{% endblock %}
{% block content %}
<!-- END OF BREADCRUMBS -->
<div class="w-base w-base-extraction w-base-border" style="height: 2000px;margin-left: -238px;">
    <div class="w-base-title" style="border-bottom: 0;">
        <div class="audio-guider">
            <div class="audio-recorder-software">
                <a class="w-btn w-btn-mini w-btn-green audio-link"
                   href="http://7xlmwi.dl1.z0.glb.clouddn.com/360录音软件.zip" target="_blank">
                    <i class="fa fa-cloud-download"></i>下载软件</a>
            </div>
        </div>
    </div>
</div>
{% include '../common/response.html' %}
{% endblock %}


{% block javascript %}

<script src="/js/entries/teacher/audio-guider.js"></script>

{% endblock %}
