{% extends 'base.html' %}
{% block css %}

{% endblock %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'家校通'}]) }}
<!-- END OF BREADCRUMBS -->

<div id="Anchor2" class="w-base w-base-border">
    <div class="w-base-title">
        <h3><i class="fa fa-table mr-5"></i>家校通</h3>
    </div>

    <div class="t-teacher-students-manager-tip" style="height: 16px">
        <div style="margin-left: -5px;margin-top: 3px"><span>请选择查看班级：</span></div>
        <div style="margin-top: -42px;margin-left: 88px;">
            <div class="t-del-homework" style="padding-left: 20px; height: 60px">
                <select class="dropdown" id="class-list">
                    {% for clazz in classes %}
                    <option value="{{clazz._id.toString()}}">
                        {{clazz.className}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>

    <div class="w-base-container">
        <div class="t-del-homework" style="padding-left: 16px; padding-top: 0px">
            <table id="students-list" class="display" width="100%" cellspacing="0" style="border-color: gray;">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/connection_pipe.js']);
</script>

{% endblock %}