{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <img class="m-b-md" src="http://static.hizuoye.com/images/MostredFriday_v1.png" width="100%" alt=""/>
    </div>
</div><!-- Row -->
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-white">
            <div class="visitors-chart">
                <div class="panel-body">
                    <!-- 布置作业 -->
                    {% set subClasses = classes.slice(0,3) %}
                    <div class="row m-b-lg home-work">
                            <div class="col-xs-6">
                                <h3>
                                    <span class="f-s-32 f-default m-r-xs">{{classes.length || 0}}</span>
                                    <span class="info">个班级可以布置作业</span>
                                </h3>
                                <!-- ngRepeat: clazz in assignList -->
                                <ul>
                                    {% for clazz in subClasses%}
                                    <li><a href="javascript:void(0);" title="{{clazz.className}}">{{clazz.className}}</a></li>
                                    {% endfor %}
                                    {% if classes.length > 3 %}
                                    <li>...</li>
                                    {% endif %}
                                </ul>
                                <!-- end ngRepeat: clazz in assignList -->
                            </div>
                            <div class="col-xs-6 text-center">
                                <div class="m-t-md" >
                                    <span class="w-hwk-icon w-hwk-icon-1"></span>
                                </div>
                                <div>
                                    <a title="布置作业" class="p-v-xxs p-h-xxl f-s-16 m-t-lg m-r-xs btn btn-default"
                                       href="/teacher/homework/create">布置作业</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-white">
            <div class="visitors-chart">
                <div class="panel-body">
                    <div class="row m-b-lg home-work">
                            <!-- 检查作业 -->
                            <div class="col-xs-6">
                                <h3><span class="f-s-32 f-pink m-r-xs">{{homeworkCount || 0}}</span><span
                                        class="info">份作业需要检查</span>
                                </h3>
                                <!-- ngRepeat: clazz in assignList -->
                                <ul>
                                    {% for homework in homeworkList %}
                                    <li><a href="/teacher/homework/{{homework._id.toString()}}"
                                           title="{{homework.clazz.className}}">{{homework.clazz.className}}</a>
                                    </li>
                                    {% endfor %}
                                    {% if homeworkCount && homeworkCount > 3 %}
                                    <li>...</li>
                                    {% endif %}
                                </ul>
                                <!-- end ngRepeat: clazz in assignList -->
                            </div>
                            <div class="col-xs-6 text-center">
                                <div class="m-t-md">
                                    <span class="w-hwk-icon w-hwk-icon-2"></span>
                                </div>
                                <div>
                                    <a title="检查作业" class="p-v-xxs p-h-xxl f-s-16 m-t-lg m-r-xs btn btn-pink" href="/teacher/homework">检查作业</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-trophy m-r-xs"></i>积分排行榜</h3>
                <div class="panel-control">
                    <select id="class-list" data-settings='{"cutOff":5}'>
                        {% if !classes || classes.length === 0 %}
                        <option value="">暂无班级</option>
                        {% endif %}
                        {% for clazz in classes %}
                        <option value="{{clazz.id}}">{{clazz.className}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="panel-body panel-height">
                <div class="chart-widget slimscroll">
                    <div id="rankList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../templates/scoreRankTemplate.html' %}
{% endblock %}
{% block javascript %}
<script>
    requirejs(['/js/app/teacher/home.js']);
</script>

{% endblock %}
