<!DOCTYPE html>
<html>
<head>
    <title><<title>>|培训机构招生营销系统|培训行业管理软件|云端作业|培训学校招生系统|培训班管理软件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="360家校云，微信营销平台，培训机构招生软件，培训学校管理系统，在线作业，教育培训管理软件，培训机构管理系统，培训管理软件"/>
    <meta name="description" content="360家校云是教育培训行业内领先的招生软件，为广大教育培训行业的客户提供先进的招生营销手段，为教育培训行业提供专业的招生营销解决方案。"/>
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/theme.css" rel="stylesheet" media="screen">
    <link href="/css/login.css?v=1" rel="stylesheet" media="screen">
</head>
<body>
<nav class="navbar navbar-inner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/y-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>
<div class="login-box">
    <div class="login-top">
        <legend>
            <h2>账号登录</h2>
        </legend>
    </div>
    <form class="m-t-md" id="loginForm" method="post" action="/login" autocomplete="off">
        <div class="form-group">
            <input class="form-control" id="username" name="username" placeholder="请输入账号" type="text" autocomplete="off">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="请输入密码" type="password" autocomplete="off">
        </div>
        <div class="error-explanation form-group" {% if !error %} style="display: none;" {% endif %}>
            <<error>>
        </div>
        <button type="button" class="btn btn-info btn-block btn-md" id="login-btn">登录</button>
    </form>
</div>
<div class="footer">
    <div class="footerText">
        <span><a href="http://www.hizuoye.com">服务条款</a></span>
        <span><a href="http://www.hizuoye.com">隐私协议</a></span>
        <span><a href="http://www.hizuoye.com">免责声明</a></span>
        <span><a href="http://www.hizuoye.com">使用条款</a></span>
        <span><a href="http://www.hizuoye.com/about.html">关于我们</a></span>
        <span><a href="http://www.hizuoye.com/about.html">联系我们</a></span>
        <span><a style="font-size: 16px" href="http://www.hizuoye.com">www.hizuoye.com</a>&nbsp;©2010-2015</span>
        <span>苏ICP备15025860号</span>
    </div>
</div>
<!--<div class="main">-->
    <!--<div class="main-bg">-->
        <!--<div class="login-top">-->
            <!--<legend>-->
                <!--<h2>账号登录</h2>-->
            <!--</legend>-->
        <!--</div>-->
        <!--<form class="form-control" id="loginForm" method="post" action="/login" autocomplete="off">-->
            <!--<div class="form-group"><img src="/images/login/yun-logo.png"></div>-->
            <!--<div class="form-group ml-10">-->
                <!--<input id="username" name="username" placeholder="请输入账号" type="text" autocomplete="off">-->
            <!--</div>-->
            <!--<div class="form-group ml-10">-->
                <!--<input id="password" name="password" placeholder="请输入密码" type="password" autocomplete="off">-->
            <!--</div>-->
            <!--<div class="error-explanation ls-5" {% if !error %} style="display: none;" {% endif %}>-->
                <!--<<error>>-->
            <!--</div>-->
            <!--<div class="form-group ml-10 ls-10">-->
                <!--<a class="btn-superbig solid-btn-green" id="login-btn">登录</a>-->
            <!--</div>-->

        <!--</form>-->
    <!--</div>-->
    <!--<div class="footer">-->
        <!--<div class="footerText">-->
            <!--<span><a href="http://www.hizuoye.com">服务条款</a></span>-->
            <!--<span><a href="http://www.hizuoye.com">隐私协议</a></span>-->
            <!--<span><a href="http://www.hizuoye.com">免责声明</a></span>-->
            <!--<span><a href="http://www.hizuoye.com">使用条款</a></span>-->
            <!--<span><a href="http://www.hizuoye.com/about.html">关于我们</a></span>-->
            <!--<span><a href="http://www.hizuoye.com/about.html">加入我们</a></span>-->
            <!--<span><a href="http://www.hizuoye.com/about.html">联系我们</a></span>-->
            <!--<span><a style="font-size: 16px" href="http://www.hizuoye.com">www.hizuoye.com</a>&nbsp;©2010-2015</span>-->
            <!--<span>苏ICP备15025860号</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var $form = $('#loginForm');
        $form.submit(function (event) {
            var username = $('#username').val().trim();
            var password = $('#password').val().trim();
            var message = '';
            if (username === "") {
                message = '请输入用户名';
            } else if (password === "") {
                message = '请输入密码';
            }
            if (message !== '') {
                event.preventDefault();
                $('.error-explanation').text(message).show();
                return false;
            }
            $('#login-btn').text('登录中');
        });
        //提交表单
        $(function(){
            $(document).keydown(function(event){
                if(event.keyCode==13){
                    $form.submit();
                }
            });
        });
        $('#login-btn').click(function () {
            $form.submit();
        });
    });
</script>
</html>
