{% extends '../base.html' %}

{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'', 'title':'问题列表'},{'url':'','title':'问题详情'}]) }}
<!-- END OF BREADCRUMBS -->

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-list m-r-xxs"></i>问题详情</h4>
            </div>
            <div class="panel-body">
                <div class="line"><img src="/images/question-icon.png">
                    <div class="question-img">
                        {% if question.questionImage %}
                        <img src="http://resource.hizuoye.com/{{question.questionImage}}">
                        {% endif %}
                    </div>
                    <div class="question-info">
                        <p class="info-p">{{question.questionText}}</p>
                    </div>
                </div>
                <div class="teacher-msg quest-mt">
                    <div class="line"><img src="/images/answer-icon.png" class="quest-fl">

                        <div class="msg-box">
                            <textarea class="w-que-answer" rows="3" {% if question.state %} readonly {% endif %} >{{question.answer}}</textarea>
                        </div>
                        <div class="btn-areas msg-save">
                            {% if question.state === 1 %}
                            <a class="btn btn-white" href="/teacher/question#state1">返回</a>
                            {% else %}
                            <a class="btn btn-default">保存</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 题型模版 -->
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/questions/list-questions.js']);
</script>


{% endblock %}