{% extends '../base.html' %}

{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'', 'title':'问题列表'},{'url':'','title':'问题详情'}]) }}
<!-- END OF BREADCRUMBS -->


<div class="w-base w-base-extraction w-base-border">
    <div class="w-base-title">
        <h3><i class="fa fa-list mr-5"></i>问题详情</h3>
    </div>
    <div class="w-base-container">
        <div class="line"><img src="/images/question-icon.png">
            <div class="question-img">
                <img src="http://resource.hizuoye.com/{{question.questionImage}}">
            </div>
            <div class="question-info">
                <p class="info-p">{{question.questionText}}</p>
            </div>
        </div>
        <div class="teacher-msg quest-mt">
            <div class="line"><img src="/images/answer-icon.png" class="quest-fl">

                <div class="msg-box">
                    <textarea class="w-que-answer" rows="3" {% if question.state %} readonly {% endif %} >{{question.answer}}</textarea>
                </div>
                <div class="btn-areas msg-save">
                    {% if question.state %}
                    <a class="btn-middle solid-btn-green" href="/teacher/question">返回</a>
                    {% else %}
                    <a class="btn-middle solid-btn-green">保存</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 题型模版 -->
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script>
    requirejs(['/js/app/teacher/questions/list-questions.js']);
</script>


{% endblock %}