{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'积分商城'}]) }}
<!-- END OF BREADCRUMBS -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">商品列表</h4>

                <div class="panel-control">
                    <button type="button" id="add-product-btn"
                            class="v-add-student btn btn-default btn-sm"
                            data-toggle="modal"
                            data-target="#productModal">
                        <i class="fa fa-plus m-r-xxs"></i>添加商品
                    </button>
                </div>
            </div>
            <div class="panel-body">
                {% if !exchanges || exchanges.length === 0%}
                <div class="m-t-sm m-l-sm">
                    <span>提示：当前商城没有任何商品，请点击 [添加商品] 创建商品列表！</span></div>
                {% endif %}
                <div class="alert-2 alert-warning-2">
                    备注：微信端积分商城会根据积分数自动排序，设置时可以不用考虑顺序问题。
                </div>
                <ul class="cd-gallery" id="product-list">
                    {% for exchange in exchanges %}
                    <li id="{{exchange._id.toString()}}">
                        <a href="#">
                            <img class="lazy center-block m-t-xs"
                                 src="{{resourceURL}}/{{exchange.imageKey}}?imageView2/1/w/205/h/160/interlace/1">
                        </a>

                        <div class="cd-item-info">
                            <b>{{exchange.productName}}</b>
                            <b class="cd-price">积分：{{exchange.score}}</b>
                        </div>
                        <div class="cd-item-details">
                            <a href="#" class="pull-left add-to-cart"><i class="fa fa-shopping-cart"></i>数量：{{exchange.stock}}</a>
                            <button class="pull-right btn btn-pink btn-xs m-t-xs m-r-xs delete-btn">删除</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">商品信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-sm" id="productForm" name="productForm">
                    <div class="form-group">
                        <label for="productName" class="col-xs-3 control-label">商品名称：</label>

                        <div class="col-xs-8">
                            <input class="form-control validate" type="text"
                                   name="productName"
                                   id="productName"
                                   data-rules="required"
                                   data-display="商品名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stock" class="col-xs-3 control-label">商品数量：</label>

                        <div class="col-xs-8">
                            <input class="form-control validate" type="text"
                                   name="stock"
                                   id="stock"
                                   data-rules="required|integer"
                                   data-display="商品数量">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="score">兑换积分：</label>
                        <div class="col-xs-8">
                            <input class="form-control validate" type="text"
                                   name="score"
                                   id="score"
                                   data-rules="required|integer"
                                   data-display="积分">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">商品图片：</label>
                        <div class="col-xs-8">
                            <input type="file" id="imageUpload">
                            <div class="pro-image-frame">
                                <img id="imagePreview" src="" width="240px" height="160px">
                            </div>
                            <input type="hidden" name="imageKey" id="imageKey"
                                   class="form-control validate"
                                   data-rules="required"
                                   data-display="图片">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-8">
                            <button type="submit" class="btn btn-info">确定</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<
<script src="/js/entries/school/scores/list-products.js"></script>

{% endblock %}
