{% extends '../base.html' %}
{% block content %}
<!-- 面包屑 -->
{{ breadcrumb.init([{'url':'','title':'积分商城'}]) }}
<!-- END OF BREADCRUMBS -->
<!--<div class="w-base ng-scope w-base-extraction w-base-border">-->
    <!--<div class="w-base-title">-->
        <!--<h3><i class="fa  fa-list  fa-fw mr-5"></i>所有商品</h3>-->

        <!--<div class="w-base-right w-base-right-ext" style="padding: 0px 11px 0 0;">-->
            <!--<a class="v-add-student btn-middle solid-btn-green" href="javascript:void(0);"-->
               <!--style="margin-right: -8px;"-->
               <!--id="add-product-btn">+添加商品</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="smart_clazz_list" id="product-list">-->
        <!--{% if !exchanges || exchanges.length === 0%}-->
        <!--<div style="margin-left: 18px;margin-top: 15px">-->
            <!--<span>提示：当前商城没有任何商品，请点击 [添加商品] 创建商品列表！</span></div>-->
        <!--{% endif %}-->
        <!--<div class="list-products-hint">-->
            <!--备注：微信端积分商城会根据积分数自动排序，设置时可以不用考虑顺序问题。-->
        <!--</div>-->

        <!--<ul>-->
            <!--{% for exchange in exchanges %}-->

            <!--<li id="{{exchange._id.toString()}}">-->
                <!--<div class="ground_color ground_color_0"-->
                     <!--style="width:220px;text-align: center;vertical-align: middle;display: table-cell">-->
                    <!--<a class="product-photo-thumb" href="{{resourceURL}}/{{exchange.imageKey}}" target="_blank"-->
                       <!--data-lightbox="zoom-photo">-->
                        <!--<img class="lazy" style="vertical-align: middle;margin-top: 20px"-->
                             <!--src="/images/loading.gif"-->
                             <!--data-original="{{resourceURL}}/{{exchange.imageKey}}?imageView2/1/w/192/h/160/interlace/1">-->

                        <!--<div class="product-hover-mask">-->
                            <!--<i class="fa fa fa-search-plus fa-4x" style="margin-top: 50px"></i>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="title">-->
                    <!--<h3>名称：&nbsp;{{exchange.productName}}</h3>-->
                <!--</div>-->
                <!--<div class="quantity">-->
                    <!--<h3>数量：&nbsp;{{exchange.stock}}</h3>-->
                <!--</div>-->
                <!--<div class="quantity">-->
                    <!--<h3>积分：&nbsp;{{exchange.score}}-->
                        <!--<div class="righter-del">-->
                            <!--<a class="btn-small a-btn-red delete-btn">删除</a>-->
                        <!--</div>-->
                    <!--</h3>-->

                <!--</div>-->
            <!--</li>-->

            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default shadow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title"><i class="fa fa-clock-o m-r-xs"></i>商品列表</h4>

                <div class="panel-control">
                    <button type="button" id="add-product-btn" class="v-add-student btn btn-default btn-xs">+添加商品
                    </button>
                </div>
            </div>
            <div class="panel-body">
                {% if !exchanges || exchanges.length === 0%}
                <div class="m-t-sm m-l-sm">
                    <span>提示：当前商城没有任何商品，请点击 [添加商品] 创建商品列表！</span></div>
                {% endif %}
                <div class="list-products-hint">
                    备注：微信端积分商城会根据积分数自动排序，设置时可以不用考虑顺序问题。
                </div>
                <ul class="cd-gallery" id="product-list">
                    {% for exchange in exchanges %}
                    <li id="{{exchange._id.toString()}}">
                        <a href="#">
                            <img class="lazy center-block m-t-xs" src="/images/loading.gif"
                                 data-original="{{resourceURL}}/{{exchange.imageKey}}?imageView2/1/w/205/h/160/interlace/1">
                        </a>

                        <div class="cd-item-info">
                            <b>{{exchange.productName}}</b>
                            <b class="cd-price">积分：{{exchange.score}}</b>
                        </div>
                        <div class="cd-item-details">
                            <a href="#" class="pull-left add-to-cart"><i class="fa fa-shopping-cart"></i>数量：{{exchange.stock}}</a>
                            <button class="pull-right btn btn-pink btn-xs m-t-xs m-r-xs delete-btn">删除</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="hides" id="add-product-dialog">
    <form class="form-horizontal m-t-sm" id="product-form">
        <div class="form-group">
            <label for="productName" class="col-xs-3 control-label">商品名称：</label>

            <div class="col-xs-8">
                <input class="form-control" type="text" name="productName" id="productName">
            </div>
        </div>
        <div class="form-group">
            <label for="stock" class="col-xs-3 control-label">商品数量：</label>

            <div class="col-xs-8">
                <input class="form-control" type="text" name="stock" id="stock">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="score">兑换积分：</label>

            <div class="col-xs-8">
                <input class="form-control" type="text" name="score" id="score">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">商品图片：</label>

            <div class="col-xs-8">
                <a class="btn btn-default btn-xs btn-custom m-b-xxs"
                   href="javascript:void(0);" id="local_image_upload"><i class="fa fa-cloud-upload mr-5"></i>上传</a>

                <div class="pro-image-frame">
                    <img id="imagePreview" src="" width="240px" height="160px">
                </div>
                <input type="hidden" name="imageKey" id="imageKey">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
                <button type="button" class="btn btn-info layer-ok-btn">确定</button>
                <button type="button" class="btn btn-white layer-close-btn">取消</button>
            </div>
        </div>
    </form>
    <!--</form>-->
</div>

{% endblock %}

{% block javascript %}
<script>
    requirejs(['/js/app/school/scores/list-products.js']);
</script>

{% endblock %}
